{# [INFO] Message, if JavaScript disabled

[LEARN][HTML] ARIA roles:
http://prgssr.ru/development/ispolzovanie-aria-v-html5.html#heading-aria

[INFO] “section” tag wrong in this case, I use “div” instead it:
“Section lacks heading. Consider using “h2”-“h6” elements to add identifying headings to all sections.”
https://www.w3.org/TR/2017/NOTE-wai-aria-practices-1.1-20171214/examples/alert/index.html
#}
<div role="alert">
	<noscript class="SashaDisabledJavaScriptMessage">
		<p>Sorry, this site doesn’t work, if JavaScript disabled. Please, <a href="https://activatejavascript.org/en/instructions" rel="noopener" target="_blank">enable JavaScript for your browser</a>.</p>
		{# [LEARN][JINJA][PYTHON] Split “.md” extension — remove 3 last symbols:
		https://www.pythoncentral.io/cutting-and-slicing-strings-in-python/ #}
		<p>This site is open source; you can view <a href="{{ GITHUB_OUTPUT_URL }}/blob/master/{{ kira_object.get_relative_source_path()[:-3] }}.html" rel="noopener" target="_blank">source of this page</a>, to make sure that it's not dangerous for your computer.</p>
		<p>Owner of this site thinks that <a href="https://stackoverflow.com/a/17073999/5951529" rel="noopener" target="_blank">JavaScript disabling — is obsolete action in {{ CURRENTYEAR }}</a> and <a href="https://www.reddit.com/r/webdev/comments/48z7jz/do_you_take_into_account_those_who_disable/d0nxftd/" rel="noopener" target="_blank">will not support users who did this</a>.</p>
		<p>Probably, <a href="https://www.howtogeek.com/138865/htg-explains-should-you-disable-javascript/" rel="noopener" target="_blank">you don’t need turn off JavaScript</a>.</p>
	</noscript>
</div>
