{#
[INFO][DEFER.JS] “waitForInteraction” — defer.js timer run if user interact with site content:
https://github.com/shinsenter/defer.js/#deferjsfileurl-id-delay-onload-waitforinteraction--void

[INFO][JAVASCRIPT] Use “null” before “waitForInteraction”. Blank value is incorrect.
#}


{# [DECLINED] No free plan

[INFO] Ostr.io — ethical analythics:
https://github.com/VeliovGroup/ostrio-analytics#why-ostrio-analytics

[NOTE] Development mode must be enabled for correct clean-console work:
https://github.com/VeliovGroup/ostrio-analytics/issues/2#issuecomment-421593817
#}


{#
[INFO] typo-reporter

[NOTE] I migrated from npmcdn to JSDelivr; npmcdn hangs
#}


{# [INFO] Browser-Update — notification, if site visitor use old or bad browser:
https://browser-update.org/ #}
<script>
	Defer.js('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/Browser-Update/browser-update{{ MIN }}.js', 'browser-update', 7000);
	Defer.js('https://cdn.jsdelivr.net/npm/typo-reporter/lib/TypoReporter.min.js', 'typo-reporter', 7000, null, true);
</script>


{# [DEPRECATED] Wildfire no longer functioning more:
https://github.com/cheng-kang/wildfire/issues/53

[NOTE] Even if Wildfire will work again, I won’t use it
until a way to be notified of comments is added. It’s critical problem.
https://github.com/cheng-kang/wildfire/issues/47

[INFO] Wildfire — comments for static sites:
https://wildfire.js.org

[WARNING] I can’t get Wildfire notifications:
https://github.com/cheng-kang/wildfire/issues/47

[INFO] Add Wildfire lazy, because it makes web pages load faster:
https://stackoverflow.com/a/63869810/5951529
<script>
	Defer.js('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/Wildfire/wildfire{{ MIN }}.js', 'wildfire-local', 7000);
</script>
#}


{% if kira_object.lang == 'ru' %}
	<script>
		Defer.js('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/typo-reporter/typo-reporter-ru{{ MIN }}.js', 'typo-reporter-local-ru', 9000, null, true);
	</script>
{% else %}
	<script>
		Defer.js('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/typo-reporter/typo-reporter-en{{ MIN }}.js', 'typo-reporter-local-en', 9000, null, true);
	</script>
{% endif %}


{# [INFO] utterances themes.

[REQUIRED] Set “kira_utterances_theme” variable before it usage on this page.

[NOTE] I can’t overwrite in my CSS content of “iframe”:
https://stackoverflow.com/questions/217776#comment3242708_217776

Utterances doesn’t support custom themes:
https://github.com/utterance/utterances/issues/367

[NOTE] Some utterances iframe elements may have bad accessibility with my themes:
https://i.imgur.com/wiqr25S.png #}
{% if kira_object.pagecolors == "gingerinas" %}
	{% set kira_utterances_theme = "github-light" %}
{% elif kira_object.pagecolors == "giologica" %}
	{% set kira_utterances_theme = "boxy-light" %}
{% elif kira_object.pagecolors == "giologica-blue" %}
	{% set kira_utterances_theme = "boxy-light" %}
{% elif kira_object.pagecolors == "it-articles" %}
	{% set kira_utterances_theme = "preferred-color-scheme" %}
{% elif kira_object.pagecolors == "programs" %}
	{% set kira_utterances_theme = "gruvbox-dark" %}
{% elif kira_object.pagecolors == "sasha-black-description" %}
	{% set kira_utterances_theme = "github-dark-orange" %}
{% elif kira_object.pagecolors == "smert-svobode" %}
	{% set kira_utterances_theme = "photon-dark" %}
{% endif %}


{# [INFO] Utterances — GitHub Issues based comment system for static sites:
https://utteranc.es/

[NOTE] Utterances is solely for GitHub commenting.
Staticman supports GitLab, but its installing and configuring too hard:
https://nithiya.gitlab.io/post/staticman-jekyll-gitlab/


[LEARN][DEFER.JS] “Defer.dom” allows a function to run when the user scrolls to a specific page element:
https://github.com/shinsenter/defer.js/#Defer.dom

“.KiraUtterances” — the class on scroll to which the function is launched;
“0” — time delay before starting a function;
“KiraUtterancesDeferJS” — a new class that is added to the old one,
in my case “<div class="KiraUtterances">” transform to “<div class="KiraUtterances KiraUtterancesDeferJS">”;
“function” — run “<script>” “https://utteranc.es/” use DOM

[LEARN][JAVASCRIPT] Create “<script>” element:
https://www.javascripttutorial.net/javascript-dom/javascript-createelement/

[LEARN][JAVASCRIPT] Use “setAttribute” bracket notation for adding attributes
instead of “kira_utterances_defer.attribute = "attribute-value"” dot notation.
Attributes and attribute values with hyphens may works incorrectly:
https://stackoverflow.com/a/44726248/5951529

[NOTE] Don’t use “document.body.appendChild”! utterances iframe added outside the web page:
https://stackoverflow.com/a/15743136/5951529
Use “getElementsByClassName("KiraUtterances")[0]” syntax instead,
it will add “<script>” inside “<div class="KiraUtterances"></div>” tag:
https://stackoverflow.com/a/12622638/5951529
https://stackoverflow.com/a/31861208/5951529
#}
<script>
	Defer.dom('.KiraUtterances', 0, 'KiraUtterancesDeferJS', function() {
			let kira_utterances_defer = document.createElement('script');
			kira_utterances_defer.setAttribute("src", "https://utteranc.es/client.js");
			kira_utterances_defer.setAttribute("repo", "Kristinita/KristinitaPelican");
			kira_utterances_defer.setAttribute("issue-term", "title");
			kira_utterances_defer.setAttribute("label", "Utterances");
			kira_utterances_defer.setAttribute("theme", "{{ kira_utterances_theme }}");
			kira_utterances_defer.setAttribute("crossorigin", "anonymous");
			document.getElementsByClassName("KiraUtterances")[0].appendChild(kira_utterances_defer);
		});
</script>


{#
[DECLINED]

1. Fancybox doesn’t work with gemini-scrollbar
+ Fancybox author quickly closes my detailed issue:
https://github.com/fancyapps/fancybox/issues/2186
2. JQuery required for Fancybox

[INFO] Fancybox — lightbox library for presenting various types of media:
https://fancyapps.com/fancybox/3/

[NOTE] In CDNJS not possible latest version
https://stackoverflow.com/q/14801334/5951529


<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox/dist/jquery.fancybox.min.css">
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox/dist/jquery.fancybox.min.js" defer></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/Fancybox/fancybox{{ MIN }}.js" defer></script>
#}


{#
[DECLINED]

1. Developer type — closer, see:
https://github.com/nicolas-t/Chocolat/issues/121
https://github.com/nicolas-t/Chocolat/issues/120
2. hes-gallery is smaller
[COMPARE] https://cdn.jsdelivr.net/npm/hes-gallery/dist/hes-gallery.min.js
https://cdn.jsdelivr.net/npm/hes-gallery/dist/hes-gallery.min.js

[INFO] Chocolat — vanilla js library for images zoom:
http://chocolat.insipi.de/
[INFO] Documentation:
https://chocolat.gitbook.io/chocolat/

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chocolat/dist/css/chocolat.min.css">
<script src="https://cdn.jsdelivr.net/npm/chocolat/dist/js/chocolat.min.js" defer></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/Chocolat/chocolat{{ MIN }}.js" defer></script>
#}


{# [DECLINED] In 2020 modern browsers supports “details/summary”:
https://caniuse.com/#search=details

[INFO] Add support for “details” and “summary” tags for old browsers:
http://ru.stackoverflow.com/a/498984/199934
{% block base_detailspolyfill %}
	{% if kira_object.detailspolyfill == 'true' %}
		<script src="{{ SITEURL }}/js/Details-Polyfill/details1{{ MIN }}.js" defer></script>
		<script src="{{ SITEURL }}/js/Details-Polyfill/details2{{ MIN }}.js" defer></script>
	{% endif %}
{% endblock %} #}


{# [INFO] Mailerlite — subscribe to categories/tags by RSS:
http://help.mailerlite.com/article/show/28992-how-do-rss-campaigns-work

[FIXME][ISSUE] RSS displayed not correctly in subscriber’s e-mail:
https://github.com/Kristinita/SashaMiscellaneous/issues/18

[FIXME][ISSUE] CoffeeScript doesn’t supported:
https://github.com/Kristinita/SashaMiscellaneous/issues/19
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/MailerLite/mailerlite{{ MIN }}.js" defer></script> #}
