// Tooltipster
Sasha-Tooltipster-Purple-Bottom = orange
Sasha-Tooltipster-Purple-Background = purple

Sasha-Tooltipster-Aquamarine-Bottom = hotpink
Sasha-Tooltipster-Aquamarine-Background = forestgreen

@import "core-tooltipster.styl"
