/* >> Tooltipster
	========================================================================== */

.tooltipster-punk-purple
	.tooltipster-box
		border-bottom .1875rem solid Sasha-Tooltipster-Purple-Bottom
		background Sasha-Tooltipster-Purple-Background

.tooltipster-punk-aquamarine
	.tooltipster-box
		border-bottom .1875rem solid Sasha-Tooltipster-Aquamarine-Bottom
		background Sasha-Tooltipster-Aquamarine-Background
