[submodule "output"]
    path = output
    url = https://github.com/Kristinita/KristinitaPelican.git
[submodule "pelican-plugins"]
    path = pelican-plugins
    url = https://github.com/getpelican/pelican-plugins.git