; [ACTION] Disable packages audit:
; https://docs.npmjs.com/auditing-package-dependencies-for-security-vulnerabilities#installing-all-packages
; [PURPOSE] Possibly, it makes the Node.js and Grunt commands less slow
; [LEARN][NODEJS] “.npmrc”:
; https://docs.npmjs.com/configuring-npm/npmrc
; [INFO] “.npmrc” uses INI syntax:
; https://docs.npmjs.com/configuring-npm/npmrc#comments
; [INFO] Per-project “.npmrc”:
; https://docs.npmjs.com/configuring-npm/npmrc#per-project-config-file
audit=false
