<?xml version="1.0" encoding="utf-8"?>
	<packages>
		<package id="nodejs" />
		<!-- [INFO] PhantomJS for clear-console running -->
		<package id="phantomjs" />
		<!-- [NOTE] Use -ignoredependencies for HTML Tidy installation to AppVeyor
		https://github.com/majkinetor/au-packages/issues/75
		https://ci.appveyor.com/project/Kristinita/sashatidydebugging/build/1.0.12

		[NOTE] I didn’t find in official documentation, is required “-”
		before “ignoredependencies”, but judging by the examples on GitHub — yes.
		https://github.com/search?l=XML&q=installArguments%3D%22&type=Code
		-->
		<package id="html-tidy" installArguments="-ignoredependencies" />
	</packages>
