<div role="alert">
	<noscript class="SashaDisabledJavaScriptMessage">
		<p>Sorry, this site doesn’t work, if JavaScript disabled. Please, <a href="https://activatejavascript.org/en/instructions" rel="noopener" target="_blank">enable JavaScript for your browser</a>.</p>
		<p>Owner of this site thinks that <a href="https://stackoverflow.com/a/17073999/5951529" rel="noopener" target="_blank">JavaScript disabling — is obsolete action in {{ CURRENTYEAR }}</a> and <a href="https://www.reddit.com/r/webdev/comments/48z7jz/do_you_take_into_account_those_who_disable/d0nxftd/" rel="noopener" target="_blank">will not support users who did this</a>.</p>
		<p>Probably, <a href="https://www.howtogeek.com/138865/htg-explains-should-you-disable-javascript/" rel="noopener" target="_blank">you don’t need turn off JavaScript</a>.</p>
	</noscript>
</div>
