/*
* @Author: Kristinita
* @Date:   2017-03-23 09:16:25
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 14:39:18
*/
/* ==========================================================================
   General
   ========================================================================== */
aside {
  position: relative;
  background-size: cover;
  height: 100%;
}
/* Text in aside bottom */
.SashaBottomAside {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  position: absolute;
  bottom: 7%;
  left: 10%;
  width: 80%;
}
/* ==========================================================================
   Media
   ========================================================================== */
/* For mobile devices */
@media screen and (max-width: 60rem) {
  aside {
    width: 100%;
  }
}
/* For PC */
@media screen and (min-width: 60rem) {
  aside {
    width: 35%;
  }
  .gm-scrollbar-container {
    width: 65%;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImFzaWRlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTs7Ozs7RUFLRTtBQUNGOztnRkFFZ0Y7QUFDaEY7RUFDRSxtQkFBbUI7RUFDbkIsdUJBQXVCO0VBQ3ZCLGFBQWE7Q0FDZDtBQUNELDBCQUEwQjtBQUMxQjtFQUNFLGdCQUFnQjtFQUNoQixrQkFBa0I7RUFDbEIsbUJBQW1CO0VBQ25CLG1CQUFtQjtFQUNuQixXQUFXO0VBQ1gsVUFBVTtFQUNWLFdBQVc7Q0FDWjtBQUNEOztnRkFFZ0Y7QUFDaEYsd0JBQXdCO0FBQ3hCO0VBQ0U7SUFDRSxZQUFZO0dBQ2I7Q0FDRjtBQUNELFlBQVk7QUFDWjtFQUNFO0lBQ0UsV0FBVztHQUNaO0VBQ0Q7SUFDRSxXQUFXO0dBQ1o7Q0FDRiIsImZpbGUiOiJhc2lkZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIvKlxuKiBAQXV0aG9yOiBLcmlzdGluaXRhXG4qIEBEYXRlOiAgIDIwMTctMDMtMjMgMDk6MTY6MjVcbiogQExhc3QgTW9kaWZpZWQgYnk6ICAgS3Jpc3Rpbml0YVxuKiBATGFzdCBNb2RpZmllZCB0aW1lOiAyMDE3LTA1LTA5IDE0OjM5OjE4XG4qL1xuLyogPT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT1cbiAgIEdlbmVyYWxcbiAgID09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09ICovXG5hc2lkZSB7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgaGVpZ2h0OiAxMDAlO1xufVxuLyogVGV4dCBpbiBhc2lkZSBib3R0b20gKi9cbi5TYXNoYUJvdHRvbUFzaWRlIHtcbiAgZm9udC1zaXplOiAycmVtO1xuICBsaW5lLWhlaWdodDogMnJlbTtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIGJvdHRvbTogNyU7XG4gIGxlZnQ6IDEwJTtcbiAgd2lkdGg6IDgwJTtcbn1cbi8qID09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09XG4gICBNZWRpYVxuICAgPT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT0gKi9cbi8qIEZvciBtb2JpbGUgZGV2aWNlcyAqL1xuQG1lZGlhIHNjcmVlbiBhbmQgKG1heC13aWR0aDogNjByZW0pIHtcbiAgYXNpZGUge1xuICAgIHdpZHRoOiAxMDAlO1xuICB9XG59XG4vKiBGb3IgUEMgKi9cbkBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDYwcmVtKSB7XG4gIGFzaWRlIHtcbiAgICB3aWR0aDogMzUlO1xuICB9XG4gIC5nbS1zY3JvbGxiYXItY29udGFpbmVyIHtcbiAgICB3aWR0aDogNjUlO1xuICB9XG59XG4iXX0= */