/** @Author: Kristinita
* @Date:   2016-12-26 15:48:38
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 19:36:48



/* ==========================================================================
   General
   ========================================================================== */
/* For correct Mailhu displayed*/
html,
main,
body {
  height: 100%;
}
html {
  overflow-x: hidden;
/* Чтобы margin-top для Сашиных икон работал на мобильных устройствах */
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1875rem;
  overflow: hidden;
/* Чтобы margin-top для Сашиных икон работал на мобильных устройствах*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
/* Чтобы ссылки не подчёркивались */
}
a:focus {
  outline: 0;
}
/*
 * Tables
 */
/*
 * Basic style — https://css-tricks.com/complete-guide-table-element/#article-header-id-4
 */
td,
th {
  padding: 0.5rem;
}
/*
 * Disable dotted outline, if user move by links use tab key, see
 * https://css-tricks.com/removing-the-dotted-outline/
 */
/* Disable, because incorrect works indents in lists, example:
<li>
<p>Kristina</p>
</li>
*/
/*
ol,
ul {
    list-style-position: inside;
     Чтобы маркеры списка не пропадали на мобильных версиях
}
*/
/*Отступ от левого края элементов вложенного списка*/
ul li {
  margin-left: 1rem;
}
h1 {
  font-family: 'Истина';
  font-size: 1.9375rem;
  font-weight: lighter;
  font-style: normal;
/* Снизить яркость тексту */
  -webkit-filter: brightness(97%);
  filter: brightness(97%);
}
h2 {
  font-family: 'Мечта';
  font-size: 1.4rem;
}
kbd {
  font-weight: bold;
  border-radius: 0.1875rem;
}
noscript >span {
  unicode-bidi: bidi-override;
  direction: rtl;
}
/*
 * Dd, dt, dl tags
 * https://webref.ru/html/dd
 */
dt {
  font-weight: bold;
}
dd {
  font-style: italic;
}
/* Images
   ========================================================================== */
img {
  max-width: 100%;
  margin: 0 auto;
}
/* Картинка слева */
.leftimg {
  float: left;
/* Картинка слева */
  margin: 0.3125rem 0.3125rem 0.3125rem 0;
/* Расстояние между картинкой и текстом */
}
/* Картинка справа */
.rightimg {
  float: right;
/* Картинка справа */
  margin: 0.3125rem 0 0.3125rem 0.3125rem;
/* Расстояние между картинкой и текстом */
}
/*
 * Ширина изображения
 */
.Sasha140 {
  width: 8.75rem;
}
.Sasha280 {
  width: 17.5rem;
}
.Sasha470 {
  width: 29.375rem;
}
.Sasha700 {
  width: 43.75rem;
}
/*
 * JQuery Lazy
 * http://jquery.eisbehr.de/lazy/
 * I need add min-width to my images:
 * https://github.com/eisbehr-/jquery.lazy/issues/86
 */
.SashaLazy {
  min-width: 1rem;
}
/* Videos
   ========================================================================== */
/*
 * Embed iframes videos
 */
.SashaVideo {
  width: 100%;
  position: relative;
  padding-bottom: 74.38%;
}
iframe {
  width: 100%;
  height: 100%;
  position: absolute;
/* Instead of frameborder — http://stackoverflow.com/a/10831379/5951529 */
  border: 0;
}
/* Blockquotes
   ========================================================================== */
/*  Цитата в прямоугольнике */
.SashaBlockquote {
  padding: 0.25rem;
  border-width: thick;
  border-top-style: ridge;
  border-right-style: groove;
  border-bottom-style: groove;
  border-left-style: ridge;
}
/* Epigraph */
.SashaEpigraph {
  font-style: italic;
  margin: 4rem 0;
  text-align: right;
/* Disable gradient for em tag */
/* Inscription after epigraph */
}
.SashaEpigraph > em {
  background-image: none;
}
.SashaEpigraph > .SashaEpigraphAuthor {
  line-height: 1rem;
  margin: 2rem 0;
  font-style: italic;
}
/* Цитата — кавычки сверху и снизу */
.SashaCitation {
  display: inline-block;
}
.SashaTopQuote {
  display: inline-block;
  margin: 1.8rem 0 0;
  font-size: 3rem;
  line-height: 0;
  vertical-align: -0.2rem;
}
.SashaBottomQuote {
  display: inline-block;
  font-size: 3rem;
  line-height: 0;
  vertical-align: -2.5rem;
}
/* Цитата с вертикальной полосой слева */
blockquote {
  font-size: 1.1875rem;
  font-style: italic;
  margin: 0.625rem 2.5rem;
  padding: 0.9375rem;
}
/* Code
   ========================================================================== */
code {
  font-size: 1.1875rem;
}
/* Код переносится на следующую строку, если не помещается */
pre {
  white-space: pre-wrap;
  -moz-tab-size: 4;
/* Иначе tab=8 в Rainbow коде*/
  -o-tab-size: 4;
  tab-size: 4;
}
/* ==========================================================================
   Sasha-tags
   ========================================================================== */
/* Версия статьи */
.SashaVersion {
  font-size: 0.9rem;
  font-weight: bold;
}
/* Заголовок H1 */
.SashaHeader {
  line-height: 0.7rem;
/* Интерлиньяж в заголовке */
}
/* Тень вверху страницы. */
.SashaShadow {
  font-family: 'Times New Roman';
  font-size: 1.6rem;
/* Размер надписи */
  width: auto;
  text-shadow: 0 0 0.625rem #ff00de, 0 0 1.25rem #ff00de, 0 0 1.875rem #ff00de, 0 0 2.5rem #ff00de, 0 0 3.125rem #ff00de, 0 0 3.75rem #ff00de;
/* Параметры тени */
}
/* Расположение элемента по центру */
.SashaCenter {
  text-align: center;
}
/* Обрамление изображения с Настей*/
.SashaSign {
/* Параметры рамки */
  padding: 0.4375rem;
/* Поля внутри блока */
  margin: 0.3125rem 0 0.3125rem 0;
}
/* Подчёркивание точками */
SashaDot {
  border-bottom: 0.0625rem dotted #dc143c;
/* Параметры линии */
}
/* TOC статей */
.SashaTOC {
  list-style-type: none;
/* Прячем исходную нумерацию */
  padding: 0 0 0 1rem;
}
/* Отступы в списке */
.SashaOlMargin {
  margin-left: 1rem;
}
/* Made inline block elements */
.SashaInline {
  float: left;
}
/* Отступ сверху см. http://ru.stackoverflow.com/a/613468/199934 */
.SashaEmNoColor,
.WorkOnYourself {
  margin: 5rem 0 0;
}
.SashaEmNoColor {
  font-style: italic;
}
/* ==========================================================================
   Scripts and plugins
   ========================================================================== */
/* Clipboard.js button */
.SashaButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
/* Tooltipster theme */
.tooltipster-punk-purple .tooltipster-box {
  border: none;
  border-radius: 5px;
}
.tooltipster-punk-aquamarine .tooltipster-box {
  border: none;
  border-radius: 5px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJhc2ljLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTs7Ozs7Ozs7O2dGQVNnRjtBQUNoRixpQ0FBaUM7QUFDakM7OztFQUdFLGFBQWE7Q0FDZDtBQUNEO0VBQ0UsbUJBQW1CO0FBQ3JCLHdFQUF3RTtDQUN2RTtBQUNEO0VBQ0UsNERBQTREO0VBQzVELHFCQUFxQjtFQUNyQixpQkFBaUI7QUFDbkIsdUVBQXVFO0VBQ3JFLFlBQVk7RUFDWixhQUFhO0VBQ2IsVUFBVTtFQUNWLFdBQVc7Q0FDWjtBQUNEO0VBQ0Usc0JBQXNCO0FBQ3hCLG9DQUFvQztDQUNuQztBQUNEO0VBQ0UsV0FBVztDQUNaO0FBQ0Q7O0dBRUc7QUFDSDs7R0FFRztBQUNIOztFQUVFLGdCQUFnQjtDQUNqQjtBQUNEOzs7R0FHRztBQUNIOzs7O0VBSUU7QUFDRjs7Ozs7O0VBTUU7QUFDRixxREFBcUQ7QUFDckQ7RUFDRSxrQkFBa0I7Q0FDbkI7QUFDRDtFQUNFLHNCQUFzQjtFQUN0QixxQkFBcUI7RUFDckIscUJBQXFCO0VBQ3JCLG1CQUFtQjtBQUNyQiw0QkFBNEI7RUFDMUIsZ0NBQWdDO0VBQ2hDLHdCQUF3QjtDQUN6QjtBQUNEO0VBQ0UscUJBQXFCO0VBQ3JCLGtCQUFrQjtDQUNuQjtBQUNEO0VBQ0Usa0JBQWtCO0VBQ2xCLHlCQUF5QjtDQUMxQjtBQUNEO0VBQ0UsNEJBQTRCO0VBQzVCLGVBQWU7Q0FDaEI7QUFDRDs7O0dBR0c7QUFDSDtFQUNFLGtCQUFrQjtDQUNuQjtBQUNEO0VBQ0UsbUJBQW1CO0NBQ3BCO0FBQ0Q7Z0ZBQ2dGO0FBQ2hGO0VBQ0UsZ0JBQWdCO0VBQ2hCLGVBQWU7Q0FDaEI7QUFDRCxvQkFBb0I7QUFDcEI7RUFDRSxZQUFZO0FBQ2Qsb0JBQW9CO0VBQ2xCLHdDQUF3QztBQUMxQywwQ0FBMEM7Q0FDekM7QUFDRCxxQkFBcUI7QUFDckI7RUFDRSxhQUFhO0FBQ2YscUJBQXFCO0VBQ25CLHdDQUF3QztBQUMxQywwQ0FBMEM7Q0FDekM7QUFDRDs7R0FFRztBQUNIO0VBQ0UsZUFBZTtDQUNoQjtBQUNEO0VBQ0UsZUFBZTtDQUNoQjtBQUNEO0VBQ0UsaUJBQWlCO0NBQ2xCO0FBQ0Q7RUFDRSxnQkFBZ0I7Q0FDakI7QUFDRDs7Ozs7R0FLRztBQUNIO0VBQ0UsZ0JBQWdCO0NBQ2pCO0FBQ0Q7Z0ZBQ2dGO0FBQ2hGOztHQUVHO0FBQ0g7RUFDRSxZQUFZO0VBQ1osbUJBQW1CO0VBQ25CLHVCQUF1QjtDQUN4QjtBQUNEO0VBQ0UsWUFBWTtFQUNaLGFBQWE7RUFDYixtQkFBbUI7QUFDckIsMEVBQTBFO0VBQ3hFLFVBQVU7Q0FDWDtBQUNEO2dGQUNnRjtBQUNoRiw4QkFBOEI7QUFDOUI7RUFDRSxpQkFBaUI7RUFDakIsb0JBQW9CO0VBQ3BCLHdCQUF3QjtFQUN4QiwyQkFBMkI7RUFDM0IsNEJBQTRCO0VBQzVCLHlCQUF5QjtDQUMxQjtBQUNELGNBQWM7QUFDZDtFQUNFLG1CQUFtQjtFQUNuQixlQUFlO0VBQ2Ysa0JBQWtCO0FBQ3BCLGlDQUFpQztBQUNqQyxnQ0FBZ0M7Q0FDL0I7QUFDRDtFQUNFLHVCQUF1QjtDQUN4QjtBQUNEO0VBQ0Usa0JBQWtCO0VBQ2xCLGVBQWU7RUFDZixtQkFBbUI7Q0FDcEI7QUFDRCxxQ0FBcUM7QUFDckM7RUFDRSxzQkFBc0I7Q0FDdkI7QUFDRDtFQUNFLHNCQUFzQjtFQUN0QixtQkFBbUI7RUFDbkIsZ0JBQWdCO0VBQ2hCLGVBQWU7RUFDZix3QkFBd0I7Q0FDekI7QUFDRDtFQUNFLHNCQUFzQjtFQUN0QixnQkFBZ0I7RUFDaEIsZUFBZTtFQUNmLHdCQUF3QjtDQUN6QjtBQUNELHlDQUF5QztBQUN6QztFQUNFLHFCQUFxQjtFQUNyQixtQkFBbUI7RUFDbkIsd0JBQXdCO0VBQ3hCLG1CQUFtQjtDQUNwQjtBQUNEO2dGQUNnRjtBQUNoRjtFQUNFLHFCQUFxQjtDQUN0QjtBQUNELDZEQUE2RDtBQUM3RDtFQUNFLHNCQUFzQjtFQUN0QixpQkFBaUI7QUFDbkIsK0JBQStCO0VBQzdCLGVBQWU7RUFDZixZQUFZO0NBQ2I7QUFDRDs7Z0ZBRWdGO0FBQ2hGLG1CQUFtQjtBQUNuQjtFQUNFLGtCQUFrQjtFQUNsQixrQkFBa0I7Q0FDbkI7QUFDRCxrQkFBa0I7QUFDbEI7RUFDRSxvQkFBb0I7QUFDdEIsNkJBQTZCO0NBQzVCO0FBQ0QsMkJBQTJCO0FBQzNCO0VBQ0UsK0JBQStCO0VBQy9CLGtCQUFrQjtBQUNwQixvQkFBb0I7RUFDbEIsWUFBWTtFQUNaLDRJQUE0STtBQUM5SSxvQkFBb0I7Q0FDbkI7QUFDRCxxQ0FBcUM7QUFDckM7RUFDRSxtQkFBbUI7Q0FDcEI7QUFDRCxvQ0FBb0M7QUFDcEM7QUFDQSxxQkFBcUI7RUFDbkIsbUJBQW1CO0FBQ3JCLHVCQUF1QjtFQUNyQixnQ0FBZ0M7Q0FDakM7QUFDRCwyQkFBMkI7QUFDM0I7RUFDRSx3Q0FBd0M7QUFDMUMscUJBQXFCO0NBQ3BCO0FBQ0QsZ0JBQWdCO0FBQ2hCO0VBQ0Usc0JBQXNCO0FBQ3hCLCtCQUErQjtFQUM3QixvQkFBb0I7Q0FDckI7QUFDRCxzQkFBc0I7QUFDdEI7RUFDRSxrQkFBa0I7Q0FDbkI7QUFDRCxnQ0FBZ0M7QUFDaEM7RUFDRSxZQUFZO0NBQ2I7QUFDRCxtRUFBbUU7QUFDbkU7O0VBRUUsaUJBQWlCO0NBQ2xCO0FBQ0Q7RUFDRSxtQkFBbUI7Q0FDcEI7QUFDRDs7Z0ZBRWdGO0FBQ2hGLHlCQUF5QjtBQUN6QjtFQUNFLG1CQUFtQjtFQUNuQixZQUFZO0VBQ1osY0FBYztDQUNmO0FBQ0QsdUJBQXVCO0FBQ3ZCO0VBQ0UsYUFBYTtFQUNiLG1CQUFtQjtDQUNwQjtBQUNEO0VBQ0UsYUFBYTtFQUNiLG1CQUFtQjtDQUNwQiIsImZpbGUiOiJiYXNpYy5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIvKiogQEF1dGhvcjogS3Jpc3Rpbml0YVxuKiBARGF0ZTogICAyMDE2LTEyLTI2IDE1OjQ4OjM4XG4qIEBMYXN0IE1vZGlmaWVkIGJ5OiAgIEtyaXN0aW5pdGFcbiogQExhc3QgTW9kaWZpZWQgdGltZTogMjAxNy0wNS0wOSAxOTozNjo0OFxuXG5cblxuLyogPT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT1cbiAgIEdlbmVyYWxcbiAgID09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09ICovXG4vKiBGb3IgY29ycmVjdCBNYWlsaHUgZGlzcGxheWVkKi9cbmh0bWwsXG5tYWluLFxuYm9keSB7XG4gIGhlaWdodDogMTAwJTtcbn1cbmh0bWwge1xuICBvdmVyZmxvdy14OiBoaWRkZW47XG4vKiDQp9GC0L7QsdGLIG1hcmdpbi10b3Ag0LTQu9GPINCh0LDRiNC40L3Ri9GFINC40LrQvtC9INGA0LDQsdC+0YLQsNC7INC90LAg0LzQvtCx0LjQu9GM0L3Ri9GFINGD0YHRgtGA0L7QudGB0YLQstCw0YUgKi9cbn1cbmJvZHkge1xuICBmb250LWZhbWlseTogQXJpYWwsIFwiSGVsdmV0aWNhIE5ldWVcIiwgSGVsdmV0aWNhLCBzYW5zLXNlcmlmO1xuICBmb250LXNpemU6IDEuMTg3NXJlbTtcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcbi8qINCn0YLQvtCx0YsgbWFyZ2luLXRvcCDQtNC70Y8g0KHQsNGI0LjQvdGL0YUg0LjQutC+0L0g0YDQsNCx0L7RgtCw0Lsg0L3QsCDQvNC+0LHQuNC70YzQvdGL0YUg0YPRgdGC0YDQvtC50YHRgtCy0LDRhSovXG4gIHdpZHRoOiAxMDAlO1xuICBoZWlnaHQ6IDEwMCU7XG4gIG1hcmdpbjogMDtcbiAgcGFkZGluZzogMDtcbn1cbmEge1xuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4vKiDQp9GC0L7QsdGLINGB0YHRi9C70LrQuCDQvdC1INC/0L7QtNGH0ZHRgNC60LjQstCw0LvQuNGB0YwgKi9cbn1cbmE6Zm9jdXMge1xuICBvdXRsaW5lOiAwO1xufVxuLypcbiAqIFRhYmxlc1xuICovXG4vKlxuICogQmFzaWMgc3R5bGUg4oCUIGh0dHBzOi8vY3NzLXRyaWNrcy5jb20vY29tcGxldGUtZ3VpZGUtdGFibGUtZWxlbWVudC8jYXJ0aWNsZS1oZWFkZXItaWQtNFxuICovXG50ZCxcbnRoIHtcbiAgcGFkZGluZzogMC41cmVtO1xufVxuLypcbiAqIERpc2FibGUgZG90dGVkIG91dGxpbmUsIGlmIHVzZXIgbW92ZSBieSBsaW5rcyB1c2UgdGFiIGtleSwgc2VlXG4gKiBodHRwczovL2Nzcy10cmlja3MuY29tL3JlbW92aW5nLXRoZS1kb3R0ZWQtb3V0bGluZS9cbiAqL1xuLyogRGlzYWJsZSwgYmVjYXVzZSBpbmNvcnJlY3Qgd29ya3MgaW5kZW50cyBpbiBsaXN0cywgZXhhbXBsZTpcbjxsaT5cbjxwPktyaXN0aW5hPC9wPlxuPC9saT5cbiovXG4vKlxub2wsXG51bCB7XG4gICAgbGlzdC1zdHlsZS1wb3NpdGlvbjogaW5zaWRlO1xuICAgICDQp9GC0L7QsdGLINC80LDRgNC60LXRgNGLINGB0L/QuNGB0LrQsCDQvdC1INC/0YDQvtC/0LDQtNCw0LvQuCDQvdCwINC80L7QsdC40LvRjNC90YvRhSDQstC10YDRgdC40Y/RhVxufVxuKi9cbi8q0J7RgtGB0YLRg9C/INC+0YIg0LvQtdCy0L7Qs9C+INC60YDQsNGPINGN0LvQtdC80LXQvdGC0L7QsiDQstC70L7QttC10L3QvdC+0LPQviDRgdC/0LjRgdC60LAqL1xudWwgbGkge1xuICBtYXJnaW4tbGVmdDogMXJlbTtcbn1cbmgxIHtcbiAgZm9udC1mYW1pbHk6ICfQmNGB0YLQuNC90LAnO1xuICBmb250LXNpemU6IDEuOTM3NXJlbTtcbiAgZm9udC13ZWlnaHQ6IGxpZ2h0ZXI7XG4gIGZvbnQtc3R5bGU6IG5vcm1hbDtcbi8qINCh0L3QuNC30LjRgtGMINGP0YDQutC+0YHRgtGMINGC0LXQutGB0YLRgyAqL1xuICAtd2Via2l0LWZpbHRlcjogYnJpZ2h0bmVzcyg5NyUpO1xuICBmaWx0ZXI6IGJyaWdodG5lc3MoOTclKTtcbn1cbmgyIHtcbiAgZm9udC1mYW1pbHk6ICfQnNC10YfRgtCwJztcbiAgZm9udC1zaXplOiAxLjRyZW07XG59XG5rYmQge1xuICBmb250LXdlaWdodDogYm9sZDtcbiAgYm9yZGVyLXJhZGl1czogMC4xODc1cmVtO1xufVxubm9zY3JpcHQgPnNwYW4ge1xuICB1bmljb2RlLWJpZGk6IGJpZGktb3ZlcnJpZGU7XG4gIGRpcmVjdGlvbjogcnRsO1xufVxuLypcbiAqIERkLCBkdCwgZGwgdGFnc1xuICogaHR0cHM6Ly93ZWJyZWYucnUvaHRtbC9kZFxuICovXG5kdCB7XG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xufVxuZGQge1xuICBmb250LXN0eWxlOiBpdGFsaWM7XG59XG4vKiBJbWFnZXNcbiAgID09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09ICovXG5pbWcge1xuICBtYXgtd2lkdGg6IDEwMCU7XG4gIG1hcmdpbjogMCBhdXRvO1xufVxuLyog0JrQsNGA0YLQuNC90LrQsCDRgdC70LXQstCwICovXG4ubGVmdGltZyB7XG4gIGZsb2F0OiBsZWZ0O1xuLyog0JrQsNGA0YLQuNC90LrQsCDRgdC70LXQstCwICovXG4gIG1hcmdpbjogMC4zMTI1cmVtIDAuMzEyNXJlbSAwLjMxMjVyZW0gMDtcbi8qINCg0LDRgdGB0YLQvtGP0L3QuNC1INC80LXQttC00YMg0LrQsNGA0YLQuNC90LrQvtC5INC4INGC0LXQutGB0YLQvtC8ICovXG59XG4vKiDQmtCw0YDRgtC40L3QutCwINGB0L/RgNCw0LLQsCAqL1xuLnJpZ2h0aW1nIHtcbiAgZmxvYXQ6IHJpZ2h0O1xuLyog0JrQsNGA0YLQuNC90LrQsCDRgdC/0YDQsNCy0LAgKi9cbiAgbWFyZ2luOiAwLjMxMjVyZW0gMCAwLjMxMjVyZW0gMC4zMTI1cmVtO1xuLyog0KDQsNGB0YHRgtC+0Y/QvdC40LUg0LzQtdC20LTRgyDQutCw0YDRgtC40L3QutC+0Lkg0Lgg0YLQtdC60YHRgtC+0LwgKi9cbn1cbi8qXG4gKiDQqNC40YDQuNC90LAg0LjQt9C+0LHRgNCw0LbQtdC90LjRj1xuICovXG4uU2FzaGExNDAge1xuICB3aWR0aDogOC43NXJlbTtcbn1cbi5TYXNoYTI4MCB7XG4gIHdpZHRoOiAxNy41cmVtO1xufVxuLlNhc2hhNDcwIHtcbiAgd2lkdGg6IDI5LjM3NXJlbTtcbn1cbi5TYXNoYTcwMCB7XG4gIHdpZHRoOiA0My43NXJlbTtcbn1cbi8qXG4gKiBKUXVlcnkgTGF6eVxuICogaHR0cDovL2pxdWVyeS5laXNiZWhyLmRlL2xhenkvXG4gKiBJIG5lZWQgYWRkIG1pbi13aWR0aCB0byBteSBpbWFnZXM6XG4gKiBodHRwczovL2dpdGh1Yi5jb20vZWlzYmVoci0vanF1ZXJ5LmxhenkvaXNzdWVzLzg2XG4gKi9cbi5TYXNoYUxhenkge1xuICBtaW4td2lkdGg6IDFyZW07XG59XG4vKiBWaWRlb3NcbiAgID09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09ICovXG4vKlxuICogRW1iZWQgaWZyYW1lcyB2aWRlb3NcbiAqL1xuLlNhc2hhVmlkZW8ge1xuICB3aWR0aDogMTAwJTtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xuICBwYWRkaW5nLWJvdHRvbTogNzQuMzglO1xufVxuaWZyYW1lIHtcbiAgd2lkdGg6IDEwMCU7XG4gIGhlaWdodDogMTAwJTtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuLyogSW5zdGVhZCBvZiBmcmFtZWJvcmRlciDigJQgaHR0cDovL3N0YWNrb3ZlcmZsb3cuY29tL2EvMTA4MzEzNzkvNTk1MTUyOSAqL1xuICBib3JkZXI6IDA7XG59XG4vKiBCbG9ja3F1b3Rlc1xuICAgPT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT0gKi9cbi8qICDQptC40YLQsNGC0LAg0LIg0L/RgNGP0LzQvtGD0LPQvtC70YzQvdC40LrQtSAqL1xuLlNhc2hhQmxvY2txdW90ZSB7XG4gIHBhZGRpbmc6IDAuMjVyZW07XG4gIGJvcmRlci13aWR0aDogdGhpY2s7XG4gIGJvcmRlci10b3Atc3R5bGU6IHJpZGdlO1xuICBib3JkZXItcmlnaHQtc3R5bGU6IGdyb292ZTtcbiAgYm9yZGVyLWJvdHRvbS1zdHlsZTogZ3Jvb3ZlO1xuICBib3JkZXItbGVmdC1zdHlsZTogcmlkZ2U7XG59XG4vKiBFcGlncmFwaCAqL1xuLlNhc2hhRXBpZ3JhcGgge1xuICBmb250LXN0eWxlOiBpdGFsaWM7XG4gIG1hcmdpbjogNHJlbSAwO1xuICB0ZXh0LWFsaWduOiByaWdodDtcbi8qIERpc2FibGUgZ3JhZGllbnQgZm9yIGVtIHRhZyAqL1xuLyogSW5zY3JpcHRpb24gYWZ0ZXIgZXBpZ3JhcGggKi9cbn1cbi5TYXNoYUVwaWdyYXBoID4gZW0ge1xuICBiYWNrZ3JvdW5kLWltYWdlOiBub25lO1xufVxuLlNhc2hhRXBpZ3JhcGggPiAuU2FzaGFFcGlncmFwaEF1dGhvciB7XG4gIGxpbmUtaGVpZ2h0OiAxcmVtO1xuICBtYXJnaW46IDJyZW0gMDtcbiAgZm9udC1zdHlsZTogaXRhbGljO1xufVxuLyog0KbQuNGC0LDRgtCwIOKAlCDQutCw0LLRi9GH0LrQuCDRgdCy0LXRgNGF0YMg0Lgg0YHQvdC40LfRgyAqL1xuLlNhc2hhQ2l0YXRpb24ge1xuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG59XG4uU2FzaGFUb3BRdW90ZSB7XG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgbWFyZ2luOiAxLjhyZW0gMCAwO1xuICBmb250LXNpemU6IDNyZW07XG4gIGxpbmUtaGVpZ2h0OiAwO1xuICB2ZXJ0aWNhbC1hbGlnbjogLTAuMnJlbTtcbn1cbi5TYXNoYUJvdHRvbVF1b3RlIHtcbiAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICBmb250LXNpemU6IDNyZW07XG4gIGxpbmUtaGVpZ2h0OiAwO1xuICB2ZXJ0aWNhbC1hbGlnbjogLTIuNXJlbTtcbn1cbi8qINCm0LjRgtCw0YLQsCDRgSDQstC10YDRgtC40LrQsNC70YzQvdC+0Lkg0L/QvtC70L7RgdC+0Lkg0YHQu9C10LLQsCAqL1xuYmxvY2txdW90ZSB7XG4gIGZvbnQtc2l6ZTogMS4xODc1cmVtO1xuICBmb250LXN0eWxlOiBpdGFsaWM7XG4gIG1hcmdpbjogMC42MjVyZW0gMi41cmVtO1xuICBwYWRkaW5nOiAwLjkzNzVyZW07XG59XG4vKiBDb2RlXG4gICA9PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PSAqL1xuY29kZSB7XG4gIGZvbnQtc2l6ZTogMS4xODc1cmVtO1xufVxuLyog0JrQvtC0INC/0LXRgNC10L3QvtGB0LjRgtGB0Y8g0L3QsCDRgdC70LXQtNGD0Y7RidGD0Y4g0YHRgtGA0L7QutGDLCDQtdGB0LvQuCDQvdC1INC/0L7QvNC10YnQsNC10YLRgdGPICovXG5wcmUge1xuICB3aGl0ZS1zcGFjZTogcHJlLXdyYXA7XG4gIC1tb3otdGFiLXNpemU6IDQ7XG4vKiDQmNC90LDRh9C1IHRhYj04INCyIFJhaW5ib3cg0LrQvtC00LUqL1xuICAtby10YWItc2l6ZTogNDtcbiAgdGFiLXNpemU6IDQ7XG59XG4vKiA9PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PVxuICAgU2FzaGEtdGFnc1xuICAgPT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT0gKi9cbi8qINCS0LXRgNGB0LjRjyDRgdGC0LDRgtGM0LggKi9cbi5TYXNoYVZlcnNpb24ge1xuICBmb250LXNpemU6IDAuOXJlbTtcbiAgZm9udC13ZWlnaHQ6IGJvbGQ7XG59XG4vKiDQl9Cw0LPQvtC70L7QstC+0LogSDEgKi9cbi5TYXNoYUhlYWRlciB7XG4gIGxpbmUtaGVpZ2h0OiAwLjdyZW07XG4vKiDQmNC90YLQtdGA0LvQuNC90YzRj9C2INCyINC30LDQs9C+0LvQvtCy0LrQtSAqL1xufVxuLyog0KLQtdC90Ywg0LLQstC10YDRhdGDINGB0YLRgNCw0L3QuNGG0YsuICovXG4uU2FzaGFTaGFkb3cge1xuICBmb250LWZhbWlseTogJ1RpbWVzIE5ldyBSb21hbic7XG4gIGZvbnQtc2l6ZTogMS42cmVtO1xuLyog0KDQsNC30LzQtdGAINC90LDQtNC/0LjRgdC4ICovXG4gIHdpZHRoOiBhdXRvO1xuICB0ZXh0LXNoYWRvdzogMCAwIDAuNjI1cmVtICNmZjAwZGUsIDAgMCAxLjI1cmVtICNmZjAwZGUsIDAgMCAxLjg3NXJlbSAjZmYwMGRlLCAwIDAgMi41cmVtICNmZjAwZGUsIDAgMCAzLjEyNXJlbSAjZmYwMGRlLCAwIDAgMy43NXJlbSAjZmYwMGRlO1xuLyog0J/QsNGA0LDQvNC10YLRgNGLINGC0LXQvdC4ICovXG59XG4vKiDQoNCw0YHQv9C+0LvQvtC20LXQvdC40LUg0Y3Qu9C10LzQtdC90YLQsCDQv9C+INGG0LXQvdGC0YDRgyAqL1xuLlNhc2hhQ2VudGVyIHtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xufVxuLyog0J7QsdGA0LDQvNC70LXQvdC40LUg0LjQt9C+0LHRgNCw0LbQtdC90LjRjyDRgSDQndCw0YHRgtC10LkqL1xuLlNhc2hhU2lnbiB7XG4vKiDQn9Cw0YDQsNC80LXRgtGA0Ysg0YDQsNC80LrQuCAqL1xuICBwYWRkaW5nOiAwLjQzNzVyZW07XG4vKiDQn9C+0LvRjyDQstC90YPRgtGA0Lgg0LHQu9C+0LrQsCAqL1xuICBtYXJnaW46IDAuMzEyNXJlbSAwIDAuMzEyNXJlbSAwO1xufVxuLyog0J/QvtC00YfRkdGA0LrQuNCy0LDQvdC40LUg0YLQvtGH0LrQsNC80LggKi9cblNhc2hhRG90IHtcbiAgYm9yZGVyLWJvdHRvbTogMC4wNjI1cmVtIGRvdHRlZCAjZGMxNDNjO1xuLyog0J/QsNGA0LDQvNC10YLRgNGLINC70LjQvdC40LggKi9cbn1cbi8qIFRPQyDRgdGC0LDRgtC10LkgKi9cbi5TYXNoYVRPQyB7XG4gIGxpc3Qtc3R5bGUtdHlwZTogbm9uZTtcbi8qINCf0YDRj9GH0LXQvCDQuNGB0YXQvtC00L3Rg9GOINC90YPQvNC10YDQsNGG0LjRjiAqL1xuICBwYWRkaW5nOiAwIDAgMCAxcmVtO1xufVxuLyog0J7RgtGB0YLRg9C/0Ysg0LIg0YHQv9C40YHQutC1ICovXG4uU2FzaGFPbE1hcmdpbiB7XG4gIG1hcmdpbi1sZWZ0OiAxcmVtO1xufVxuLyogTWFkZSBpbmxpbmUgYmxvY2sgZWxlbWVudHMgKi9cbi5TYXNoYUlubGluZSB7XG4gIGZsb2F0OiBsZWZ0O1xufVxuLyog0J7RgtGB0YLRg9C/INGB0LLQtdGA0YXRgyDRgdC8LiBodHRwOi8vcnUuc3RhY2tvdmVyZmxvdy5jb20vYS82MTM0NjgvMTk5OTM0ICovXG4uU2FzaGFFbU5vQ29sb3IsXG4uV29ya09uWW91cnNlbGYge1xuICBtYXJnaW46IDVyZW0gMCAwO1xufVxuLlNhc2hhRW1Ob0NvbG9yIHtcbiAgZm9udC1zdHlsZTogaXRhbGljO1xufVxuLyogPT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT1cbiAgIFNjcmlwdHMgYW5kIHBsdWdpbnNcbiAgID09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09ICovXG4vKiBDbGlwYm9hcmQuanMgYnV0dG9uICovXG4uU2FzaGFCdXR0b24ge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHRvcDogMC41cmVtO1xuICByaWdodDogMC41cmVtO1xufVxuLyogVG9vbHRpcHN0ZXIgdGhlbWUgKi9cbi50b29sdGlwc3Rlci1wdW5rLXB1cnBsZSAudG9vbHRpcHN0ZXItYm94IHtcbiAgYm9yZGVyOiBub25lO1xuICBib3JkZXItcmFkaXVzOiA1cHg7XG59XG4udG9vbHRpcHN0ZXItcHVuay1hcXVhbWFyaW5lIC50b29sdGlwc3Rlci1ib3gge1xuICBib3JkZXI6IG5vbmU7XG4gIGJvcmRlci1yYWRpdXM6IDVweDtcbn1cbiJdfQ== */