{#
[INFO] Scripts and styles, if code blocks exists on the page
#}
{% if "<pre>" in kira_object.content %}

	{# [DECLINED]
	Tooltipster + JQuery = 40 kb; it’s too big for non-critical dependency:
	https://atomiks.github.io/tippyjs/v6/motivation/#comparison-with-tooltipster

	[INFO] Tooltipster — tooltips:
	http://calebjacob.github.io/tooltipster/
	[INFO] Usage:
	http://ru.stackoverflow.com/a/584718/199934

	<script src="https://cdn.jsdelivr.net/jquery.tooltipster/latest/js/tooltipster.bundle.min.js" defer></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.tooltipster/latest/css/tooltipster.bundle.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-punk.min.css" />
	<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/Tooltipster/tooltip{{MIN}}.js" defer></script> #}


	{# [INFO] Balloon.css — pure CSS tooltips:
	https://kazzkiq.github.io/balloon.css/

	[WARNING] Tooltips goes off a screen! Not use big text for tooltips!
	https://github.com/kazzkiq/balloon.css/issues/153
	#}


	{#
	[INFO] Clipboard.js — copy block to clipboard without Flash:
	https://clipboardjs.com/
	[INFO] Usage:
	http://ru.stackoverflow.com/a/582520/199934
	#}


	{#
	[LEARN][JAVASCRIPT] “clipboard-js” must be loaded before “clipboard-js-local”

	[LEARN][CSS] “balloon” must be loaded before “code-block-css”.
	Properties in the last uploaded CSS file has a higher priority
	https://stackoverflow.com/a/16913205/5951529
	#}
	<script>
		deferscript('https://cdn.jsdelivr.net/clipboard.js/latest/clipboard.min.js', 'clipboard-js', 400);
		deferstyle('https://cdn.jsdelivr.net/npm/balloon-css/balloon.min.css', 'balloon', 400);
		deferscript('{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/Clipboard-js/Clipboard{{MIN}}.js', 'clipboard-js-local', 700);
		deferstyle('{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/components/code-blocks.css', 'code-block-css', 700);
	</script>
{% endif %}
