{# [INFO] Styles to be loaded with page load:
https://prgssr.ru/images/development/css/02-browser-opt-small.jpg


[LEARN][CSS][JAVASCRIPT] In modern browsers doesn’t matter, will we put styles before scripts or vice versa:
https://stackoverflow.com/a/9272730/5951529
https://www.benmccann.com/css-or-js-first-for-performance/


[INFO] I use critical for “<link rel="preload">”:
https://www.npmjs.com/package/critical

[NOTE] “link rel="preload"” instead of "stylesheet" doesn’t work in Firefox 58, wait Firefox 59.
https://github.com/filamentgroup/loadCSS#how-to-use-loadcss-recommended-example
https://github.com/filamentgroup/loadCSS/issues/246
https://bugzilla.mozilla.org/show_bug.cgi?id=1222633
[NOTE] In Firefox 59 also doesn’t work. Wait Firefox 60. #}


{# [INFO] Gemini Scrollbar styles

[NOTE] Gemini styles must load first, otherwise bugs on the page #}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gemini-scrollbar/gemini-scrollbar.min.css">
<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/script-colors/Gemini/gemini{{MIN}}.css">

{# [INFO] Styles for all articles and pages #}
<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/general/basic{{MIN}}.css">

{# [INFO] Styles for fonts #}
<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/general/fonts{{MIN}}.css">

{# [INFO] Styles for aside with icon #}
<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/general/aside{{MIN}}.css">

{# [INFO] Different styles depending on whether the icon is on the left or right #}
<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/general/image_{{ kira_object.iconleftorright }}{{MIN}}.css">

{# [INFO] Color scheme #}
<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/sections/{{ kira_object.pagecolors }}{{MIN}}.css">

{# [INFO] Background for text on aside images for accessibility contrast ratio
[FIXME][JINJA2] Shorter syntax for the line below #}
{% if kira_object.asideimage == "NeliaSchool" or kira_object.asideimage == "NeliaLeaves" %}
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/bottom-images/NeliaFirebrick{{MIN}}.css">
{% elif kira_object.asideimage == "SashaFluffy" %}
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/bottom-images/KiraDarkcyan{{MIN}}.css">
{% elif kira_object.asideimage == "SashaInflatedSponges" %}
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/bottom-images/KiraDimgray{{MIN}}.css">
{% elif kira_object.asideimage == "SashaGreenSweater" %}
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/bottom-images/KiraSeagreen{{MIN}}.css">
{% elif kira_object.asideimage == "SashaBlueEyes" %}
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/bottom-images/KiraSteelblue{{MIN}}.css">
{% endif %}

{# [INFO] Custom CSS #}
{% if kira_object.customcss %}
	<link rel="stylesheet" href="{{SITEURL}}/css/personal/{{kira_object.customcss1}}{{MIN}}.css">
{% endif %}
