{# Open source fonts from Font Library:
https://fontlibrary.org/en
Documentation:
https://fontlibrary.org/en/guidebook
Licenses:
https://fontlibrary.org/en/guidebook/font_licensing
[NOTE] Select fonts, that support Cyrillic symbols.
#}
{# Xolonium for h1 headers:
https://fontlibrary.org/en/font/xolonium #}
<link rel="stylesheet" href="https://fontlibrary.org/face/xolonium">
{# Sansus-webissimo for h2 headers:
https://fontlibrary.org/en/font/sansus-webissimo #}
<link rel="stylesheet" href="https://fontlibrary.org/face/sansus-webissimo">
{# el-messiri for links:
https://fontlibrary.org/en/font/el-messiri
https://github.com/Gue3bara/El-Messiri #}
<link rel="stylesheet" href="https://fontlibrary.org/face/el-messiri">
{# inconsolata-lgc for code:
https://fontlibrary.org/en/font/inconsolata-lgc
https://github.com/DeLaGuardo/Inconsolata-LGC #}
<link rel="stylesheet" href="https://fontlibrary.org/face/inconsolata-lgc">
{# miama-nueva for “Работайте над собой”:
https://fontlibrary.org/en/font/miama-nueva #}
<link rel="stylesheet" href="https://fontlibrary.org/face/miama-nueva">
