{#
[FIXME] Horisontal AddToAny + Gemini Scrollbar is not compatible:
https://github.com/noeldelgado/gemini-scrollbar/issues/64
It not reproduced at September 2020

[FIXME][BUG] New bug. Blank area after clicking to internal link:
https://i.imgur.com/jTJiVt6.png

{% include 'includes/rss-subscribe.html' %}
#}


<div class="SashaClearBoth"></div>


{# [DECLINED] I want support solely open feedback

[INFO] Footer: new disgruntled Russian and sign

[INFO] E-Mail obfuscate:
http://rot13.florianbersier.com/
Get relative source path like
https://github.com/kura/kura.io/blob/e8f2c6801a0013201d734aa1ac48d9ac92a40b96/ghastly/templates/article.html#L10

[INFO] Paths must be relative to “base.html”, not “footer.html”:
“{% include 'includes/footer-en.html' %}”, not “{% include 'footer-en.html' %}”
#}
{% if kira_object.lang == 'ru' %}
	{% include 'includes/footer-ru.html' %}
{% else %}
	{% include 'includes/footer-en.html' %}
{% endif %}


{# [INFO] “Работайте над собой” legend #}
<div class="WorkOnYourself">Работайте над собой</div>

