<div class="SashaEmNoColorBottom">
	<p><a id="Like"></a></p>
	<h2>Like?</h2>
	<ol>
		<li>Share this web-page in your preferred social network, use share buttons on the side of page.</li>
		<li>
			<p>Subcsribe to all articles or specific tag/category, use your preferred RSS Reader. I use <a href="http://quiterss.org" rel="noopener" target="_blank">QuiteRSS</a> for Windows.</p>
			{# [BUG][CRITICAL] AddToAny default style not compatible with gemini-scrollbar:
			https://github.com/noeldelgado/gemini-scrollbar/issues/64 #}
			{# {% include 'includes/addtoany-rss.html' %} #}
		</li>
	</ol>
	<p><a id="Problems"></a></p>
	<h2>Problems?</h2>
	<ol>
		<li>(PC solely, not for mobile devices). If you find in this article typo or small error, please, report about it use <a href="{{SITEURL}}/IT-articles/typo-reporter">typo-reporter</a>. Select text with typo → press <kbd>Ctrl+Enter</kbd> (<kbd>⌘Enter</kbd> for Mac) → write comment → send typo report.</li>
		<li>If you find more serious errors in this article and/or site, <a href="https://github.com/Kristinita/KristinitaPelican/issues/new" rel="noopener" target="_blank">create GitHub issue</a>.</li>
		<li>You can also <a href="{{GITHUB_SOURCES_URL}}/edit/master/content/{{kira_object.get_relative_source_path()}}" rel="noopener" target="_blank">edit this page yourself</a> and send <a href="http://ru.stackoverflow.com/a/598162/199934" rel="noopener" target="_blank">pull request</a>.</li>
		<li>Or write comment here. <a href="https://github.github.com/gfm/" rel="noopener" target="_blank">Markdown GFM support in comments</a>. You can use <a href="https://github.com/GhostText/GhostText" rel="noopener" target="_blank">GhostText</a>, that write issue in your preferred editor.</li>
	</ol>
	{# [LEARN][HTML] List must contains “div” elements solely:
	https://web.dev/list/?utm_source=lighthouse&utm_medium=devtools
	“wildfire_thread” shouldn’t be listed. #}
	<div class="wildfire_thread lazyload" data-script="https://cdn.jsdelivr.net/npm/wildfire/dist/wildfire.auto.js"></div>
	<p>i’m against private communication not on personal matters, solely open support.</p>
	<p>Please write in a constructive, reasoned and respectful manner.</p>
	<p>All rights reserved ©.</p>
</div>

