{# [INFO] Title #}
<h1 class="SashaTopHeader">
	{% if kira_object.pagetitle %}
		{{ kira_object.pagetitle }}
	{% else %}
		{{ kira_object.title }}
	{% endif %}
</h1>

{# [INFO] Page loading progress bar #}
<img class="SashaPageLoading" src="https://2no.co/{{ kira_object.noco }}.png" alt="Page loading, please, little wait" width="1" height="1">

{# [INFO] Page version #}
<div class="SashaVersion">Version {{ kira_object.version }}</div>

{# [INFO] Created date #}
<div class="SashaVersion">
	{# [LEARN][JINJA] Multiple blocks with the same name:
	https://stackoverflow.com/a/1245030/5951529

	Example:
	First usage — {% block base_date %}{{ kira_object.locale_date }}{% endblock %}
	Second usage — “{{ self.base_date() }}”
	#}
	Posted — {{ kira_object.locale_date }}
</div>

{# [INFO] Last modified date #}
<div class="SashaVersion">
	{# [INFO] “pubdate” attribute is obsolete, use “itemprop: datePublished”:
	https://stackoverflow.com/a/24455070/5951529 #}
	Last modified — {{ kira_object.locale_modified }}
</div>


<div>

	{# [INFO] Epigraph #}
	{%- if kira_object.epigraph -%}
	<div class="SashaEpigraph">
		<em>{{ kira_object.epigraphtext }}</em>
	</div>
	{% endif %}

	{# [INFO] Article/page image

	[LEARN][JINJA] “if kira_object.titleimage” = “if kira_object.titleimage == 'true'”
	#}
	{%- if kira_object.titleimage -%}

		{# [SOON] Safari 14 supports webp;
		https://caniuse.com/?search=webp
		Soon we can use webp solely without “jpg” callback.

		[INFO] Picture tag for webp images:
		https://ru.stackoverflow.com/a/915298/199934 #}
		<p>
			<picture>
				<source srcset="{{SITEURL}}/images/header/{{kira_object.titleimagename}}.webp" type="image/webp">
				<img src="{{SITEURL}}/images/header/{{kira_object.titleimagename}}.jpg" alt="Header icon">
			</picture>
		</p>
	{% endif %}
</div>
