{# [LEARN][JAVASCRIPT] Put scripts to the “head” tag, not to the bottom of “body”:
https://stackoverflow.com/a/24070373/5951529
https://flaviocopes.com/javascript-async-defer/

Location of scripts in the end of “body” is “antiquated recommendation”:
“This approach has its own problem: the browser cannot
start downloading the scripts until the entire document is parsed.
For larger websites with large scripts & stylesheets,
being able to download the script as soon as possible is very important for performance.
If your website doesn’t load within 2 seconds, people will go to another website.”
#}


{# [INFO] Defer.js — deferred loading scripts, styles
and another types of the content:
https://appseeds.net/defer.js/demo.html

[NOTE] If “async” or “defer”, defer.js will not work

[INFO] We need to place scripts inside “head” tag:
https://github.com/shinsenter/defer.js/#install-to-your-page

[INFO]
1. No defer.js — critical scripts and styles that must be run when page loaded;
2. 400ms — scripts and styles which need if we open a page on the specifc anchor;
3. 1000 — analytics;
4. 7000 — low priority scripts, which aren’t needed in the first seconds of a page loading.
#}
<script src="https://cdn.jsdelivr.net/npm/@shinsenter/defer.js/dist/defer_plus.min.js"></script>


{#
[INFO] Gemini scrollbar — custom scrollbar:
https://noeldelgado.github.io/gemini-scrollbar/

[PATCH] https://github.com/noeldelgado/gemini-scrollbar/pull/67
[REQUIRED] Production, not development link on the RawCDN:
https://raw.githack.com/#what-happens-to-jerks

[FIXME] Migrate to the native scrollbars:
https://www.digitalocean.com/community/tutorials/css-scrollbars
#}
<script src="https://rawcdn.githack.com/Kristinita/gemini-scrollbar/fd4400bd136ae02e34d94db3d0570d8ebce7acf1/index.min.js" defer></script>
<script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/Gemini/gemini-scrollbar{{MIN}}.js" defer></script>


{#
[DEPRECATED]
Use modernizr; grunt-modernizr generate custom modernizr file automatically:
https://www.npmjs.com/package/grunt-modernizr
Solution from https://stackoverflow.com/a/54223755/5951529 doesn’t work for Safari in 2019:
Safari support “-webkit-image-set”, but doesn’t support “webp” →
Safari doesn’t show images.

[LEARN][STYLUS] Using templates in URLs
https//github.com/stylus/stylus/issues/2147#issuecomment-197338391
[INFO] 1x — for normal display, 2x — for high-res
https//www.hongkiat.com/blog/css-image-set/
[INFO] Use “-webkit-image-set” below “url” last property have higher priority
https//stackoverflow.com/a/1637380/5951529
#}


{# [SOON] Safari 14 supports webp:
https://caniuse.com/?search=webp
Soon we can use webp solely without Modernizr

[INFO] Use webp for browsers, that support it and jpg for others:
https://stackoverflow.com/a/54223755/5951529
https://andywalpole.me/blog/142790/using-webp-image-format

[INFO] Modernizr self-hosted, CDNs not supported:
https://css-tricks.com/using-webp-images/
https://modernizr.com/download/
https://github.com/Modernizr/Modernizr/issues/2214

[INFO] Modernizr automatically generate minified file.
It would be nice use “.min.js”, not {{MIN}} template:
https://stackoverflow.com/a/41319855/5951529
#}
<script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/Modernizr/modernizr-custom.min.js" defer></script>

<style>
	.webp .SashaIconAside {
		background-image: url({{SITEURL}}/{{THEME_STATIC_DIR}}/images/aside/{{kira_object.asideimage}}.webp)
	}

	.no-webp .SashaIconAside {
		background-image: url({{SITEURL}}/{{THEME_STATIC_DIR}}/images/aside/{{kira_object.asideimage}}.jpg)
	}
</style>


{# [INFO] Cash — small alternative for JQuery and Zepto:
https://github.com/fabiospampinato/cash
https://kenwheeler.github.io/cash/
https://news.ycombinator.com/item?id=19535940

[INFO] Migration from JQuery to Cash:
https://github.com/fabiospampinato/cash/blob/master/docs/migration_guide.md
https://www.peterbe.com/plog/from-jquery-to-cash

[INFO] CDN vs Locally, see:
http://stackoverflow.com/a/3832498/5951529

[INFO] defer preferred, than async, see:
https://stackoverflow.com/a/39711009/5951529

[INFO] Don’t use protocol-relative URLs:
https://stackoverflow.com/a/54386928/5951529

[INFO] Place Cash script before lazysizes, so that scripts dependent
so that dependency scripts have time to load

[FIXME][ISSUE][CASH] More help for porting third-party plugins:
https://github.com/fabiospampinato/cash/issues/259
https://github.com/fabiospampinato/cash/issues/75
https://github.com/fabiospampinato/cash/issues/192

[FIXME][ISSUE][CASH] Custom builds:
https://github.com/fabiospampinato/cash/blob/master/docs/partial_builds.md
https://github.com/fabiospampinato/cash/blob/master/docs/extending_cash.md
#}
<script src="https://cdn.jsdelivr.net/npm/cash-dom/dist/cash.min.js" defer></script>


{#
[DECLINED] Confict with lazysizes.
In general, I need to migrate to the native way.

<script>
	var KiraUpdateScrollbar = function() {
		internals.scrollbar.update();
	};

	deferimg('img[data-src]', 80, 'image-id', KiraUpdateScrollbar);
	deferiframe('iframe[data-src],div', 80, 'iframe-id', KiraUpdateScrollbar);
</script>
#}


{# [DECLINED] I migrated to defer.js + lazysizes

[INFO] No smooth scrolling, if JQuery Lazy:
https://github.com/eisbehr-/jquery.lazy/issues/98#issuecomment-376064894

[INFO] JQuery Lazy plugins:
http://jquery.eisbehr.de/lazy/#plugins

[INFO] I use lazy loading for iframes, so that I selected solely this plugin

<script src="https://cdn.jsdelivr.net/jquery.lazy/latest/jquery.lazy.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/jquery.lazy/latest/plugins/jquery.lazy.iframe.min.js" defer></script>
#}


{# [FIXME] Migrate to the native lazy loading, when will I find a replacement for unveilhooks:
https://web.dev/browser-level-image-lazy-loading/
https://web.dev/iframe-lazy-loading/

[INFO] lazysizes — lazy loading images and iframes:
https://afarkas.github.io/lazysizes/index.html
https://dev.to/carlesnunez/deep-dive-into-lazy-loading-images-211f
#}
<script src="https://cdn.jsdelivr.net/npm/lazysizes/lazysizes.min.js" defer></script>


{#
[INFO] unveilhooks plugin — run script when user scroll to the specific element:
https://afarkas.github.io/lazysizes/index.html
https://stackoverflow.com/q/63753845/5951529

[NOTE] I can’t found the solution without lazysizes/unveilhooks dependencies.
Methods, described below, doesn’t worked for me:
https://stackoverflow.com/a/40410131/5951529
https://stackoverflow.com/q/21561480/5951529
#}
<script src="https://cdn.jsdelivr.net/npm/lazysizes/plugins/unveilhooks/ls.unveilhooks.min.js" defer></script>

{# [INFO] Update scrollbar position after lazy load event #}
<script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/lazysizes/lazysizes{{MIN}}.js" defer></script>


{# [DECLINED] I migrated to Cash, because it much smaller:
https://github.com/fabiospampinato/cash#comparison

[INFO] JQuery not a good candidate for “async”, see:
https://stackoverflow.com/a/10808243/5951529

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js" defer></script>
#}


{# [DECLINED] Additional JavaScript — isn’t good for the web performance.
I migrated to “markdown-link-attr-modifier”:
https://github.com/Phuker/markdown_link_attr_modifier

[INFO] Add “target="_blank"” for all external links via JQuery:
https://bogdandragomir.com/blog/2016/12/add-target-_blank-attribute-external-anchors-page-javascript-jquery-one-single-line/
<script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/target-blank/target-blank{{MIN}}.js" defer></script> #}


{# [NOTUSED] Commented, because for September 2020 I don’t use it,
but i don’t rule out using this in the future

[INFO] Custom scripts for specific articles/pages

[REQUIRED] “Customjs: true” and “Customjs1: <path to script>” in article metadata

{%- if kira_object.customjs -%}
	<script src="{{SITEURL}}/js/personal/{{kira_object.customjs1}}{{MIN}}.js" defer></script>
{%- endif -%} #}
