{# [INFO] Neighbors — a Pelican plugin that adds Next/Previous links to articles:
https://github.com/pelican-plugins/neighbors
#}
{% if kira_object.prev_article_in_category %}
	<span class="SashaPreviousNeighbor"><a href="{{ SITEURL }}/{{ kira_object.prev_article_in_category.url }}" title="{{ kira_object.prev_article_in_category.title }}">← Предыдущая статья</a></span>
{% else %}
	<span class="SashaHeadPageLeft"><a href="{{ SITEURL }}">Поиск Кристиниты</a></span>
{% endif %}

{% if kira_object.next_article_in_category %}
	<span class="SashaNextNeighbor"><a href="{{ SITEURL }}/{{ kira_object.next_article_in_category.url }}" title="{{ kira_object.next_article_in_category.title }}">Следующая статья →</a></span>
{% else %}
	<span class="SashaHeadPageRight"><a href="{{ SITEURL }}">Поиск Кристиниты</a></span>
{% endif %}
