{% if article.prev_article_in_category %}
	<span class="SashaPreviousNeighbor"><a href="{{ SITEURL }}/{{ article.prev_article_in_category.url }}" title="{{ article.prev_article_in_category.title }}">← Previous article</a></span>
{% else %}
	<span class="SashaHeadPageLeft"><a href="{{ SITEURL }}" title="Kristinita's Search">Kristinita's Search</a></span>
{% endif %}
{% if article.next_article_in_category %}
	<span class="SashaNextNeighbor"><a href="{{ SITEURL }}/{{ article.next_article_in_category.url }}" title="{{ article.next_article_in_category.title }}">Next article →</a></span>
{% else %}
	<span class="SashaHeadPageRight"><a href="{{ SITEURL }}" title="Kristinita's Search">Kristinita's Search</a></span>
{% endif %}
