{# [INFO] Open Graph:
http://ruogp.me

[NIFO] All basic metadata required in articles and pages;
Yandex Structured data validator gives errors, if no all:
https://webmaster.yandex.com/tools/microtest/
https://ruogp.me/#metadata

[INFO] See full types list for 2018:
https://stackoverflow.com/a/50273929/5951529


[LEARN][JINJA] “|e” (“escape”) filter remove HTML chars “>”, “<”, “&”, “"”, from Pelican tags:
http://jinja.pocoo.org/docs/latest/templates/#working-with-manual-escaping
https://jinja.palletsprojects.com/en/master/templates/#escape
https://stackoverflow.com/a/1556570/5951529
#}
{% for tag in kira_object.ogtags %}
	<meta property="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
{% endfor %}


{# [DECLINED]
[LINK] Read “title” section for details

[LEARN][JINJA2] Pass variable to “include”:
https://github.com/pallets/jinja/issues/241
https://stackoverflow.com/a/32657364/5951529

[FIXME][JINJA2] Duplicate “kira_title_variable=kira_title_variable”:

{% with kira_title_variable=kira_title_variable %}
	{% include 'includes/json-ld.html' %}
{% endwith %}
#}


{# [OVERVIEW] JSON-LD:
https://developers.google.com/search/docs/guides/intro-structured-data

[INFO] Use JSON-LD instead of schema.org:
https://stackoverflow.com/a/29869449/5951529
https://webmasters.stackexchange.com/a/102176/71131

[INFO] Place for JSON-LD paste:
https://stackoverflow.com/a/30956615/5951529

[INFO] Basic Metadata required, that validators doesn’t show errors:
http://ogp.me/#metadata

[INFO] JSON-LD validators; Google haven’t API:
https://webmasters.stackexchange.com/a/56578/71131

[BUG] Yandex Structured Data Validator have bugs, so I don’t use it API in project:
https://github.com/Kristinita/SashaMiscellaneous/issues/21
https://github.com/Kristinita/SashaMiscellaneous/issues/22 #}
<script type="application/ld+json">
{
		"@context": "https://schema.org",
		{# [INFO] Full types list:
		https://schema.org/CreativeWork
		[INFO] I use types from 5.2 item of this issue:
		https://github.com/Kristinita/SashaMiscellaneous/issues/22
		#}
		"@type": "{{kira_object.schemaorgtype}}",
		"name": "{{ kira_object.title }}",
		{# [INFO] “striptags” remove all tags for meta and schema.org:
		http://jinja.pocoo.org/docs/latest/templates/#builtin-filterss
		https://slaptijack.com/programming/using-pelicans-article-summary.html #}
		"description": "{{kira_object.summary|striptags}}",
		{# [INFO] Must be same name and headline:
		https://webmasters.stackexchange.com/a/98469/71131 #}
		"headline": "{{ kira_object.title }}",
		"datePublished": "{{kira_object.date}}",
		"dateModified": "{{kira_object.modified}}",
		"author": {
			"@type": "Person",
			"name": "{{kira_object.author}}"
		},
		{# [INFO] Og_image metadata setting for images, because
		Open Graph plugin required it:
		https://github.com/whiskyechobravo/pelican-open_graph #}
		"image": "{{kira_object.og_image}}",
		"url": "{{SITEURL}}/{{kira_object.get_relative_source_path()[:-3]}}.html"
}
</script>
