{# [INFO] Styles if tables exists on the page #}
{% if "<table>" in kira_object.content %}
	<link rel="stylesheet" href="{{SITEURL}}/{{THEME_STATIC_DIR}}/css/components/tables{{MIN}}.css">
{% endif %}


{#
[DECLINED] Flexbox problems:
https://ru.stackoverflow.com/q/1228244/199934
https://i.imgur.com/WLyEBkb.png

[INFO] jquery-responsive-tables — responsive tables:
https://www.npmjs.com/package/jquery-responsive-tables

[INFO] Cash-compatible, JQuery not required

[NOTE] I can’t find another method make tables responsive:
https://stackoverflow.com/q/50274179/5951529

[NOTE] Collapse by orientation change (“landscape/portrait”) isn’t available:
https://github.com/ryanwellsdotcom/jquery-responsive-tables/issues/2

[NOTE] I don’t use Defer.js here.
jquery-responsive-tables required Cash, but it may be loaded after Cash:
https://travis-ci.com/github/Kristinita/KristinitaPelican/jobs/441296127#L1735
I don’t want use big values for Defer.js timeout, because it would be nice
if jquery-responsive-tables will loaded as soon as possible.
#}