/*
@Author: Kristinita
@Date: 2017-03-23 09:16:25
@Last Modified by: Kristinita
@Last Modified time: 2017-05-09 14:39:18
*/

/* ==========================================================================
	General
	========================================================================== */

@import "../placeholders.styl"

.SashaIconAside
	// [INFO] Icon the whole aside space
	background-size cover
	// [INFO] To make the central part of the icon visible on mobile devices with a small width
	background-position-x center
	height 100%
	/* [INFO] That aside doesn't fell, if browser-update script enabled:
	https://i.imgur.com/HxP20ee.png */
	top 0

/* Text in aside bottom */

.SashaAsideBottomText
	@extend $SashaNoHorizontalScrollbar
	font-size 2rem
	line-height 2rem
	text-align center
	position absolute
	bottom 7%
	left 10%
	width 80%

/* ==========================================================================
	Media
	========================================================================== */

/*
[INFO] Media queries

[REQUIRED] “screen”:
https://webref.ru/css/media
*/

/*
[INFO] Page orientation:
https://www.webopedia.com/TERM/P/portrait.html
*/

/* For portrait orientation */

@media screen and (orientation portrait)
	.SashaIconAside
		width 100%
		/*
		[INFO] That .SashaAsideBottomText text will child for <aside> element:
		https://github.com/noeldelgado/gemini-scrollbar/issues/46#issuecomment-374928170
		*/
		position relative

	noscript
		width 100%

	/*
	[DECLINED]
	1. Bigger font-size not required for real Kristinita’s Search site,
	2. “span.buorg-icon” not increase icon size

	[INFO] Bigger browser-update font size and icons for mobile devices;
	default values too small, see 3.3 item:
	https://github.com/browser-update/browser-update/issues/388
	*/

	/*
	div.buorg
		font-size 2rem

	span.buorg-icon
		width 2rem
		height 2rem
	*/


/* For landscape orientation */

// [NOTE] CSSLint ignoring, because “div.buorg” is overqualified elements

/* csslint ignore:start */

@media screen and (orientation landscape)
	.SashaIconAside
		width 35%
		position fixed

	/*
	[NOTE] “div.buorg”, not “.buorg” overwrite default width:
	https://stackoverflow.com/a/9956515/5951529
	*/
	div.buorg
	main
	noscript
		width 65%

/* csslint ignore:end */
