/*
* @Author: Kristinita
* @Date:   2017-05-02 11:33:47
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-02 11:37:12
*/

/* ==========================================================================
	Don't use Malihu! It have at least bugs.
	========================================================================== */
/*
* 1. Ctrl+F problem — https://github.com/malihu/malihu-custom-scrollbar-plugin/issues/486#issuecomment-298243647 ,
* 2. problem with lazy load plugins,
* 3. doesn't work links to article anchors,
* 4. different behavior for left and right scrollbars.
*/

/*****************************************************************************
* See full documentation here — http://manos.malihu.gr/jquery-custom-content-scroller/
* Settings — http://manos.malihu.gr/jquery-custom-content-scroller/
* Theme elements — http://manos.malihu.gr/wp-content/uploads/2012/07/scrollbar_layout.png
*****************************************************
*/

/* ==========================================================================
	Gemini scrollbar
	========================================================================== */

/* Description — https://github.com/noeldelgado/gemini-scrollbar */

/*
* Don't scroll <aside>, if orientation — landscape:
* https://stackoverflow.com/q/49296892/5951529
* https://github.com/noeldelgado/gemini-scrollbar/issues/46#issuecomment-374928170
* https://stackoverflow.com/a/15256339/5951529
*/

SashaGeminiColor = #804a7d99

.gm-scrollbar-container .gm-scroll-view
	transform initial

/* Radius of scrollbar borders*/

.gm-scrollbar
	border-radius .4rem

	&.-vertical
		width .8rem
		background-color peachpuff
		/* Disable top and bottom margins */
		top 0
		bottom 0

	.thumb
		background-color SashaGeminiColor

/* Thumb — scrollbar container */

.gm-scrollbar .thumb:hover
.gm-scrollbar .thumb:active
	background-color SashaGeminiColor
