/*
* @Author: Kristinita
* @Date:   2017-05-02 11:33:47
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-02 11:37:12
*/

/* ==========================================================================
   Don't use Malihu! It have at least 3 bugs.
   ========================================================================== */
/*****************************************************************************
* See full documentation here — http://manos.malihu.gr/jquery-custom-content-scroller/
* Theme elements — http://manos.malihu.gr/wp-content/uploads/2012/07/scrollbar_layout.png
*****************************************************
*/

/* ==========================================================================
   Gemini scrollbar
   ========================================================================== */

/* Description — https://github.com/noeldelgado/gemini-scrollbar */

/* Radius of scrollbar borders*/

.gm-scrollbar
	border-radius .4rem

	&.-vertical
		width .8rem
		background-color peachpuff
		/* Disable top and bottom margins */
		top 0
		bottom 0

	.thumb
		background-color #804a7d99

/* Thumb — scrollbar container */

.gm-scrollbar .thumb:hover
.gm-scrollbar .thumb:active
	background-color #804a7d99