<!--=========================
=		Neliateka			=
==========================-->

{# [INFO] Template before all Neliateka web-pages #}

<nav class="NeliatekaNavigation"><a href="{{ SITEURL }}/Library-for-life/Библиотека-для-жизни#Общая-информация" rel="noopener" target="_blank">Что такое Нелиатека («Библиотека для жизни»)?</a> | <a href="{{ SITEURL }}/tag/library-for-life-base" rel="noopener" target="_blank">Литература Нелиатеки по тематикам</a> | <a href="https://raw.githubusercontent.com/Kristinita/KristinitaPelican/master/content/Library-for-life/Библиотека-для-жизни-полный-список.txt" rel="noopener" target="_blank">Полный список книг и прочих материалов Нелиатеки</a> | <a href="{{ SITEURL }}/Library-for-life/Библиотека-непрерывного-обучения#Описание" rel="noopener" target="_blank">Библиотека непрерывного обучения</a> | <a href="{{ SITEURL }}/Library-for-life/Вишлист-библиотеки-для-жизни#Описание" rel="noopener" target="_blank">Вишлист Нелиатеки</a></nav>
