{#
[INFO] AddToAny buttons.

[INFO] “aside” — a tag for these buttons:
https://stackoverflow.com/a/18974422/5951529

[INFO] Using multiple aside is possible:
https://stackoverflow.com/a/27688129/5951529

[FIXME][ISSUE] WAVE accessibility problems
#}
<aside class="KiraAddToAny" role="presentation">
	<div class="a2a_kit a2a_kit_size_17 a2a_floating_style a2a_vertical_style">
		<a class="a2a_button_mastodon"></a>
		<a class="a2a_button_diaspora"></a>
		<a class="a2a_button_care2_news"></a>
		<a class="a2a_button_copy_link"></a>
		<a class="a2a_button_printfriendly"></a>
		<a class="a2a_dd"></a>
	</div>
</aside>
