/*
* @Author: Kristinita
* @Date:   2017-03-23 09:16:25
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 14:39:18
*/

/* ==========================================================================
   General
   ========================================================================== */


aside
	// Relative, than .SashaBottomAside text will in aside
	position relative
	// Icon the whole aside space
	background-size cover
	height 100%

/* Text in aside bottom */

.SashaBottomAside
	font-size 2rem
	line-height 2rem
	text-align center
	position absolute
	bottom 7%
	left 10%
	width 80%

/* ==========================================================================
   Media
   ========================================================================== */

/* For mobile devices */

@media screen and (max-width: 60rem)
	aside
		width 100%

/* For PC */

@media screen and (min-width: 60rem)
	aside
		width 35%

	/* Child scrollbar element for <main> tag because child elements have priority to parent elements. */

	.gm-scrollbar-container
		width 65%