/*
* @Author: Kristinita
* @Date:   2017-03-23 09:16:25
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 14:39:18
*/

/* ==========================================================================
	General
	========================================================================== */

.SashaIconAside
	// Icon the whole aside space
	background-size cover
	height 100%
	// That aside doesn't fell, if browser-update script enabled:
	// https://i.imgur.com/HxP20ee.png
	top 0

/* Text in aside bottom */

.SashaBottomAside
	font-size 2rem
	line-height 2rem
	text-align center
	position absolute
	bottom 7%
	left 10%
	width 80%

/* ==========================================================================
	Media
	========================================================================== */

/*
* Media queries
* need “screen”:
* https://webref.ru/css/media
*/

/*
* Orientation, see:
* https://www.webopedia.com/TERM/P/portrait.html
*/

/* For portrait orientation */

@media screen and (orientation portrait)
	.SashaIconAside
		width 100%
		/*
		* That .SashaBottomAside text will child for <aside> element:
		* https://github.com/noeldelgado/gemini-scrollbar/issues/46#issuecomment-374928170
		*/
		position relative

	noscript
		width 100%

/* For landscape orientation */

@media screen and (orientation landscape)
	.SashaIconAside
		width 35%
		position fixed

	/*
	* “div.buorg”, not “.buorg” overwrite default width:
	* https://stackoverflow.com/a/9956515/5951529
	*/
	div.buorg
	main
	noscript
		width 65%
