/*
 * @Author: Kristinita
 * @Date:   2017-01-30 16:32:10
 * @Last Modified by:   Kristinita
 * @Last Modified time: 2017-05-09 14:46:21
 */

@import "placeholders.styl"

h1
.SashaCategory
.SashaButtonCategory
.SashaBottomAside
	@extend $SashaXolonium
	font-size 1.9375rem
	font-weight lighter
	font-style normal

h2
	font-family "SansusWebissimoRegular"
	font-size 1.9375rem
	font-style italic

a
	font-family "ElMessiriRegular"
	font-size 1.3rem
	font-style italic
	font-weight bold

pre
code
	font-family "InconsolataLGCRegular"
	font-size 1.1875rem

.WorkOnYourself
	font-family "MiamaNuevaMedium"
	font-size 3.5625rem
	margin-bottom 3rem

/* For Sasha Black */

.SashaOnlineScanners
	@extend $SashaXolonium
	font-size 1.375rem
	font-weight lighter
	font-style normal
	color tomato

.SashaDifferentUrl
.SashaReadHelp
	font-family "SansusWebissimoRegular"
	font-size 1.4375rem

.SashaCheckYourSite
	@extend $SashaXolonium
