/*
 * @Author: Kristinita
 * @Date:   2017-01-30 16:32:10
 * @Last Modified by:   Kristinita
 * @Last Modified time: 2017-05-09 14:46:21
 */

/* [INFO] Webfonts-helper — site for getting generic-names for Google Fonts:
https://google-webfonts-helper.herokuapp.com/
[WARNING] Post comments before tags and classes, not selectors;
Stylint have a bug:
https://github.com/SimenB/stylint/issues/457
*/

@import "placeholders.styl"

h1
.SashaCategory
.SashaButtonCategory
.SashaBottomAside
	@extend $KiraPlay
	font-size 1.9375rem
	font-weight lighter
	font-style normal

// [INFO] sans-serif:
// https://google-webfonts-helper.herokuapp.com/fonts/scada
h2
	font-family "Scada", sans-serif
	font-size 1.9375rem
	font-style italic

// [INFO] sans-serif:
// https://google-webfonts-helper.herokuapp.com/fonts/el-messiri
a
	font-family "El Messiri", sans-serif
	font-size 1.3rem
	font-style italic
	font-weight bold

// [INFO] monospace:
// https://google-webfonts-helper.herokuapp.com/fonts/fira-mono
pre
code
	font-family "Fira Mono", monospace
	font-size 1.1875rem

// [INFO] handwriting:
// https://google-webfonts-helper.herokuapp.com/fonts/marck-script
// [NOTE] Stylelint doesn't support “handwriting”
.WorkOnYourself
	font-family "Marck Script", fantasy
	font-size 3.5625rem
	margin-bottom 1rem

/* For Sasha Black */

.SashaOnlineScanners
	@extend $KiraPlay
	font-size 1.375rem
	font-weight lighter
	font-style normal
	color tomato

.SashaDifferentUrl
.SashaReadHelp
	font-family "Scada", sans-serif
	font-size 1.4375rem

.SashaCheckYourSite
	@extend $KiraPlay
