/*==========================================================================*
	General
	========================================================================== */

/* ==========================================================================
	Malihu
	========================================================================== */

/* Don't use Malihu, plugin have bugs */

/* See https://github.com/malihu/malihu-custom-scrollbar-plugin/issues/501#issuecomment-275629140 */

/*.mCustomScrollbar .mCSB_scrollTools {
	right: auto;
}

.mCustomScrollbar .mCSB_inside > .mCSB_container {
	margin-right: 0;
}
*/

/* ==========================================================================
	Gemini
	========================================================================== */

/* Scrollbar in left side */

.gm-scrollbar
	&.-vertical
		right auto

/* ==========================================================================
	Media
	========================================================================== */

/* Landscape */

@media screen and (orientation landscape)

	/* Container without scrollbar */

	article
		margin-right 1rem
		margin-left 2rem

	/*
	* Fix <aside> to right side, if “position: fixed”;
	* “float:right” doesn't work:
	* https://stackoverflow.com/a/14991790/5951529
	*/

	.SashaIconAside
		right 0

/* Portrait */

@media screen and (orientation portrait)
	/* Don't use Malihu */

	/* .mCustomScrollbar .mCSB_scrollTools {
				right: auto;
		}*/

	/* Container without scrollbar */

	article
		margin-right 1rem
		margin-left 3rem

/* ==========================================================================
	AddToThis
	========================================================================== */

// Social buttons in left side

.a2a_floating_style
	left 0
