/* ==========================================================================
   General
   ========================================================================== */

/* Sasha icon to left */

aside
	float left

/* ==========================================================================
   Mailhu
   ========================================================================== */

/* Don't use Malihu, plugin have bugs */

/* See https://github.com/malihu/malihu-custom-scrollbar-plugin/issues/501#issuecomment-275629140 */

/*.mCustomScrollbar .mCSB_scrollTools {
    left: auto;
}

.mCustomScrollbar .mCSB_inside > .mCSB_container {
    margin-left: 0;
}*/

/* ==========================================================================
   Media
   ========================================================================== */

/* PC */

@media screen and (min-width: 60rem)
	/* Container without scrollbar */

	.SashaMargin
		margin-right 2rem
		margin-left 1rem

	/* Text to float to right side */

	main
		float left

/* Mobile */

@media screen and (max-width: 60rem)
	/* Don't use Malihu */

	/*    .mCustomScrollbar .mCSB_scrollTools {
	        right: auto;
	    }*/

	/* Container without scrollbar */

	.SashaMargin
		margin-right 2rem
		margin-left 1rem