/*
* @extend:
* http://stylus-lang.com/docs/extend
* Placeholder selectors —
* http://stylus-lang.com/docs/extend.html#extending-placeholder-selectors
* [WARNING] import placeholders with @extend must be in file beginning,
* import variables must be in end of file:
* https://stackoverflow.com/q/47971246/5951529
*/

/*
* For correct gemini-scrollbar displaying, see “body tag” section:
* https://github.com/noeldelgado/gemini-scrollbar#notes
* [NOTE] Use “overflow: hidden”! If no, you will get bugs with anchors: scrollbar scroll in begin ofthe page.
* [NOTE] Both html and body must include for correct gemini-scrollbar working.
*/
$SashaHTMLBody
	height 100%
	overflow hidden

/*
* Wrap all long words:
* https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap
* “overflow-wrap break-word” doesn't work in iOS.
* “word-break break all” works for all browsers:
* https://webref.ru/css/word-break
* [NOTE] Don't use universal selector:
* https://www.npmjs.com/package/stylint#universal--default-false-never--false-
*/
$SashaNoHorizontalScrollbar
	overflow-wrap break-word
	word-break break-all

/*
* Permalinks visible on hover
* As https://pythonhosted.org/Markdown/extensions/toc.html page
* Stylus parent reference, & symbol
* http://stylus-lang.com/docs/selectors.html#parent-reference
*/
$SashaVisiblePermalinks
	&:hover > .headerlink
		visibility visible

$SashaItalic
	font-style italic

$SashaFloatLeft
	float left

$SashaFloatRight
	float right

$SashaRightZero
	right 0

$SashaTextAlignCenter
	text-align center

$SashaPlaceholderDisplayInline
	display inline


$SashaMargin5Rem
	margin 5rem 0 0

$SashaFontSizeChildLink
	a
		font-size 2rem
