.SashaInlineHighlight .hll { background-color: #333333 }
.SashaInlineHighlight  { background: #5e3b47; color: #ffffff }
.SashaInlineHighlight .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
.SashaInlineHighlight .err { color: #ffffff } /* Error */
.SashaInlineHighlight .esc { color: #ffffff } /* Escape */
.SashaInlineHighlight .g { color: #ffffff } /* Generic */
.SashaInlineHighlight .k { color: #fb660a; font-weight: bold } /* Keyword */
.SashaInlineHighlight .l { color: #ffffff } /* Literal */
.SashaInlineHighlight .n { color: #ffffff } /* Name */
.SashaInlineHighlight .o { color: #ffffff } /* Operator */
.SashaInlineHighlight .x { color: #ffffff } /* Other */
.SashaInlineHighlight .p { color: sandybrown } /* Punctuation */
.SashaInlineHighlight .ch { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Hashbang */
.SashaInlineHighlight .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
.SashaInlineHighlight .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
.SashaInlineHighlight .cpf { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.PreprocFile */
.SashaInlineHighlight .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
.SashaInlineHighlight .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
.SashaInlineHighlight .gd { color: #ffffff } /* Generic.Deleted */
.SashaInlineHighlight .ge { color: #ffffff } /* Generic.Emph */
.SashaInlineHighlight .gr { color: #ffffff } /* Generic.Error */
.SashaInlineHighlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.SashaInlineHighlight .gi { color: #ffffff } /* Generic.Inserted */
.SashaInlineHighlight .go { color: #444444; background-color: #222222 } /* Generic.Output */
.SashaInlineHighlight .gp { color: #ffffff } /* Generic.Prompt */
.SashaInlineHighlight .gs { color: #ffffff } /* Generic.Strong */
.SashaInlineHighlight .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
.SashaInlineHighlight .gt { color: #ffffff } /* Generic.Traceback */
.SashaInlineHighlight .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
.SashaInlineHighlight .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
.SashaInlineHighlight .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
.SashaInlineHighlight .kp { color: #fb660a } /* Keyword.Pseudo */
.SashaInlineHighlight .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
.SashaInlineHighlight .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
.SashaInlineHighlight .ld { color: #ffffff } /* Literal.Date */
.SashaInlineHighlight .m { color: #0086f7; font-weight: bold } /* Literal.Number */
.SashaInlineHighlight .s { color: skyblue } /* Literal.String */
.SashaInlineHighlight .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
.SashaInlineHighlight .nb { color: #ffffff } /* Name.Builtin */
.SashaInlineHighlight .nc { color: #ffffff } /* Name.Class */
.SashaInlineHighlight .no { color: skyblue } /* Name.Constant */
.SashaInlineHighlight .nd { color: #ffffff } /* Name.Decorator */
.SashaInlineHighlight .ni { color: #ffffff } /* Name.Entity */
.SashaInlineHighlight .ne { color: #ffffff } /* Name.Exception */
.SashaInlineHighlight .nf { color: #ff0086; font-weight: bold } /* Name.Function */
.SashaInlineHighlight .nl { color: #ffffff } /* Name.Label */
.SashaInlineHighlight .nn { color: #ffffff } /* Name.Namespace */
.SashaInlineHighlight .nx { color: #ffffff } /* Name.Other */
.SashaInlineHighlight .py { color: #ffffff } /* Name.Property */
.SashaInlineHighlight .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
.SashaInlineHighlight .nv { color: #fb660a } /* Name.Variable */
.SashaInlineHighlight .ow { color: #ffffff } /* Operator.Word */
.SashaInlineHighlight .w { color: #888888 } /* Text.Whitespace */
.SashaInlineHighlight .mb { color: #0086f7; font-weight: bold } /* Literal.Number.Bin */
.SashaInlineHighlight .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
.SashaInlineHighlight .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
.SashaInlineHighlight .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
.SashaInlineHighlight .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
.SashaInlineHighlight .sa { color: skyblue } /* Literal.String.Affix */
.SashaInlineHighlight .sb { color: skyblue } /* Literal.String.Backtick */
.SashaInlineHighlight .sc { color: skyblue } /* Literal.String.Char */
.SashaInlineHighlight .dl { color: skyblue } /* Literal.String.Delimiter */
.SashaInlineHighlight .sd { color: skyblue } /* Literal.String.Doc */
.SashaInlineHighlight .s2 { color: skyblue } /* Literal.String.Double */
.SashaInlineHighlight .se { color: skyblue } /* Literal.String.Escape */
.SashaInlineHighlight .sh { color: skyblue } /* Literal.String.Heredoc */
.SashaInlineHighlight .si { color: skyblue } /* Literal.String.Interpol */
.SashaInlineHighlight .sx { color: skyblue } /* Literal.String.Other */
.SashaInlineHighlight .sr { color: skyblue } /* Literal.String.Regex */
.SashaInlineHighlight .s1 { color: skyblue } /* Literal.String.Single */
.SashaInlineHighlight .ss { color: skyblue } /* Literal.String.Symbol */
.SashaInlineHighlight .bp { color: #ffffff } /* Name.Builtin.Pseudo */
.SashaInlineHighlight .fm { color: #ff0086; font-weight: bold } /* Name.Function.Magic */
.SashaInlineHighlight .vc { color: #fb660a } /* Name.Variable.Class */
.SashaInlineHighlight .vg { color: #fb660a } /* Name.Variable.Global */
.SashaInlineHighlight .vi { color: #fb660a } /* Name.Variable.Instance */
.SashaInlineHighlight .vm { color: #fb660a } /* Name.Variable.Magic */
.SashaInlineHighlight .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */


.SashaBlockHighlight .hll { background-color: #333333 }
.SashaBlockHighlight  { background: #5e3b47; color: #ffffff }
.SashaBlockHighlight .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
.SashaBlockHighlight .err { color: #ffffff } /* Error */
.SashaBlockHighlight .esc { color: #ffffff } /* Escape */
.SashaBlockHighlight .g { color: #ffffff } /* Generic */
.SashaBlockHighlight .k { color: #fb660a; font-weight: bold } /* Keyword */
.SashaBlockHighlight .l { color: #ffffff } /* Literal */
.SashaBlockHighlight .n { color: #ffffff } /* Name */
.SashaBlockHighlight .o { color: #ffffff } /* Operator */
.SashaBlockHighlight .x { color: #ffffff } /* Other */
.SashaBlockHighlight .p { color: sandybrown } /* Punctuation */
.SashaBlockHighlight .ch { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Hashbang */
.SashaBlockHighlight .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
.SashaBlockHighlight .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
.SashaBlockHighlight .cpf { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.PreprocFile */
.SashaBlockHighlight .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
.SashaBlockHighlight .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
.SashaBlockHighlight .gd { color: #ffffff } /* Generic.Deleted */
.SashaBlockHighlight .ge { color: #ffffff } /* Generic.Emph */
.SashaBlockHighlight .gr { color: #ffffff } /* Generic.Error */
.SashaBlockHighlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.SashaBlockHighlight .gi { color: #ffffff } /* Generic.Inserted */
.SashaBlockHighlight .go { color: #444444; background-color: #222222 } /* Generic.Output */
.SashaBlockHighlight .gp { color: #ffffff } /* Generic.Prompt */
.SashaBlockHighlight .gs { color: #ffffff } /* Generic.Strong */
.SashaBlockHighlight .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
.SashaBlockHighlight .gt { color: #ffffff } /* Generic.Traceback */
.SashaBlockHighlight .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
.SashaBlockHighlight .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
.SashaBlockHighlight .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
.SashaBlockHighlight .kp { color: #fb660a } /* Keyword.Pseudo */
.SashaBlockHighlight .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
.SashaBlockHighlight .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
.SashaBlockHighlight .ld { color: #ffffff } /* Literal.Date */
.SashaBlockHighlight .m { color: #0086f7; font-weight: bold } /* Literal.Number */
.SashaBlockHighlight .s { color: skyblue } /* Literal.String */
.SashaBlockHighlight .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
.SashaBlockHighlight .nb { color: #ffffff } /* Name.Builtin */
.SashaBlockHighlight .nc { color: #ffffff } /* Name.Class */
.SashaBlockHighlight .no { color: skyblue } /* Name.Constant */
.SashaBlockHighlight .nd { color: #ffffff } /* Name.Decorator */
.SashaBlockHighlight .ni { color: #ffffff } /* Name.Entity */
.SashaBlockHighlight .ne { color: #ffffff } /* Name.Exception */
.SashaBlockHighlight .nf { color: #ff0086; font-weight: bold } /* Name.Function */
.SashaBlockHighlight .nl { color: #ffffff } /* Name.Label */
.SashaBlockHighlight .nn { color: #ffffff } /* Name.Namespace */
.SashaBlockHighlight .nx { color: #ffffff } /* Name.Other */
.SashaBlockHighlight .py { color: #ffffff } /* Name.Property */
.SashaBlockHighlight .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
.SashaBlockHighlight .nv { color: #fb660a } /* Name.Variable */
.SashaBlockHighlight .ow { color: #ffffff } /* Operator.Word */
.SashaBlockHighlight .w { color: #888888 } /* Text.Whitespace */
.SashaBlockHighlight .mb { color: #0086f7; font-weight: bold } /* Literal.Number.Bin */
.SashaBlockHighlight .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
.SashaBlockHighlight .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
.SashaBlockHighlight .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
.SashaBlockHighlight .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
.SashaBlockHighlight .sa { color: skyblue } /* Literal.String.Affix */
.SashaBlockHighlight .sb { color: skyblue } /* Literal.String.Backtick */
.SashaBlockHighlight .sc { color: skyblue } /* Literal.String.Char */
.SashaBlockHighlight .dl { color: skyblue } /* Literal.String.Delimiter */
.SashaBlockHighlight .sd { color: skyblue } /* Literal.String.Doc */
.SashaBlockHighlight .s2 { color: skyblue } /* Literal.String.Double */
.SashaBlockHighlight .se { color: skyblue } /* Literal.String.Escape */
.SashaBlockHighlight .sh { color: skyblue } /* Literal.String.Heredoc */
.SashaBlockHighlight .si { color: skyblue } /* Literal.String.Interpol */
.SashaBlockHighlight .sx { color: skyblue } /* Literal.String.Other */
.SashaBlockHighlight .sr { color: skyblue } /* Literal.String.Regex */
.SashaBlockHighlight .s1 { color: skyblue } /* Literal.String.Single */
.SashaBlockHighlight .ss { color: skyblue } /* Literal.String.Symbol */
.SashaBlockHighlight .bp { color: #ffffff } /* Name.Builtin.Pseudo */
.SashaBlockHighlight .fm { color: #ff0086; font-weight: bold } /* Name.Function.Magic */
.SashaBlockHighlight .vc { color: #fb660a } /* Name.Variable.Class */
.SashaBlockHighlight .vg { color: #fb660a } /* Name.Variable.Global */
.SashaBlockHighlight .vi { color: #fb660a } /* Name.Variable.Instance */
.SashaBlockHighlight .vm { color: #fb660a } /* Name.Variable.Magic */
.SashaBlockHighlight .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */