# editorconfig.org
# That apply this .editorconfig, not for Kristinita folder
# http://editorconfig.org/#file-format-details
root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
