<!-- @Author: Kristinita -->
<!-- @Date:   2022-08-14 19:33:49 -->
<!-- @Last Modified time: 2022-08-20 16:35:16 -->
{% extends "auxiliary.html" %}


{% block aux_items_of_kira_object %}
	{# [INFO] “sort” filter for sorting articles in alphabetically order:
	https://stackoverflow.com/a/24174145/5951529

	[NOTE] Another solutions doesn’t work in my case.

	I tried “basename”, “slug”, “title”, “filename” for “ARTICLE_ORDER_BY” value:
	https://docs.getpelican.com/en/latest/settings.html?#ordering-content

	Also, I tried lambda function:
	https://stackoverflow.com/a/27955292/5951529
	 #}
	{% for kira_article in articles|sort(attribute="title") %}
	    <li><a href="{{ SITEURL }}/{{ kira_article.url }}">{{ kira_article.title }}</a></li>
	{% endfor %}
{% endblock %}
