@font-face {
    font-family: 'AleksandraC';
    src: local('AleksandraCRegular'), url('aleksandracregular.woff2') format('woff2'), url('aleksandracregular.woff') format('woff'), url('aleksandracregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
