/*
* @Author: Kristinita
* @Date:   2017-03-22 07:00:57
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-03-22 07:04:01
*/

/*
* Russian letters as list markers
*/

.russianletters
	li::before
		&:nth-of-type(1)
			content "а."

		&:nth-of-type(2)
			content "б."

		&:nth-of-type(3)
			content "в."
