@import "../placeholders.styl"

/*
[INFO] Styles for YouTube links

[LICENSE] “Social Media” pack of Freepik:
https://www.flaticon.com/free-icon/youtube_1384060?term=YouTube&page=1&position=1
*/
.KiraYouTubeLink:after
	@extend $KiraMarginNonTextLinks
	content url(../../../images/interface-images/youtube.png)
