/* >> Header data
	========================================================================== */

/* [INFO] Header data of articles and pages:

1. Date created
2. Date last modified
3. Version of content of the page
4. Invitation to comment on content
*/
.SashaHeaderData
	font-size .9rem
	font-weight bold

	a
		font-size 1rem

.SashaHeaderCommentOffer
	margin-top 1rem

/* >> Epigraph
	========================================================================== */


/* [INFO] Epigraphs also may be used in articles/pages content */
.SashaEpigraph
	font-style italic
	margin 4rem 0
	text-align right

	/*
	[INFO] Disable gradient for em tag
	*/
	> em
		background-image none

	> .SashaEpigraphAuthor
		line-height 1rem
		margin 2rem 0
		font-style italic
