/* ==========================================================================
	> Iframes
	========================================================================== */

/*
[WARNING] Not possible to change iframe style via CSS:
https://stackoverflow.com/posts/comments/1890034
https://stackoverflow.com/a/6495816/5951529
*/

iframe
	width 100%
	height 100%
	position absolute
	/* [INFO] Instead of “frameborder”:
	http://stackoverflow.com/a/10831379/5951529 */
	border 0
