/* >> Disabled JavaScript
	========================================================================== */

/*
[INFO] Message in top bar, if user disable JavaScript in the browser:

[INFO] Based on:
http://www.w3programmers.com/pure-css-noscript-message/

[INFO] Use class name “.SashaDisabledJavaScriptMessage”, not “<noscript>”.
Native lazy loading polyfill used “<noscript>”:
https://github.com/mfranzke/loading-attribute-polyfill
*/
.SashaDisabledJavaScriptMessage
	color white
	font-family sans-serif
	font-weight bold
	text-align center
	padding 1rem 0
	background rgba(0 0 0 .9)
	position fixed
	top 0
	z-index 900
