/* >> Neon shadows for text
	========================================================================== */

.SashaShadowsNeonAroundText
	font-family "Times New Roman", Times, serif
	font-size 1.6rem
	width auto
