{# [ACTION] Open all links in pages in new tabs:
https://forum.squarespace.com/topic/21952-force-all-external-links-into-a-new-tab/?do=findComment&comment=219538
[PURPOSE] I regularly click to links on web pages.
When I read new page, I may forget to read to the end the previous page I need.
Therefore, I use middle-click for opening links in new tabs.
The previous page is nearby, and I don’t forget about its existence.
I want that this behavior will default.

[INFO] “htmllint”, “html-nu” and “htmlhint” consider it valid

[FIXME][ISSUE][POSTHTML] PostHTML plugins “link-noreferrer” and “noopener”
doesn’t work for me both:
https://github.com/webistomin/posthtml-link-noreferrer
https://github.com/posthtml/posthtml-noopener

<base target="_blank">
#}
