{#
[BUG] Critical page display bug on some browsers:
https://github.com/noeldelgado/gemini-scrollbar/issues/64

[INFO] RSS feed subscribe buttons:
https://www.addtoany.com/buttons/customize/follow_buttons
[INFO] Horizontal scrollbar; hide and show on scroll:
https://www.addtoany.com/buttons/customize/floating_share_buttons


<div class="KiraNeighborsClearfix">
	<div class="a2a_kit a2a_kit_size_17 a2a_default_style a2a_follow" data-a2a-url="{{ SITEURL }}/feeds/all-{{ kira_object.lang }}.atom.xml">
	    <a class="a2a_button_feed"></a>
	    <a class="a2a_button_the_free_dictionary"></a>
	    <a class="a2a_button_netvibes"></a>
	    <a class="a2a_button_oldreader"></a>
	    <a class="a2a_button_feedly"></a>
	    <a class="a2a_dd"></a>
	</div>
</div>
#}
