// Pygments
// Fruity theme
// https://stylishthemes.github.io/Syntax-Themes/pygments/
// Previously I use paraiso-light Rainbow.js theme

Sasha-Pygments-Background = #5e3b47
Sasha-Pygments-Foreground = white
Sasha-Pygments-Comment-Background = #0f140f
Sasha-Pygments-Comment-Font-Style = italic
Sasha-Pygments-Comment = green
Sasha-Pygments-Error = white
Sasha-Pygments-Escape = white
Sasha-Pygments-Highlight-Line = #333333
Sasha-Pygments-Generic = white
Sasha-Pygments-Keyword = #fb660a
Sasha-Pygments-Keyword-Font-Weight = bold
Sasha-Pygments-Literal = white
Sasha-Pygments-Name = white
Sasha-Pygments-Operator = white
Sasha-Pygments-Other = white
Sasha-Pygments-Punctuation = sandybrown
Sasha-Pygments-Comment-Hashbang = green
Sasha-Pygments-Comment-Hashbang-Background = #0f140f
Sasha-Pygments-Comment-Hashbang-Font-Style = italic
Sasha-Pygments-Comment-Multiline = green
Sasha-Pygments-Comment-Multiline-Background = #0f140f
Sasha-Pygments-Comment-Multiline-Font-Style = italic
Sasha-Pygments-Comment-Preproc = #ff0007
Sasha-Pygments-Comment-Preproc-Background = #0f140f
Sasha-Pygments-Comment-Preproc-Font-Style = italic
Sasha-Pygments-Comment-Preproc-Font-Weight = bold
Sasha-Pygments-Comment-Preproc-File = green
Sasha-Pygments-Comment-Preproc-File-Background = #0f140f
Sasha-Pygments-Comment-Preproc-File-Font-Weight = bold
Sasha-Pygments-Comment-Single = green
Sasha-Pygments-Comment-Single-Background = #0f140f
Sasha-Pygments-Comment-Single-Font-Style = italic
Sasha-Pygments-Comment-Special = green
Sasha-Pygments-Comment-Special-Background = #0f140f
Sasha-Pygments-Comment-Special-Font-Style = italic
Sasha-Pygments-Generic-Deleted = white
Sasha-Pygments-Generic-Emph = white
Sasha-Pygments-Generic-Error = white
Sasha-Pygments-Generic-Heading = white
Sasha-Pygments-Generic-Font-Weight = bold
Sasha-Pygments-Generic-Inserted = white
Sasha-Pygments-Generic-Output = #444444
Sasha-Pygments-Generic-Output-Background = #222222
Sasha-Pygments-Generic-Prompt = crimson
Sasha-Pygments-Generic-Strong = white
Sasha-Pygments-Generic-Subheading = white
Sasha-Pygments-Generic-Subheading-Font-Weight = bold
Sasha-Pygments-Generic-Traceback = white
Sasha-Pygments-Keyword-Constant = #fb660a
Sasha-Pygments-Keyword-Constant-Font-Weight = bold
Sasha-Pygments-Keyword-Declaration = #fb660a
Sasha-Pygments-Keyword-Declaration-Font-Weight = bold
Sasha-Pygments-Keyword-Namespace = #fb660a
Sasha-Pygments-Keyword-Namespace-Font-Weight = bold
Sasha-Pygments-Keyword-Pseudo = #fb660a
Sasha-Pygments-Keyword-Reserved = #fb660a
Sasha-Pygments-Keyword-Reserved-Font-Weight = bold
Sasha-Pygments-Keyword-Type = #cdcaa9
Sasha-Pygments-Keyword-Type-Font-Weight = bold
Sasha-Pygments-Literal-Date = white
Sasha-Pygments-Literal-Number = #0086f7
Sasha-Pygments-Literal-Number-Font-Weight = bold
Sasha-Pygments-Literal-String = skyblue
Sasha-Pygments-Name-Attribute = #ff0086
Sasha-Pygments-Name-Attribute-Font-Weight = bold
Sasha-Pygments-Name-Builtin = white
Sasha-Pygments-Name-Class = white
Sasha-Pygments-Name-Constant = skyblue
Sasha-Pygments-Name-Decorator = white
Sasha-Pygments-Name-Entity = white
Sasha-Pygments-Name-Exception = white
Sasha-Pygments-Name-Function = #ff0086
Sasha-Pygments-Name-Function-Font-Weight = bold
Sasha-Pygments-Name-Label = white
Sasha-Pygments-Name-Namespace = white
Sasha-Pygments-Name-Other = white
Sasha-Pygments-Name-Property = white
Sasha-Pygments-Name-Tag = #fb660a
Sasha-Pygments-Name-Tag-Font-Weight = bold
Sasha-Pygments-Name-Variable = #fb660a
Sasha-Pygments-Operator-Word = white
Sasha-Pygments-Text-Whitespace = #888888
Sasha-Pygments-Literal-Number-Bin = #0086f7
Sasha-Pygments-Literal-Number-Bin-Font-Weight = bold
Sasha-Pygments-Literal-Number-Float = #0086f7
Sasha-Pygments-Literal-Number-Float-Font-Weight = bold
Sasha-Pygments-Literal-Number-Hex = #0086f7
Sasha-Pygments-Literal-Number-Hex-Font-Weight = bold
Sasha-Pygments-Literal-Number-Integer = #0086f7
Sasha-Pygments-Literal-Number-Integer-Font-Weight = bold
Sasha-Pygments-Literal-Number-Oct = #0086f7
Sasha-Pygments-Literal-Number-Oct-Font-Weight = bold
Sasha-Pygments-Literal-String-Affix = skyblue
Sasha-Pygments-Literal-String-Backtick = skyblue
Sasha-Pygments-Literal-String-Char = skyblue
Sasha-Pygments-Literal-String-Delimeter = skyblue
Sasha-Pygments-Literal-String-Doc = skyblue
Sasha-Pygments-Literal-String-Double = skyblue
Sasha-Pygments-Literal-String-Escape = skyblue
Sasha-Pygments-Literal-String-Heredoc = skyblue
Sasha-Pygments-Literal-String-Interpol = skyblue
Sasha-Pygments-Literal-String-Other = skyblue
Sasha-Pygments-Literal-String-Regex = skyblue
Sasha-Pygments-Literal-String-Single = skyblue
Sasha-Pygments-Literal-String-Symbol = skyblue
Sasha-Pygments-Name-Builtin-Pseudo = white
Sasha-Pygments-Name-Function-Magic = #ff0086
Sasha-Pygments-Name-Function-Magic-Font-Weight = bold
Sasha-Pygments-Variable-Class = #fb660a
Sasha-Pygments-Name-Variable-Global = #fb660a
Sasha-Pygments-Name-Variable-Instance = #fb660a
Sasha-Pygments-Name-Variable-Magic = #fb660a
Sasha-Pygments-Literal-Number-Integer-Long = #0086f7
Sasha-Pygments-Literal-Number-Integer-Long-Font-Weight = bold

@import "pygments-core.styl"
