/* >> Pygments
   ========================================================================== */

/**
 * Pygments classes
 * The mean of classes see in variables names
 * List of pygments themes see on:
 * https://stylishthemes.github.io/Syntax-Themes/pygments/
 * hll — highlight lines, see:
 * http://bit.ly/2CP531W
 */

.SashaInlineHighlight
.SashaBlockHighlight
	background-color Sasha-Pygments-Background
	color Sasha-Pygments-Foreground
	.c
		background-color Sasha-Pygments-Comment-Background
		font-style Sasha-Pygments-Comment-Font-Style
		color Sasha-Pygments-Comment
	.err
		color Sasha-Pygments-Error
	.esc
		color Sasha-Pygments-Escape
	.hll
		background-color Sasha-Pygments-Highlight-Line
	.g
		color Sasha-Pygments-Generic
	.k
		color Sasha-Pygments-Keyword
		font-weight Sasha-Pygments-Keyword-Font-Weight
	.l
		color Sasha-Pygments-Literal
	.n
		color Sasha-Pygments-Name
	.o
		color Sasha-Pygments-Operator
	.x
		color Sasha-Pygments-Other
	.p
		color Sasha-Pygments-Punctuation
	.ch
		color Sasha-Pygments-Comment-Hashbang
		background-color Sasha-Pygments-Comment-Hashbang-Background
		font-style Sasha-Pygments-Comment-Hashbang-Font-Style
	.cm
		color Sasha-Pygments-Comment-Multiline
		background-color Sasha-Pygments-Comment-Multiline-Background
		font-style Sasha-Pygments-Comment-Multiline-Font-Style
	.cp
		color Sasha-Pygments-Comment-Preproc
		background-color Sasha-Pygments-Comment-Preproc-Background
		font-weight Sasha-Pygments-Comment-Preproc-Font-Weight
	.cpf
		color Sasha-Pygments-Comment-Preproc-File
		background-color Sasha-Pygments-Comment-Preproc-File-Background
		font-style Sasha-Pygments-Comment-Preproc-Font-Style
		font-weight Sasha-Pygments-Comment-Preproc-File-Font-Weight
	.c1
		color Sasha-Pygments-Comment-Single
		background-color Sasha-Pygments-Comment-Single-Background
		font-style Sasha-Pygments-Comment-Single-Font-Style
	.cs
		color Sasha-Pygments-Comment-Special
		background-color Sasha-Pygments-Comment-Special-Background
		font-style Sasha-Pygments-Comment-Special-Font-Style
	.gd
		color Sasha-Pygments-Generic-Deleted
	.ge
		color Sasha-Pygments-Generic-Emph
	.gr
		color Sasha-Pygments-Generic-Error
	.gh
		color Sasha-Pygments-Generic-Heading
		font-weight Sasha-Pygments-Generic-Font-Weight
	.gi
		color Sasha-Pygments-Generic-Inserted
	.go
		color Sasha-Pygments-Generic-Output
		background-color Sasha-Pygments-Generic-Output-Background
	.gp
		color Sasha-Pygments-Generic-Prompt
	.gs
		color Sasha-Pygments-Generic-Strong
	.gu
		color Sasha-Pygments-Generic-Subheading
		font-weight Sasha-Pygments-Generic-Subheading-Font-Weight
	.gt
		color Sasha-Pygments-Generic-Traceback
	.kc
		color Sasha-Pygments-Keyword-Constant
		font-weight Sasha-Pygments-Keyword-Constant-Font-Weight
	.kd
		color Sasha-Pygments-Keyword-Declaration
		font-weight Sasha-Pygments-Keyword-Declaration-Font-Weight
	.kn
		color Sasha-Pygments-Keyword-Namespace
		font-weight Sasha-Pygments-Keyword-Namespace-Font-Weight
	.kp
		color Sasha-Pygments-Keyword-Pseudo
	.kr
		color Sasha-Pygments-Keyword-Reserved
		font-weight Sasha-Pygments-Keyword-Reserved-Font-Weight
	.kt
		color Sasha-Pygments-Keyword-Type
		font-weight Sasha-Pygments-Keyword-Type-Font-Weight
	.ld
		color Sasha-Pygments-Literal-Date
	.m
		color Sasha-Pygments-Literal-Number
		font-weight Sasha-Pygments-Literal-Number-Font-Weight
	.s
		color Sasha-Pygments-Literal-String
	.na
		color Sasha-Pygments-Name-Attribute
		font-weight Sasha-Pygments-Name-Attribute-Font-Weight
	.nb
		color Sasha-Pygments-Name-Builtin
	.nc
		color Sasha-Pygments-Name-Class
	.no
		color Sasha-Pygments-Name-Constant
	.nd
		color Sasha-Pygments-Name-Decorator
	.ni
		color Sasha-Pygments-Name-Entity
	.ne
		color Sasha-Pygments-Name-Exception
	.nf
		color Sasha-Pygments-Name-Function
		font-weight Sasha-Pygments-Name-Function-Font-Weight
	.nl
		color Sasha-Pygments-Name-Label
	.nn
		color Sasha-Pygments-Name-Namespace
	.nx
		color Sasha-Pygments-Name-Other
	.py
		color Sasha-Pygments-Name-Property
	.nt
		color Sasha-Pygments-Name-Tag
		font-weight Sasha-Pygments-Name-Tag-Font-Weight
	.nv
		color Sasha-Pygments-Name-Variable
	.ow
		color Sasha-Pygments-Operator-Word
	.w
		color Sasha-Pygments-Text-Whitespace
	.mb
		color Sasha-Pygments-Literal-Number-Bin
		font-weight Sasha-Pygments-Literal-Number-Bin-Font-Weight
	.mf
		color Sasha-Pygments-Literal-Number-Float
		font-weight Sasha-Pygments-Literal-Number-Float-Font-Weight
	.mh
		color Sasha-Pygments-Literal-Number-Hex
		font-weight Sasha-Pygments-Literal-Number-Hex-Font-Weight
	.mi
		color Sasha-Pygments-Literal-Number-Integer
		font-weight Sasha-Pygments-Literal-Number-Integer-Font-Weight
	.mo
		color Sasha-Pygments-Literal-Number-Oct
		font-weight Sasha-Pygments-Literal-Number-Oct-Font-Weight
	.sa
		color Sasha-Pygments-Literal-String-Affix
	.sb
		color Sasha-Pygments-Literal-String-Backtick
	.sc
		color Sasha-Pygments-Literal-String-Char
	.dl
		color Sasha-Pygments-Literal-String-Delimeter
	.sd
		color Sasha-Pygments-Literal-String-Doc
	.s2
		color Sasha-Pygments-Literal-String-Double
	.se
		color Sasha-Pygments-Literal-String-Escape
	.sh
		color Sasha-Pygments-Literal-String-Heredoc
	.si
		color Sasha-Pygments-Literal-String-Interpol
	.sx
		color Sasha-Pygments-Literal-String-Other
	.sr
		color Sasha-Pygments-Literal-String-Regex
	.s1
		color Sasha-Pygments-Literal-String-Single
	.ss
		color Sasha-Pygments-Literal-String-Symbol
	.bp
		color Sasha-Pygments-Name-Builtin-Pseudo
	.fm
		color Sasha-Pygments-Name-Function-Magic
		font-weight Sasha-Pygments-Name-Function-Magic-Font-Weight
	.vc
		color Sasha-Pygments-Variable-Class
	.vg
		color Sasha-Pygments-Name-Variable-Global
	.vi
		color Sasha-Pygments-Name-Variable-Instance
	.vm
		color Sasha-Pygments-Name-Variable-Magic
	.il
		color Sasha-Pygments-Literal-Number-Integer-Long
		font-weight Sasha-Pygments-Literal-Number-Integer-Long-Font-Weight
