/*
* @Author: Kristinita
* @Date:   2017-03-30 16:26:04
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-03-31 13:33:38
*/
/*****************************************************************************
* See full documentation here — http://manos.malihu.gr/jquery-custom-content-scroller/
* Theme elements — http://manos.malihu.gr/wp-content/uploads/2012/07/scrollbar_layout.png
*****************************************************
*/

/* Scrollbar color, if user put mouse in current tab, but not in scrollbar */

.mCS-sasha-scrollbar.mCSB_scrollTools .mCSB_dragger_bar {
    background-color: #804A7D99;
    /* Scrollbar width */
    width: .5rem;
}


/* Scrollbar container */

.mCS-sasha-scrollbar.mCSB_scrollTools .mCSB_draggerContainer {
    background-color: peachpuff;
}


/* Scrollbar color if user hover in any place of scrollbar container */

.mCS-sasha-scrollbar.mCSB_scrollTools .mCSB_draggerContainer:hover .mCSB_dragger_bar {
    background-color: #804A7D99;
}


/* Scrollbar color if user hold mouse in scrollbar and place mouse in any place in active tab */

.mCS-sasha-scrollbar .mCS-sasha-scrollbar.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-sasha-scrollbar.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #804A7D99;
}


/* Don't display a line in scrollbar container center */

.mCS-sasha-scrollbar.mCSB_scrollTools .mCSB_draggerRail {
    display: none;
}

/* Margin between scrollbar and other elements, see http://manos.malihu.gr/jquery-custom-content-scroller/comment-page-67/#comment-19908
.mCSB_inside > .mCSB_container {
    margin-right: .5rem;
} */
