/*
* @Author: Kristinita
* @Date:   2017-03-23 09:42:24
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-03-23 10:42:14
*/

a
	color red

img
	max-width 100%
	min-height 50%

@media screen and (max-width: 1600px)
	div
		&.for-example
			width 1500px

@media screen and (max-width: 770px)
	div
		&.for-example
			width 1100px

@media screen and (max-width: 1024px)
	div
		&.for-example
			width 980px

body
	background url("../../images/backgrounds/SashaHangerBackground.jpg") no-repeat center center fixed
	background-size cover
	color mediumvioletred
	background-color papayawhip

.SashaError404
	text-shadow 0 6px 4px #85c226, -3px -5px 4px #fe2192, 3px -5px 4px #f7c200
	font-size 4.4rem

.Sasha404Message
	text-shadow 0 0 7px #1e90ff
	color gold
	font-size 1.7rem

#slide-container
	#slideShowImages
		IMG
			margin auto
			position absolute
			top 0
			left 0
			bottom 0
			right 0