/*
* @Author: Kristinita
* @Date:   2017-03-23 09:42:24
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-03-23 10:42:14
*/
body
	/* Center background image:
	https://ru.stackoverflow.com/a/96749/199934 */
	background url("../../images/backgrounds/SashaHangerBackground.jpg") no-repeat center center fixed
	background-size cover
	padding 0

a
	color gold

img
	/* Center slide:
	https://stackoverflow.com/a/34670755/5951529 */
	margin auto
	max-width 96%

.Sasha404
	font-size 4rem
	margin-bottom 2rem
	color orange
	font-weight bold
	-webkit-text-stroke .1rem red

.Sasha404Description
	font-size 2rem
	margin-bottom 2rem
	color honeydew
	/* text-stroke — border around letters:
	https://ru.stackoverflow.com/q/196968/199934
	https://css-tricks.com/almanac/properties/t/text-stroke/
	https://caniuse.com/#feat=text-stroke
	*/
	-webkit-text-stroke .04rem

.Sasha404
.Sasha404Description
	text-align center

// margin-bottom for images, if small height and page scroll to bottom

.slider
	margin-bottom 2rem
