/**
 * Description: Design for kristinita.ru pages
 * Author: Sasha Chernykh
 * Import + variables — https://stackoverflow.com/a/47971582/5951529
 * Nt — not tested properties
 *
 * Summary:
 *

 	1. General
 		- 1.1. Body
 		- 1.2. Links
 		- 1.3. Cursive
 		- 1.4. Images
 		- 1.5. KBD
 		- 1.6. hr
 		- 1.7. Tables
 	2. aside
 		- 2.1. cover-text
 		- 2.2. Sasha icon
 	3. Blockquotes
 		- 3.1. Left-border blockquote
 		- 3.2. Terms
 		- 3.3. Quotes top and bottom
 		- 3.4. Epigraph
 		- 3.5. Gingerinas example
 	4. Code
 		- 4.1. Inline code
 		- 4.2. Multiline code
 	5. Decoration
 		- 5.1. Shadows
 	6. Different elements
 		- 6.1. Custom selection
 		- 6.2. Child elements
 	7. Tooltipster theme
 		- 7.1. Tooltipster
 		- 7.2. Proggresbar
 */


/* ==========================================================================
   1. General
   ========================================================================== */

/* 1.1. Body
   ========================================================================== */

body
	background Sasha-Body-Background
	color Sasha-Body-Foreground

/* 1.2. Links
   ========================================================================== */

/*
 * Background color of links by hover
 */

/*
 * Background color of links, if user move between links use tab key
 * https://css-tricks.com/almanac/selectors/f/focus/
 */

a
	color Sasha-Link

	&:hover
		background-color Sasha-Hover-Link

	&:focus
		background Sasha-Focus-Link

/**
 * Dead links
 * https://github.com/silentlamb/pelican-deadlinks
 */

/* «Амарантовый» Яндекс.Колдунщик for sublime-text */

.SashaDeadlink
	color Sasha-Dead-Link

/* 1.3. Cursive
   ========================================================================== */

/**
 * Cursive
 * For highlighting non-code elements
 * Text gradient
 * http://stackoverflow.com/q/37831837/5951529
 * Don't support all browsers
 * https://developer.mozilla.org/en-US/docs/Web/CSS/background-clip#Browser_compatibility
 */

em
	background-image linear-gradient(to right, Sasha-Begin-Cursive, Sasha-End-Cursive)
	-webkit-background-clip text
	color transparent

/* 1.4. Images
   ========================================================================== */

// Shadow

img
	box-shadow 0 0 2rem Sasha-Image-Shadow

.SashaPageLoading
	box-shadow none

/* 1.5. KBD
   ========================================================================== */

kbd
	color Sasha-KBD-foreground
	background Sasha-KBD-background

/* 1.6. hr
   ========================================================================== */

hr
	color Sasha-hr

/* 1.7. Tables
   ========================================================================== */

/* Basic tables style — https://css-tricks.com/complete-guide-table-element/#article-header-id-4 */
td
th
	border 0.0625rem solid Sasha-Body-Foreground


/* ==========================================================================
   2. Aside
   ========================================================================== */

/* 2.1. cover-text
   ========================================================================== */

.cover-text
	color Sasha-Cover-Text
	bottom Sasha-Bottom-Percent

/* 2.2. Sasha icon
   ========================================================================== */

aside
	background-image Sasha-Icon


/* ==========================================================================
   3. Blockquotes
   ========================================================================== */

/* 3.1. Left-border blockquote
   ========================================================================== */

blockquote
	border-left solid Sasha-Left-Border .5rem
	color Sasha-Left-Border-Foreground
	background Sasha-Left-Border-Background

/* 3.2. Terms
   ========================================================================== */

.SashaBlockquote
	border-color Sasha-Term-Blockquote-Border
	background-color Sasha-Term-Blockquote-Background
	color Sasha-Term-Blockquote-Foreground

/* 3.3. Quotes top and bottom
   ========================================================================== */

/* Citation between top and bottom quotes */
.SashaCitation
	color Sasha-Citation-Between-Quotes

/* 3.4. Epigraph
   ========================================================================== */

/* Блестящий зеленовато-жёлтый, Яндекс.Колдунщик for sublime-text.styl */
.SashaEpigraph
	color Sasha-Epigraph

	>.SashaEpigraphAuthor
		color Sasha-Epigraph-Author

	>em
		color Sasha-Epigraph-Em

/* 3.5. Gingerinas example
   ========================================================================== */

// Color for gingerinas.styl — green tea in «Яндекс. Колдунщик»
.SashaGingerinasExample
	background-color Sasha-Gingerinas-Example


/* ==========================================================================
   4. Code
   ========================================================================== */

/* 4.1. Inline code
   ========================================================================== */

code
	background-color Sasha-Inline-Code

/* 4.2. Multiline code
   ========================================================================== */

// All black for sublime-text.styl

pre
	>code
		background-color Sasha-Multiline-Code


/* ==========================================================================
   5. Decoration
   ========================================================================== */

/* 5.1. Shadows
   ========================================================================== */

.SashaShadow
	text-shadow 0 0 0.625rem Sasha-Shadow, 0 0 1.25rem Sasha-Shadow, 0 0 1.875rem Sasha-Shadow, 0 0 2.5rem Sasha-Shadow, 0 0 3.125rem Sasha-Shadow, 0 0 3.75rem Sasha-Shadow


/* ==========================================================================
   6. Different elements
   ========================================================================== */

/* 6.1. Custom selection
   ========================================================================== */

/*
 *  http://ru.stackoverflow.com/a/595809/199934
 */

::-moz-selection
	color Sasha-Selection-Foreground
	background Sasha-Selection-Mozilla-Background

::selection
	color Sasha-Selection-Foreground
	background Sasha-Selection-Background

::-moz-selection:window-inactive
	color Sasha-Selection-Foreground
	background Sasha-Selection-Background

::selection:window-inactive
	color Sasha-Selection-Foreground
	background Sasha-Selection-Background

/* 6.2. Child elements
   ========================================================================== */

/*
 * Overwrite color child element, !important doesn't work,
 * http://stackoverflow.com/a/21297248/5951529
 * Identical as body foreground
 */

.SashaEmNoColor
	color Sasha-Body-Foreground


/* ==========================================================================
   7. External plugins
   ========================================================================== */

/* 7.1. Tooltipster
   ========================================================================== */

.tooltipster-punk-purple
	.tooltipster-box
		border-bottom 3px solid Sasha-Tooltipster-Purple-Bottom
		background Sasha-Tooltipster-Purple-Background

.tooltipster-punk-aquamarine
	.tooltipster-box
		border-bottom 3px solid Sasha-Tooltipster-Aquamarine-Bottom
		background Sasha-Tooltipster-Aquamarine-Background

/* 7.2. Progressbar
   ========================================================================== */

// https://facelessuser.github.io/pymdown-extensions/extensions/progressbar/#styling-with-css
// The bands, on which is progress-bar
.progress
	background-color Sasha-Body-Background

// Don't understand, what it is. Default color?
.progress-bar
	background-color Sasha-Progress-Bar

// Text in progress-bar
.progress-label
	color Sasha-Progressbar-Text

.progress-100plus
	.progress-bar
		background-color Sasha-Progressbar-100

.progress-90plus
	.progress-bar
		background-color Sasha-Progressbar-90

.progress-80plus
	.progress-bar
		background-color Sasha-Progressbar-80

.progress-70plus
	.progress-bar
		background-color Sasha-Progressbar-70

.progress-60plus
	.progress-bar
		background-color Sasha-Progressbar-60

.progress-50plus
	.progress-bar
		background-color Sasha-Progressbar-50

.progress-40plus
	.progress-bar
		background-color Sasha-Progressbar-40

.progress-30plus
	.progress-bar
		background-color Sasha-Progressbar-30

.progress-20plus
	.progress-bar
		background-color Sasha-Progressbar-20

.progress-10plus
	.progress-bar
		background-color Sasha-Progressbar-10

.progress-0plus
	.progress-bar
		background-color Sasha-Progressbar-0