/* Unverified For PurifyCSS
   ========================================================================== */
body {
  background: #f3efd6;
  color: #738e8b;
}
a {
  color: #bc8475;
}
a:hover {
  background-color: #eee8aa;
}
a:focus {
  background: #f0fff0;
}
.SashaDeadlink {
  color: #e52b50;
}
em {
  background-image: -webkit-gradient(linear, left top, right top, from(#f08080), to(#c71585));
  background-image: linear-gradient(to right, #f08080, #c71585);
  -webkit-background-clip: text;
  color: transparent;
}
dfn {
  color: Sasha-Dfn;
}
img {
  -webkit-box-shadow: 0 0 2rem #000;
          box-shadow: 0 0 2rem #000;
}
.SashaPageLoading {
  -webkit-box-shadow: none;
          box-shadow: none;
}
kbd {
  color: #fff5ee;
  background: #6495ed;
}
hr {
  color: #c71585;
}
td,
th {
  border: 0.0625rem solid #738e8b;
}
.SashaBottomAside {
  color: #fff;
  bottom: 8%;
}
aside {
  background-image: url("../../images/aside/Пушистика.jpg");
}
blockquote {
  border-left: solid #dc143c 0.5rem;
  color: #bc8f8f;
  background: #faebd7;
}
.SashaBlockquote {
  border-color: #7b68ee;
  background-color: #ffdab9;
  color: #191970;
}
.SashaCitation {
  color: #fa8072;
}
.SashaEpigraph {
  color: #20b2aa;
}
.SashaEpigraph >.SashaEpigraphAuthor {
  color: #ba55d3;
}
.SashaEpigraph >em {
  color: #ffdc33;
}
.SashaGingerinasExample {
  background-color: #d0f0c0;
}
code {
  background-color: #2f4f4f;
}
pre >code {
  background-color: #000;
}
.SashaShadow {
  text-shadow: 0 0 0.625rem Sasha-Shadow, 0 0 1.25rem Sasha-Shadow, 0 0 1.875rem Sasha-Shadow, 0 0 2.5rem Sasha-Shadow, 0 0 3.125rem Sasha-Shadow, 0 0 3.75rem Sasha-Shadow;
}
.SashaDot {
  border-bottom: 0.0625rem dotted Sasha-Dot;
}
.SashaDotLight {
  border-bottom: 0.0625rem dotted Sasha-Dot-Light;
}
.SashaSpan {
  color: Sasha-Span-Foreground;
  background-color: Sasha-Span-Background;
}
::-moz-selection {
  color: #f08080;
  background: #ffe4b5;
}
::selection {
  color: #f08080;
  background: rgba(255,228,181,0.99);
}
::-moz-selection:window-inactive {
  color: #f08080;
  background: rgba(255,228,181,0.99);
}
::selection:window-inactive {
  color: #f08080;
  background: rgba(255,228,181,0.99);
}
.SashaEmNoColor {
  color: #738e8b;
}
.SashaSign {
  border: 1px solid Sasha-Figure-Border;
  background: Sasha-Figure-Background;
}
.tooltipster-punk-purple .tooltipster-box {
  border-bottom: 3px solid #ffa500;
  background: #800080;
}
.tooltipster-punk-aquamarine .tooltipster-box {
  border-bottom: 3px solid #ff69b4;
  background: #228b22;
}
.progress {
  background-color: #f3efd6;
}
.progress-bar {
  background-color: #000;
}
.progress-label {
  color: #696969;
}
.progress-100plus .progress-bar {
  background-color: #c0c0c0;
}
.progress-90plus .progress-bar {
  background-color: #ffc0cb;
}
.progress-80plus .progress-bar {
  background-color: #ffa07a;
}
.progress-70plus .progress-bar {
  background-color: #b0e0e6;
}
.progress-60plus .progress-bar {
  background-color: #90ee90;
}
.progress-50plus .progress-bar {
  background-color: #f4a460;
}
.progress-40plus .progress-bar {
  background-color: #66cdaa;
}
.progress-30plus .progress-bar {
  background-color: #db7093;
}
.progress-20plus .progress-bar {
  background-color: #cd853f;
}
.progress-10plus .progress-bar {
  background-color: #808000;
}
.progress-0plus .progress-bar {
  background-color: #9370db;
}
.SashaInlineHighlight,
.SashaBlockHighlight {
  background-color: #e7e9db;
  color: #cd5c5c;
}
.SashaInlineHighlight .c,
.SashaBlockHighlight .c {
  background-color: Sasha-Pygments-Comment-Background;
  font-style: italic;
  color: #8d8687;
}
.SashaInlineHighlight .err,
.SashaBlockHighlight .err {
  color: #ef6155;
}
.SashaInlineHighlight .esc,
.SashaBlockHighlight .esc {
  color: #fff;
}
.SashaInlineHighlight .hll,
.SashaBlockHighlight .hll {
  background-color: #333;
}
.SashaInlineHighlight .g,
.SashaBlockHighlight .g {
  color: #fff;
}
.SashaInlineHighlight .k,
.SashaBlockHighlight .k {
  color: #815ba4;
  font-weight: bold;
}
.SashaInlineHighlight .l,
.SashaBlockHighlight .l {
  color: #f99b15;
}
.SashaInlineHighlight .n,
.SashaBlockHighlight .n {
  color: #cd5c5c;
}
.SashaInlineHighlight .o,
.SashaBlockHighlight .o {
  color: #5bc4bf;
}
.SashaInlineHighlight .x,
.SashaBlockHighlight .x {
  color: #fff;
}
.SashaInlineHighlight .p,
.SashaBlockHighlight .p {
  color: #2f1e2e;
}
.SashaInlineHighlight .ch,
.SashaBlockHighlight .ch {
  color: #008000;
  background-color: Sasha-Pygments-Comment-Hashbang-Background;
  font-style: italic;
}
.SashaInlineHighlight .cm,
.SashaBlockHighlight .cm {
  color: #8d8687;
  background-color: Sasha-Pygments-Comment-Multiline-Background;
  font-style: italic;
}
.SashaInlineHighlight .cp,
.SashaBlockHighlight .cp {
  color: #8d8687;
  background-color: Sasha-Pygments-Comment-Preproc-Background;
  font-weight: bold;
}
.SashaInlineHighlight .cpf,
.SashaBlockHighlight .cpf {
  color: #008000;
  background-color: Sasha-Pygments-Comment-Preproc-File-Background;
  font-style: italic;
  font-weight: bold;
}
.SashaInlineHighlight .c1,
.SashaBlockHighlight .c1 {
  color: #789;
  background-color: Sasha-Pygments-Comment-Single-Background;
  font-style: italic;
}
.SashaInlineHighlight .cs,
.SashaBlockHighlight .cs {
  color: #8d8687;
  background-color: #0f140f;
  font-style: italic;
}
.SashaInlineHighlight .gd,
.SashaBlockHighlight .gd {
  color: #ef6155;
}
.SashaInlineHighlight .ge,
.SashaBlockHighlight .ge {
  color: #fff;
}
.SashaInlineHighlight .gr,
.SashaBlockHighlight .gr {
  color: #fff;
}
.SashaInlineHighlight .gh,
.SashaBlockHighlight .gh {
  color: #2f1e2e;
  font-weight: bold;
}
.SashaInlineHighlight .gi,
.SashaBlockHighlight .gi {
  color: #48b685;
}
.SashaInlineHighlight .go,
.SashaBlockHighlight .go {
  color: #444;
  background-color: Sasha-Pygments-Generic-Output-Background;
}
.SashaInlineHighlight .gp,
.SashaBlockHighlight .gp {
  color: #8d8687;
}
.SashaInlineHighlight .gs,
.SashaBlockHighlight .gs {
  color: #fff;
}
.SashaInlineHighlight .gu,
.SashaBlockHighlight .gu {
  color: #5bc4bf;
  font-weight: bold;
}
.SashaInlineHighlight .gt,
.SashaBlockHighlight .gt {
  color: #fff;
}
.SashaInlineHighlight .kc,
.SashaBlockHighlight .kc {
  color: #815ba4;
  font-weight: bold;
}
.SashaInlineHighlight .kd,
.SashaBlockHighlight .kd {
  color: #815ba4;
  font-weight: bold;
}
.SashaInlineHighlight .kn,
.SashaBlockHighlight .kn {
  color: #5bc4bf;
  font-weight: bold;
}
.SashaInlineHighlight .kp,
.SashaBlockHighlight .kp {
  color: #815ba4;
}
.SashaInlineHighlight .kr,
.SashaBlockHighlight .kr {
  color: #815ba4;
  font-weight: bold;
}
.SashaInlineHighlight .kt,
.SashaBlockHighlight .kt {
  color: #ff8c00;
  font-weight: bold;
}
.SashaInlineHighlight .ld,
.SashaBlockHighlight .ld {
  color: #48b685;
}
.SashaInlineHighlight .m,
.SashaBlockHighlight .m {
  color: #f99b15;
  font-weight: bold;
}
.SashaInlineHighlight .s,
.SashaBlockHighlight .s {
  color: #48b685;
}
.SashaInlineHighlight .na,
.SashaBlockHighlight .na {
  color: #06b6ef;
  font-weight: bold;
}
.SashaInlineHighlight .nb,
.SashaBlockHighlight .nb {
  color: #2f1e2e;
}
.SashaInlineHighlight .nc,
.SashaBlockHighlight .nc {
  color: #ff8c00;
}
.SashaInlineHighlight .no,
.SashaBlockHighlight .no {
  color: #ef6155;
}
.SashaInlineHighlight .nd,
.SashaBlockHighlight .nd {
  color: #5bc4bf;
}
.SashaInlineHighlight .ni,
.SashaBlockHighlight .ni {
  color: #2f1e2e;
}
.SashaInlineHighlight .ne,
.SashaBlockHighlight .ne {
  color: #ef6155;
}
.SashaInlineHighlight .nf,
.SashaBlockHighlight .nf {
  color: #06b6ef;
  font-weight: bold;
}
.SashaInlineHighlight .nl,
.SashaBlockHighlight .nl {
  color: #2f1e2e;
}
.SashaInlineHighlight .nn,
.SashaBlockHighlight .nn {
  color: #ff8c00;
}
.SashaInlineHighlight .nx,
.SashaBlockHighlight .nx {
  color: #06b6ef;
}
.SashaInlineHighlight .py,
.SashaBlockHighlight .py {
  color: #2f1e2e;
}
.SashaInlineHighlight .nt,
.SashaBlockHighlight .nt {
  color: #5bc4bf;
  font-weight: bold;
}
.SashaInlineHighlight .nv,
.SashaBlockHighlight .nv {
  color: #ef6155;
}
.SashaInlineHighlight .ow,
.SashaBlockHighlight .ow {
  color: #5bc4bf;
}
.SashaInlineHighlight .w,
.SashaBlockHighlight .w {
  color: #2f1e2e;
}
.SashaInlineHighlight .mb,
.SashaBlockHighlight .mb {
  color: #0086f7;
  font-weight: bold;
}
.SashaInlineHighlight .mf,
.SashaBlockHighlight .mf {
  color: #f99b15;
  font-weight: bold;
}
.SashaInlineHighlight .mh,
.SashaBlockHighlight .mh {
  color: #f99b15;
  font-weight: bold;
}
.SashaInlineHighlight .mi,
.SashaBlockHighlight .mi {
  color: #f99b15;
  font-weight: bold;
}
.SashaInlineHighlight .mo,
.SashaBlockHighlight .mo {
  color: #f99b15;
  font-weight: bold;
}
.SashaInlineHighlight .sa,
.SashaBlockHighlight .sa {
  color: #87ceeb;
}
.SashaInlineHighlight .sb,
.SashaBlockHighlight .sb {
  color: #48b685;
}
.SashaInlineHighlight .sc,
.SashaBlockHighlight .sc {
  color: #2f1e2e;
}
.SashaInlineHighlight .dl,
.SashaBlockHighlight .dl {
  color: #87ceeb;
}
.SashaInlineHighlight .sd,
.SashaBlockHighlight .sd {
  color: #8d8687;
}
.SashaInlineHighlight .s2,
.SashaBlockHighlight .s2 {
  color: #48b685;
}
.SashaInlineHighlight .se,
.SashaBlockHighlight .se {
  color: #f99b15;
}
.SashaInlineHighlight .sh,
.SashaBlockHighlight .sh {
  color: #48b685;
}
.SashaInlineHighlight .si,
.SashaBlockHighlight .si {
  color: #f99b15;
}
.SashaInlineHighlight .sx,
.SashaBlockHighlight .sx {
  color: #48b685;
}
.SashaInlineHighlight .sr,
.SashaBlockHighlight .sr {
  color: #48b685;
}
.SashaInlineHighlight .s1,
.SashaBlockHighlight .s1 {
  color: #48b685;
}
.SashaInlineHighlight .ss,
.SashaBlockHighlight .ss {
  color: #48b685;
}
.SashaInlineHighlight .bp,
.SashaBlockHighlight .bp {
  color: #2f1e2e;
}
.SashaInlineHighlight .fm,
.SashaBlockHighlight .fm {
  color: #ff0086;
  font-weight: bold;
}
.SashaInlineHighlight .vc,
.SashaBlockHighlight .vc {
  color: #ef6155;
}
.SashaInlineHighlight .vg,
.SashaBlockHighlight .vg {
  color: #ef6155;
}
.SashaInlineHighlight .vi,
.SashaBlockHighlight .vi {
  color: #ef6155;
}
.SashaInlineHighlight .vm,
.SashaBlockHighlight .vm {
  color: #fb660a;
}
.SashaInlineHighlight .il,
.SashaBlockHighlight .il {
  color: #f99b15 z;
  font-weight: bold;
}
