// General

Sasha-Body-Background = rgb(243 239 214)
Sasha-Body-Foreground = rgb(115 142 139)

Sasha-Link = rgb(188 132 117)
Sasha-Hover-Link = palegoldenrod
Sasha-Focus-Link = honeydew
// Nt
Sasha-Dead-Link = #e52b50

Sasha-Begin-Cursive = lightcoral
Sasha-End-Cursive = mediumvioletred

// Nt
Sasha-Image-Shadow = black

// Nt
Sasha-KBD-foreground = seashell
// Nt
Sasha-KBD-background = cornflowerblue

// Nt
Sasha-hr = mediumvioletred


// aside

Sasha-Cover-Text = white
Sasha-Bottom-Percent = 8%

Sasha-Icon = url("../../images/aside/Пушистика.jpg")


// Blockquotes

Sasha-Left-Border = crimson
Sasha-Left-Border-Foreground = rosybrown
Sasha-Left-Border-Background = antiquewhite

Sasha-Term-Blockquote-Border = mediumslateblue
Sasha-Term-Blockquote-Background = peachpuff
Sasha-Term-Blockquote-Foreground = midnightblue

Sasha-Citation-Between-Quotes = salmon

Sasha-Epigraph = lightseagreen
Sasha-Epigraph-Author = mediumorchid
// Nt
Sasha-Epigraph-Em = #ffdc33

Sasha-Gingerinas-Example = #d0f0c0


// Code

// Nt
Sasha-Inline-Code = darkslategrey
// Nt
Sasha-Multiline-Code = black


// Different elements

// Nt
Sasha-Selection-Foreground = lightcoral
// Nt
Sasha-Selection-Mozilla-Background = moccasin
// Nt
Sasha-Selection-Background = rgba(255 228 181 .99)


// External plugins
// Tooltipster theme

// Nt
Sasha-Tooltipster-Purple-Bottom = orange
// Nt
Sasha-Tooltipster-Purple-Background = purple

// Nt
Sasha-Tooltipster-Aquamarine-Bottom = hotpink
// Nt
Sasha-Tooltipster-Aquamarine-Background = forestgreen

// Progressbar

Sasha-Progress-Bar = black
Sasha-Progressbar-Text = dimgray
Sasha-Progressbar-0 = mediumpurple
Sasha-Progressbar-10 = olive
Sasha-Progressbar-20 = peru
Sasha-Progressbar-30 = palevioletred
Sasha-Progressbar-40 = mediumaquamarine
Sasha-Progressbar-50 = sandybrown
Sasha-Progressbar-60 = lightgreen
Sasha-Progressbar-70 = powderblue
Sasha-Progressbar-80 = lightsalmon
Sasha-Progressbar-90 = pink
Sasha-Progressbar-100 = silver


/* Unverified For PurifyCSS
   ========================================================================== */

// Pygments
// Paraiso-light theme
// https://github.com/idleberg/Paraiso-Pygments
// Previously I use paraiso-light Rainbow.js theme

Sasha-Pygments-Background = rgb(231, 233, 219)
Sasha-Pygments-Foreground = indianred
// Sasha-Pygments-Comment-Background = #8d8687
Sasha-Pygments-Comment-Font-Style = italic
Sasha-Pygments-Comment = #8d8687
Sasha-Pygments-Error = #ef6155
Sasha-Pygments-Escape = white
Sasha-Pygments-Highlight-Line = #333333
Sasha-Pygments-Generic = white
Sasha-Pygments-Keyword = #815ba4
Sasha-Pygments-Keyword-Font-Weight = bold
Sasha-Pygments-Literal = #f99b15
Sasha-Pygments-Name = indianred
Sasha-Pygments-Operator = #5bc4bf
Sasha-Pygments-Other = white
Sasha-Pygments-Punctuation = #2f1e2e
Sasha-Pygments-Comment-Hashbang = green
// Sasha-Pygments-Comment-Hashbang-Background = #0f140f
Sasha-Pygments-Comment-Hashbang-Font-Style = italic
Sasha-Pygments-Comment-Multiline = #8d8687
// Sasha-Pygments-Comment-Multiline-Background = #0f140f
Sasha-Pygments-Comment-Multiline-Font-Style = italic
Sasha-Pygments-Comment-Preproc = #8d8687
// Sasha-Pygments-Comment-Preproc-Background = #0f140f
Sasha-Pygments-Comment-Preproc-Font-Style = italic
Sasha-Pygments-Comment-Preproc-Font-Weight = bold
Sasha-Pygments-Comment-Preproc-File = green
// Sasha-Pygments-Comment-Preproc-File-Background = #0f140f
Sasha-Pygments-Comment-Preproc-File-Font-Weight = bold
Sasha-Pygments-Comment-Single = lightslategray
// Sasha-Pygments-Comment-Single-Background = #0f140f
Sasha-Pygments-Comment-Single-Font-Style = italic
Sasha-Pygments-Comment-Special = #8d8687
Sasha-Pygments-Comment-Special-Background = #0f140f
Sasha-Pygments-Comment-Special-Font-Style = italic
Sasha-Pygments-Generic-Deleted = #ef6155
Sasha-Pygments-Generic-Emph = white
Sasha-Pygments-Generic-Error = white
Sasha-Pygments-Generic-Heading = #2f1e2e
Sasha-Pygments-Generic-Font-Weight = bold
Sasha-Pygments-Generic-Inserted = #48b685
Sasha-Pygments-Generic-Output = #444444
// Sasha-Pygments-Generic-Output-Background = #222222
Sasha-Pygments-Generic-Prompt = #8d8687
Sasha-Pygments-Generic-Strong = white
Sasha-Pygments-Generic-Subheading = #5bc4bf
Sasha-Pygments-Generic-Subheading-Font-Weight = bold
Sasha-Pygments-Generic-Traceback = white
Sasha-Pygments-Keyword-Constant = #815ba4
Sasha-Pygments-Keyword-Constant-Font-Weight = bold
Sasha-Pygments-Keyword-Declaration = #815ba4
Sasha-Pygments-Keyword-Declaration-Font-Weight = bold
Sasha-Pygments-Keyword-Namespace = #5bc4bf
Sasha-Pygments-Keyword-Namespace-Font-Weight = bold
Sasha-Pygments-Keyword-Pseudo = #815ba4
Sasha-Pygments-Keyword-Reserved = #815ba4
Sasha-Pygments-Keyword-Reserved-Font-Weight = bold
Sasha-Pygments-Keyword-Type = darkorange
Sasha-Pygments-Keyword-Type-Font-Weight = bold
Sasha-Pygments-Literal-Date = #48b685
Sasha-Pygments-Literal-Number = #f99b15
Sasha-Pygments-Literal-Number-Font-Weight = bold
Sasha-Pygments-Literal-String = #48b685
Sasha-Pygments-Name-Attribute = #06b6ef
Sasha-Pygments-Name-Attribute-Font-Weight = bold
Sasha-Pygments-Name-Builtin = #2f1e2e
Sasha-Pygments-Name-Class = darkorange
Sasha-Pygments-Name-Constant = #ef6155
Sasha-Pygments-Name-Decorator = #5bc4bf
Sasha-Pygments-Name-Entity = #2f1e2e
Sasha-Pygments-Name-Exception = #ef6155
Sasha-Pygments-Name-Function = #06b6ef
Sasha-Pygments-Name-Function-Font-Weight = bold
Sasha-Pygments-Name-Label = #2f1e2e
Sasha-Pygments-Name-Namespace = darkorange
Sasha-Pygments-Name-Other = #06b6ef
Sasha-Pygments-Name-Property = #2f1e2e
Sasha-Pygments-Name-Tag = #5bc4bf
Sasha-Pygments-Name-Tag-Font-Weight = bold
Sasha-Pygments-Name-Variable = #ef6155
Sasha-Pygments-Operator-Word = #5bc4bf
Sasha-Pygments-Text-Whitespace = #2f1e2e
Sasha-Pygments-Literal-Number-Bin = #0086f7
Sasha-Pygments-Literal-Number-Bin-Font-Weight = bold
Sasha-Pygments-Literal-Number-Float = #f99b15
Sasha-Pygments-Literal-Number-Float-Font-Weight = bold
Sasha-Pygments-Literal-Number-Hex = #f99b15
Sasha-Pygments-Literal-Number-Hex-Font-Weight = bold
Sasha-Pygments-Literal-Number-Integer = #f99b15
Sasha-Pygments-Literal-Number-Integer-Font-Weight = bold
Sasha-Pygments-Literal-Number-Oct = #f99b15
Sasha-Pygments-Literal-Number-Oct-Font-Weight = bold
Sasha-Pygments-Literal-String-Affix = skyblue
Sasha-Pygments-Literal-String-Backtick = #48b685
Sasha-Pygments-Literal-String-Char = #2f1e2e
Sasha-Pygments-Literal-String-Delimeter = skyblue
Sasha-Pygments-Literal-String-Doc = #8d8687
Sasha-Pygments-Literal-String-Double = #48b685
Sasha-Pygments-Literal-String-Escape = #f99b15
Sasha-Pygments-Literal-String-Heredoc = #48b685
Sasha-Pygments-Literal-String-Interpol = #f99b15
Sasha-Pygments-Literal-String-Other = #48b685
Sasha-Pygments-Literal-String-Regex = #48b685
Sasha-Pygments-Literal-String-Single = #48b685
Sasha-Pygments-Literal-String-Symbol = #48b685
Sasha-Pygments-Name-Builtin-Pseudo = #2f1e2e
Sasha-Pygments-Name-Function-Magic = #ff0086
Sasha-Pygments-Name-Function-Magic-Font-Weight = bold
Sasha-Pygments-Variable-Class = #ef6155
Sasha-Pygments-Name-Variable-Global = #ef6155
Sasha-Pygments-Name-Variable-Instance = #ef6155
Sasha-Pygments-Name-Variable-Magic = #fb660a
Sasha-Pygments-Literal-Number-Integer-Long = #f99b15z
Sasha-Pygments-Literal-Number-Integer-Long-Font-Weight = bold


@import "core-design.styl"