// General

Sasha-Body-Background = #f3efd6
Sasha-Body-Foreground = #738e8b

Sasha-Link = #bc8475
Sasha-Hover-Link = palegoldenrod
Sasha-Focus-Link = honeydew
// Nt
Sasha-Dead-Link = #e52b50

// Sasha-Begin-Cursive = lightcoral
// Sasha-End-Cursive = mediumvioletred
Sasha-Em = lightcoral

// Nt
Sasha-Image-Shadow = black

// Nt
Sasha-KBD-foreground = seashell
// Nt
Sasha-KBD-background = cornflowerblue

// Nt
Sasha-hr = mediumvioletred


// aside

Sasha-Cover-Text = white
Sasha-Bottom-Percent = 8%


// Blockquotes

Sasha-Left-Border = crimson
Sasha-Left-Border-Foreground = rosybrown
Sasha-Left-Border-Background = antiquewhite

Sasha-Term-Blockquote-Border = mediumslateblue
Sasha-Term-Blockquote-Background = peachpuff
Sasha-Term-Blockquote-Foreground = midnightblue

Sasha-Citation-Between-Quotes = salmon

Sasha-Epigraph = lightseagreen
Sasha-Epigraph-Author = mediumorchid
// Nt
Sasha-Epigraph-Em = palevioletred

Sasha-Gingerinas-Example = #d0f0c0
// Light coral
Sasha-Gingerinas-Bad-Example = #f0808091
Sasha-Gingerinas-Bad-Example-Foreground = crimson

// Code

// Nt
Sasha-Inline-Code = darkslategrey
// Nt
Sasha-Multiline-Code = black


// Different elements

// Nt
Sasha-Selection-Foreground = lightcoral
// Nt
Sasha-Selection-Mozilla-Background = moccasin
// Nt
Sasha-Selection-Background = rgba(255 228 181 .99)


// External plugins
// Tooltipster theme

// Nt
Sasha-Tooltipster-Purple-Bottom = orange
// Nt
Sasha-Tooltipster-Purple-Background = purple

// Nt
Sasha-Tooltipster-Aquamarine-Bottom = hotpink
// Nt
Sasha-Tooltipster-Aquamarine-Background = forestgreen

// Progressbar

Sasha-Progress-Bar = black
Sasha-Progressbar-Text = dimgray
Sasha-Progressbar-0 = olive
Sasha-Progressbar-10 = mediumpurple
Sasha-Progressbar-20 = peru
Sasha-Progressbar-30 = palevioletred
Sasha-Progressbar-40 = mediumaquamarine
Sasha-Progressbar-50 = sandybrown
Sasha-Progressbar-60 = lightgreen
Sasha-Progressbar-70 = powderblue
Sasha-Progressbar-80 = lightsalmon
Sasha-Progressbar-90 = pink
Sasha-Progressbar-100 = silver

// Imports
@import "core-design.styl"
@import "../script-colors/ProgressBar/progressbar.styl"
@import "../script-colors/Pygments/pygments-paraiso-light.styl"
@import "../script-colors/Tooltipster/tooltipster-default.styl"
