/*
* @Author: Kristinita
* @Date:   2017-03-15 14:41:30
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 15:21:15
*/

Sasha-Body-Background = bisque
Sasha-Body-Foreground = crimson

Sasha-Link = mediumvioletred

Sasha-Begin-Cursive = darkcyan
Sasha-End-Cursive = mediumslateblue

Sasha-Icon = url("../../images/aside/SashaBrazil.jpg")

Sasha-Left-Border-Foreground = #333
Sasha-Left-Border-Background = #fcfcfc
Sasha-Left-Border = #ff5a00

Sasha-Figure-Border = #333
Sasha-Figure-Background = #f0f0f0

Sasha-Cover-Text = white

// Different elements

Sasha-Selection-Foreground = lightcoral
Sasha-Selection-Mozilla-Background = moccasin
Sasha-Selection-Background = rgba(255 228 181 .99)


/* Unverified For PurifyCSS
   ========================================================================== */

Sasha-Hover-Link = palegoldenrod
Sasha-Focus-Link = honeydew

Sasha-Image-Shadow = black

Sasha-KBD-foreground = seashell
Sasha-KBD-background = cornflowerblue

Sasha-Bottom-Percent = 8%

Sasha-Inline-Code = darkslategrey
Sasha-Dot = black

Sasha-Span-Foreground = Sasha-Body-Foreground
Sasha-Span-Background = Sasha-Body-Background

Sasha-Tooltipster-Purple-Bottom = orange
Sasha-Tooltipster-Purple-Background = purple

Sasha-Tooltipster-Aquamarine-Bottom = hotpink
Sasha-Tooltipster-Aquamarine-Background = forestgreen

@import "core-design.styl"