/*
* @Author: Kristinita
* @Date:   2017-03-15 17:06:35
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 15:19:54
*/

Sasha-Body-Background = aliceblue
Sasha-Body-Foreground = firebrick

Sasha-Link = blue

Sasha-Icon = url("../../images/aside/SashaBlueEyes.jpg")

Sasha-Left-Border = lavender
Sasha-Left-Border-Foreground = slateblue
Sasha-Left-Border-Background = #fcfcfc

Sasha-Dot = firebrick

Sasha-Cover-Text = white
Sasha-Bottom-Percent = 10%

// Different elements

Sasha-Selection-Foreground = lightcoral
Sasha-Selection-Mozilla-Background = moccasin
Sasha-Selection-Background = rgba(255 228 181 .99)

Sasha-Begin-Cursive = darkcyan
Sasha-End-Cursive = mediumslateblue


/* Unverified For PurifyCSS
   ========================================================================== */

Sasha-Hover-Link = palegoldenrod
Sasha-Focus-Link = honeydew

Sasha-Image-Shadow = black

Sasha-KBD-foreground = seashell
Sasha-KBD-background = cornflowerblue

Sasha-Inline-Code = darkslategrey

Sasha-Span-Foreground = Sasha-Body-Foreground
Sasha-Span-Background = Sasha-Body-Background

@import "core-design.styl"
@import "../script-colors/Tooltipster/tooltipster-default.styl"
