// General

Sasha-Body-Background = #87e1be
Sasha-Body-Foreground = #465550

Sasha-Link = #dc3f17
// lightcoral 60%
Sasha-Hover-Link = #f0808099
Sasha-Focus-Link = whitesmoke
Sasha-Dead-Link = #e52b50

// Sasha-Begin-Cursive = darkcyan
// Sasha-End-Cursive = mediumslateblue
Sasha-Em = darkcyan

Sasha-Dfn = palevioletred

Sasha-Image-Shadow = black

Sasha-KBD-background = seagreen
Sasha-KBD-foreground = palegoldenrod

Sasha-Hr = mediumvioletred


// aside

Sasha-Cover-Text = white
Sasha-Bottom-Percent = 8%


// Blockquotes

Sasha-Left-Border = palevioletred
Sasha-Left-Border-Foreground = navy
Sasha-Left-Border-Background = #fcfcfc

// Nt
Sasha-Term-Blockquote-Border = mediumslateblue
// Nt
Sasha-Term-Blockquote-Background = peachpuff
// Nt
Sasha-Term-Blockquote-Foreground = midnightblue


// Nt
Sasha-Citation-Between-Quotes = salmon

Sasha-Epigraph = #ffdc33
Sasha-Epigraph-Author = lightpink
Sasha-Epigraph-Em = #ffdc33

// Nt
Sasha-Gingerinas-Example = #d0f0c0

// Code

Sasha-Inline-Code = darkslategrey
Sasha-Multiline-Code = black

// Decoration
Sasha-Shadow = palevioletred

// Different elements

Sasha-Selection-Foreground = lightcoral
Sasha-Selection-Background = rgba(255 228 181 .99)


// AddToAny

Sasha-Add-To-Any = mediumpurple


// Wildfire

Sasha-Wildfire-Foreground = dimgrey
Sasha-Wildfire-Broken-Heart = teal
Sasha-Wildfire-Heart = firebrick
// [INFO] Default Wildfire value
Sasha-Wildfire-Button-Background = hsla(0 0 100 .2)

// Imports
@import "core-design.styl"
@import "../script-colors/Tooltipster/tooltipster-default.styl"
@import "../script-colors/Pygments/pygments-paraiso-light.styl"
