/* @Author: Kristinita
* @Date:   2016-11-25 10:51:23
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-02 18:46:12
*/

SashaColor1 = #ff8c00
SashaColor2 = #ffb6c1
SashaColor3 = #ffe4e1
SashaColor4 = #bababa
SashaColor5 = #fff
SashaColor6 = #ee82ee
SashaColor7 = #ffe4c4
SashaColor8 = #fdf5e6
SashaColor9 = #f5fffa
SashaColor10 = #add8e6
SashaColor11 = #ba55d8
SashaColor12 = #dda0dd
SashaColor13 = #ffc0cb
SashaColor14 = #7fff00
SashaColor15 = rgba(255, 255, 255, 1)
SashaColor16 = #ffefd5
SashaColor17 = #ffa500
SashaColor18 = #ffd700
SashaColor19 = #ffae42
SashaColor20 = rgba(0, 0, 0, .1)
SashaColor21 = rgba(0, 0, 0, .3)
SashaColor22 = rgba(0, 0, 0, .2)
SashaColor23 = rgba(0, 0, 0, .25)
SashaColor24 = rgba(0, 0, 0, .15)
SashaColor25 = #ffbf00

/* For correct Gemini display in body tag */

html
body
	height 100%

body
	margin 0
	padding-right 0
	background url("../../images/backgrounds/SashaRedLeavesBackground.jpg") no-repeat center center fixed
	background-size cover
	background-color papayawhip
	color mediumvioletred

a
	text-decoration none

html
	overflow-x hidden

/* Inline displaying some div classes */

.SashaKristinita
.SashaBeta
.SashaMinimal
.SashaCopyright
.SashaVKontakte
	display inline

/* Gemini
   ========================================================================== */

/* Don't show scrollbar */

.gm-scrollbar
	display none

@media screen and (max-width: 1600px)
	div
		&.for-example
			width 1500px

@media screen and (max-width: 1280px)
	div
		&.for-example
			width 1100px

@media screen and (max-width: 1024px)
	div
		&.for-example
			width 980px

img
	max-width 100%

/* Кнопки */

.Sasha
	font 27px Tahoma, Geneva, sans-serif
	font-weight bold
	float right
	padding 11px 32px
	text-align center
	text-decoration none
	color SashaColor1
	border solid 4px SashaColor2
	border-radius 14px
	background-color SashaColor3
	/* To bottom instead of top for Autoprefixer — https://github.com/postcss/autoprefixer/issues/530#issuecomment-143785816 */
	background-image linear-gradient(to bottom, #ffe4e1 0%, #ffc0cb 100%)
	box-shadow 0 0 2px SashaColor4, inset 0 0 1px SashaColor5

	&:hover
		font 36px Tahoma, Geneva, sans-serif
		font-weight bold
		padding 11px 32px
		color SashaColor1
		border solid 4px SashaColor2
		border-radius 14px
		background-color SashaColor3
		background-image linear-gradient(to bottom, #ffe4e1 0%, #ffc0cb 100%)
		background-position 0 -32px
		box-shadow 0 0 2px SashaColor4, inset 0 0 1px SashaColor5

	&:active
		font 36px Tahoma, Geneva, sans-serif
		font-weight bold
		padding 11px 32px
		color SashaColor6
		border solid 4px SashaColor2
		border-radius 14px
		background-color SashaColor3
		background-image linear-gradient(to bottom, #ffe4e1 0%, #ffc0cb 100%)
		background-position 0 -64px
		box-shadow 0 0 2px SashaColor4, inset 0 0 1px SashaColor5

.Chernykh
	font 27px Tahoma, Geneva, sans-serif
	font-weight bold
	float right
	padding 11px 32px
	text-align center
	text-decoration none
	color SashaColor1
	border solid 4px SashaColor7
	border-radius 14px
	background-color SashaColor8
	background-image linear-gradient(to bottom, #f5fffa 0%, #f0f8ff 100%)
	box-shadow 0 0 2px SashaColor4, inset 0 0 1px SashaColor5

	&:hover
		font 36px Tahoma, Geneva, sans-serif
		font-weight bold
		padding 11px 32px
		color SashaColor1
		border solid 4px SashaColor7
		border-radius 14px
		background-color SashaColor9
		background-image linear-gradient(to bottom, #f5fffa 0%, #f0f8ff 100%)
		box-shadow 0 0 2px SashaColor4, inset 0 0 1px SashaColor5

	&:active
		font 36px Tahoma, Geneva, sans-serif
		font-weight bold
		padding 11px 32px
		color SashaColor10
		border solid 4px SashaColor7
		border-radius 14px
		background-color SashaColor9
		background-image linear-gradient(to bottom, #f5fffa 0%, #f0f8ff 100%)
		box-shadow 0 0 2px SashaColor4, inset 0 0 1px SashaColor5

.Empress
	font 27px Tahoma, Geneva, sans-serif
	font-weight bold
	float right
	padding 11px 32px
	text-align center
	text-decoration none
	color SashaColor1
	border solid 4px SashaColor11
	border-radius 14px
	background-color SashaColor12
	background-image linear-gradient(to bottom, #ee82ee 0%, #da70d6 100%)
	box-shadow 0 0 2px SashaColor4, inset 0 0 1px SashaColor5

	&:hover
		font 36px Tahoma, Geneva, sans-serif
		font-weight bold
		padding 11px 32px
		color SashaColor1
		border solid 4px SashaColor11
		border-radius 14px
		background-color SashaColor6
		background-image linear-gradient(to bottom, #ee82ee 0%, #da70d6 100%)
		box-shadow 0 0 2px SashaColor4, inset 0 0 1px SashaColor5

	&:active
		font 36px Tahoma, Geneva, sans-serif
		font-weight bold
		padding 11px 32px
		color SashaColor13
		border solid 4px SashaColor11
		border-radius 14px
		background-color SashaColor6
		background-image linear-gradient(to bottom, #ee82ee 0%, #da70d6 100%)
		box-shadow 0 0 2px SashaColor4, inset 0 0 1px SashaColor5

.SashaMotto
	font-family 'Cormorant'
	font-size 40px
	text-align center
	color SashaColor14

	&:hover
		text-shadow 0 0 10px SashaColor15, 0 0 20px SashaColor15, 0 0 30px SashaColor15, 0 0 40px SashaColor16, 0 0 70px SashaColor16, 0 0 80px SashaColor16, 0 0 100px SashaColor16

/* Подвал в head */

.SashaFooter
	position relative
	float left
	text-align left
	bottom 0
	/* Фиксированное положение */
	left 0
	/* Цвет текста */
	width 100%
	/* Левый нижний угол */
	margin 14px
	/* Поля вокруг текста */
	/* Ширина слоя */
	font-size 1.2rem
	font-weight bold
	color paleturquoise

.SashaBowserExplorer
.SashaBowserFirefox
	position relative
	float left
	text-align left
	vertical-align 6em
	bottom 0
	/* Фиксированное положение */
	right 0
	/* Цвет текста */
	width 100%
	/* Левый нижний угол */
	margin 14px
	/* Поля вокруг текста */
	/* Ширина слоя */
	font-size 1.2rem
	font-weight bold
	color paleturquoise

/* Выравнивание по центру*/

.SashaCenter
	text-align center
	/* Отступ от нижнего элемента, чтобы заменить множество br, см. http://ru.stackoverflow.com/a/523379/199934 */
	margin 21rem 0 0 0

/* Надпись Поиск Кристиниты*/

.SashaKristinita
	font-size 3em
	font-style italic
	letter-spacing 2px
	color darkorange
	text-shadow 0 1px 0 SashaColor17, 0 2px 0 SashaColor17, 0 3px 0 SashaColor18, 0 4px 0 SashaColor19, 0 5px 0 SashaColor16, 0 6px 1px SashaColor20, 0 0 5px SashaColor20, 0 1px 3px SashaColor21, 0 3px 5px SashaColor22, 0 5px 10px SashaColor23, 0 10px 10px SashaColor22, 0 20px 20px SashaColor24

/* Надпись beta */

.SashaBeta
	font-size 2.5em
	font-style italic
	color darkorange

/* Надпись «Минималистская версия*/

.SashaMinimal
	font-family 'Palatino Linotype, Geneva, sans-serif'
	font-style italic
	font-weight bold
	color SashaColor25

/* Надпись копирайта */

.SashaCopyright
	font-family 'Palatino Linotype, Geneva, sans-serif'
	font-weight bold
	color gold

/*Ссылка на Божий профиль ВКонтакте*/

.SashaVKontakte
	color gold

/*Сашин логотип*/

/* https://www.w3schools.com/tags/att_img_align.asp */

.SashaLogo
	float left
	border 0
