/* @Author: Kristinita
* @Date:   2016-11-25 10:51:23
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-02 18:46:12
*/

@import "../general/placeholders.styl"

SashaKristinitaColor1 = #bababa
SashaKristinitaColor2 = #ba55d8
SashaKristinitaColor3 = #ffae42
SashaKristinitaColor4 = rgba(0 0 0 .1)
SashaKristinitaColor5 = rgba(0 0 0 .3)
SashaKristinitaColor6 = rgba(0 0 0 .2)
SashaKristinitaColor7 = rgba(0 0 0 .25)
SashaKristinitaColor8 = rgba(0 0 0 .15)
SashaKristinitaColor9 = #ffbf00

body
	padding-right 0
	background-color papayawhip
	color mediumvioletred

a
	text-decoration none

html
	overflow-x hidden

/* Gemini
	========================================================================== */

img
	max-width 100%

/* Buttons */

.Sasha
	font 1.6875rem Tahoma, Geneva, sans-serif
	font-weight bold
	float right
	padding .6875rem 2rem
	text-align center
	text-decoration none
	color darkorange
	border solid .25rem lightpink
	border-radius .875rem
	background-color mistyrose
	/* To bottom instead of top for Autoprefixer — https://github.com/postcss/autoprefixer/issues/530#issuecomment-143785816 */
	// Commas required
	box-shadow 0 0 .125rem SashaKristinitaColor1, inset 0 0 .0625rem white

	&:hover
		font 2.25rem Tahoma, Geneva, sans-serif
		font-weight bold
		padding .6875rem 2rem
		color darkorange
		border solid .25rem lightpink
		border-radius .875rem
		background-color mistyrose
		background-position 0 -2rem
		box-shadow 0 0 .125rem SashaKristinitaColor1, inset 0 0 .0625rem white

	&:active
		font 2.25rem Tahoma, Geneva, sans-serif
		font-weight bold
		padding .6875rem 2rem
		color violet
		border solid .25rem lightpink
		border-radius .875rem
		background-color mistyrose
		background-position 0 -4rem
		box-shadow 0 0 .125rem SashaKristinitaColor1, inset 0 0 .0625rem white

.Chernykh
	font 1.6875rem Tahoma, Geneva, sans-serif
	font-weight bold
	float right
	padding .6875rem 2rem
	text-align center
	text-decoration none
	color darkorange
	border solid .25rem bisque
	border-radius .875rem
	background-color oldlace
	box-shadow 0 0 .125rem SashaKristinitaColor1, inset 0 0 .0625rem white

	&:hover
		font 2.25rem Tahoma, Geneva, sans-serif
		font-weight bold
		padding .6875rem 2rem
		color darkorange
		border solid .25rem bisque
		border-radius .875rem
		background-color mintcream
		box-shadow 0 0 .125rem SashaKristinitaColor1, inset 0 0 .0625rem white

	&:active
		font 2.25rem Tahoma, Geneva, sans-serif
		font-weight bold
		padding .6875rem 2rem
		color lightblue
		border solid .25rem bisque
		border-radius .875rem
		background-color mintcream
		box-shadow 0 0 .125rem SashaKristinitaColor1, inset 0 0 .0625rem white

.Empress
	font 1.6875rem Tahoma, Geneva, sans-serif
	font-weight bold
	float right
	padding .6875rem 2rem
	text-align center
	text-decoration none
	color darkorange
	border solid .25rem SashaKristinitaColor2
	border-radius .875rem
	background-color plum
	box-shadow 0 0 .125rem SashaKristinitaColor1, inset 0 0 .0625rem white

	&:hover
		font 2.25rem Tahoma, Geneva, sans-serif
		font-weight bold
		padding .6875rem 2rem
		color darkorange
		border solid .25rem SashaKristinitaColor2
		border-radius .875rem
		background-color violet
		box-shadow 0 0 .125rem SashaKristinitaColor1, inset 0 0 .0625rem white

	&:active
		font 2.25rem Tahoma, Geneva, sans-serif
		font-weight bold
		padding .6875rem 2rem
		color pink
		border solid .25rem SashaKristinitaColor2
		border-radius .875rem
		background-color violet
		box-shadow 0 0 .125rem SashaKristinitaColor1, inset 0 0 .0625rem white

.SashaMotto
	font-family "Cormorant"
	font-size 2.5rem
	text-align center
	color chartreuse

	&:hover
		text-shadow 0 0 .625rem white, 0 0 1.25rem white, 0 0 1.875rem white, 0 0 2.5rem papayawhip, 0 0 4.375rem papayawhip, 0 0 5rem papayawhip, 0 0 6.25rem papayawhip

/* Подвал в head */

.SashaFooter
	position relative
	float left
	text-align left
	bottom 0
	/* Фиксированное положение */
	left 0
	/* Цвет текста */
	width 100%
	/* Левый нижний угол */
	margin .875rem
	/* Поля вокруг текста */
	/* Ширина слоя */
	font-size 1.2rem
	font-weight bold
	color paleturquoise

.SashaBowserExplorer
.SashaBowserFirefox
	position relative
	float left
	text-align left
	vertical-align 6rem
	bottom 0
	/* Фиксированное положение */
	right 0
	/* Цвет текста */
	width 100%
	/* Левый нижний угол */
	margin .875rem
	/* Поля вокруг текста */
	/* Ширина слоя */
	font-size 1.2rem
	font-weight bold
	color paleturquoise

/* Выравнивание по центру*/

.SashaCenter
	text-align center
	/* Отступ от нижнего элемента, чтобы заменить множество br, см. http://ru.stackoverflow.com/a/523379/199934 */
	margin 21rem 0 0

/* Надпись Поиск Кристиниты*/

.SashaKristinita
	@extend $SashaPlaceholderDisplayInline
	font-size 3rem
	font-style italic
	letter-spacing .125rem
	color darkorange
	text-shadow 0 .0625rem 0 orange, 0 .125rem 0 orange, 0 .1875rem 0 gold, 0 .25rem 0 SashaKristinitaColor3, 0 .3125rem 0 papayawhip, 0 .375rem .0625rem SashaKristinitaColor4, 0 0 .3125rem SashaKristinitaColor4, 0 .0625rem .1875rem SashaKristinitaColor5, 0 .1875rem .3125rem SashaKristinitaColor6, 0 .3125rem .625rem SashaKristinitaColor7, 0 .625rem .625rem SashaKristinitaColor6, 0 1.25rem 1.25rem SashaKristinitaColor8

/* Надпись beta */

.SashaBeta
	@extend $SashaPlaceholderDisplayInline
	font-size 2.5rem
	font-style italic
	color darkorange

/* Надпись «Минималистская версия*/

.SashaMinimal
	@extend $SashaPlaceholderDisplayInline
	font-family "Palatino Linotype", Geneva, sans-serif
	font-style italic
	font-weight bold
	color SashaKristinitaColor9

/* Надпись копирайта */

.SashaCopyright
	@extend $SashaPlaceholderDisplayInline
	font-family "Palatino Linotype", Geneva, sans-serif
	font-weight bold
	color gold

/* Ссылка на Божий профиль ВКонтакте */

.SashaVKontakte
	@extend $SashaPlaceholderDisplayInline
	color gold

/* Сашин логотип */

/* https://www.w3schools.com/tags/att_img_align.asp */

.SashaLogo
	float left
	border 0
	width 18.75rem
	height 15.625rem
