// General

Sasha-Body-Background = sienna
Sasha-Body-Foreground = pink

Sasha-Link = violet
Sasha-Hover-Link = #f0808077
Sasha-Focus-Link = whitesmoke
Sasha-Dead-Link = #e52b50

Sasha-Begin-Cursive = yellow
Sasha-End-Cursive = red

Sasha-Image-Shadow = black

Sasha-KBD-foreground = pink
Sasha-KBD-background = maroon

Sasha-hr = mediumvioletred


// aside

Sasha-Cover-Text = white
Sasha-Bottom-Percent = 7%


// Blockquotes

Sasha-Left-Border = lavender
Sasha-Left-Border-Foreground = slateblue
Sasha-Left-Border-Background = #fcfcfc

// Nt
Sasha-Term-Blockquote-Border = mediumslateblue
// Nt
Sasha-Term-Blockquote-Background = peachpuff
// Nt
Sasha-Term-Blockquote-Foreground = midnightblue

// Nt
Sasha-Citation-Between-Quotes = salmon

Sasha-Epigraph = #ffdc33
Sasha-Epigraph-Author = lightpink
Sasha-Epigraph-Em = #ffdc33

// Nt
Sasha-Gingerinas-Example = #d0f0c0


// Code

Sasha-Inline-Code = darkslategrey
Sasha-Multiline-Code = black


// Different elements

Sasha-Selection-Foreground = lightcoral
Sasha-Selection-Mozilla-Background = moccasin
Sasha-Selection-Background = rgba(255 228 181 .99)


/* Unverified For PurifyCSS
	========================================================================== */

Sasha-Dfn = palevioletred

@import "core-design.styl"
@import "../script-colors/Tooltipster/tooltipster-default.styl"
@import "../script-colors/Pygments/pygments-fruity.styl"
