// General

Sasha-Body-Background = sienna

// [NOTE] “pink” has 3.65 contrast
Sasha-Body-Foreground = papayawhip

/*
[INFO] “Отборный жёлтый” Yandex
[NOTE] “violet” has 2.42 contrast
*/
Sasha-Link = #ffba00
// lightcoral 60%
Sasha-Hover-Link = #f0808099
Sasha-Focus-Link = whitesmoke
Sasha-Dead-Link = #e52b50

// Sasha-Begin-Cursive = yellow
// Sasha-End-Cursive = red

/*
[INFO] “Снежный синий” Yandex + contrast finder
[NOTE] “orange” has 2.84 contrast
*/
Sasha-Em = #aaf2fd

Sasha-Image-Shadow = black

Sasha-KBD-foreground = pink
Sasha-KBD-background = maroon

Sasha-Hr = mediumvioletred


// aside

Sasha-Cover-Text = white
Sasha-Bottom-Percent = 7%


// Blockquotes

Sasha-Left-Border = indianred
// [NOTE] “blanchedalmond” has 1.74 contrast
Sasha-Left-Border-Blockquote-Foreground = indigo
Sasha-Left-Border-Blockquote-Background = sandybrown
// [INFO] “Сангина” Yandex
Sasha-Blockquote-Em = #92000a

// Nt
Sasha-Term-Blockquote-Border = mediumslateblue
// Nt
Sasha-Term-Blockquote-Background = peachpuff
// Nt
Sasha-Term-Blockquote-Foreground = midnightblue

// Nt
Sasha-Citation-Between-Quotes = salmon

// [INFO] “Аквамариновый” Yandex
Sasha-Epigraph = #7fffd4
Sasha-Epigraph-Author = lightpink
Sasha-Epigraph-Em = #7fffd4

// Nt
Sasha-Gingerinas-Example = #d0f0c0


// Code

Sasha-Inline-Code = darkslategrey
Sasha-Multiline-Code = black


// Different elements

Sasha-Selection-Foreground = lightcoral
Sasha-Selection-Background = rgba(255 228 181 .99)


// AddToAny

Sasha-Add-To-Any = pink

// Wildfire

Sasha-Wildfire-Foreground = blanchedalmond
Sasha-Wildfire-Broken-Heart = lightsalmon
Sasha-Wildfire-Heart = gold
Sasha-Wildfire-Button-Background = rosybrown

/* Unverified For PurifyCSS
	========================================================================== */

Sasha-Dfn = palevioletred

// Imports
@import "core-design.styl"
@import "../script-colors/Pygments/pygments-fruity.styl"
