/*
* @Author: Kristinita
* @Date:   2016-12-27 08:08:41
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 15:28:17
*/

SashaBlackColor = #f4a900

img
	margin 0 auto
	max-width 100%

.SashaPageLoading
	box-shadow none
	/*
	[INFO] Tracking will still:
	https://en.ryte.com/wiki/Tracking_Pixel
	*/
	display none

a
	font-size 1.75rem
	border-radius .875rem
	text-decoration none

	&:focus
		outline 0
		border .0625rem solid red

	&:visited
		color pink

	&:active
		color pink

	&.SashaButtonCategory
		border-style outset
		border-color bisque

		&:hover
			border-style solid
			border-color white
			box-shadow 0 0 .625rem rgba(0 0 0 .5)

		// Comma-separated “box-shadow”:
		// https://stackoverflow.com/a/8556627/5951529
		&:active
			border-style solid
			border-color white
			box-shadow 0 0 .625rem rgba(0 0 0 .5), 0 0 0 12.5rem rgba(0 0 0 .09) inset

input
	font-weight bold
	height 1.3125rem
	color maroon
	border-radius .4375rem

$SashaPlaceholderTextAlignCenter
	text-align center

.SashaOnlineScanners
	@extend $SashaPlaceholderTextAlignCenter
	font-size 1.375rem
	color tomato

.SashaDifferentUrl
	@extend $SashaPlaceholderTextAlignCenter
	font-size 1.4375rem

.SashaCategory
	font-size 2rem

.SashaButtonCategory
	font-size 2rem
	color black

.SashaBorderInput
	/* [INFO] Box model:
	https://github.com/CSSLint/csslint/wiki/Beware-of-box-model-size
	https://caniuse.com/#feat=css3-boxsizing
	https://css-tricks.com/the-css-box-model/
	https://simonwillison.net/2003/May/26/theBoxModel/
	*/
	box-sizing border-box
	border .25rem double black
	border-style outset
	border-color darkorange
	width 90%

.SashaCheckYourSite
	font-size 3.125rem
	color tomato

.SashaReadHelp
	@extend $SashaPlaceholderTextAlignCenter
	font-size 1.4375rem
	color orchid

.SashaBottom
	@extend $SashaPlaceholderTextAlignCenter
	margin-bottom 2rem

.SashaCenter
	@extend $SashaPlaceholderTextAlignCenter
	border 0
	margin 0

.SashaButtonLightSkyBlue
	background-color lightskyblue

.SashaButtonLimeGreen
	background-color limegreen

.SashaButtonPlum
	background-color plum

.SashaButtonSnow
	background-color snow

.SashaButtonBisque
	background-color bisque

.SashaButtonOrange
	background-color SashaBlackColor

.SashaButtonYellow
	background-color yellow

.SashaButtonDarkOrange
	background-color darkorange

.SashaButtonSilver
	background-color silver

.SashaButtonTomato
	background-color tomato

.SashaButtonSeagreen
	background-color seagreen

.SashaButtonChocolate
	background-color chocolate
