/*
* @Author: Kristinita
* @Date:   2016-12-27 08:08:41
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 15:28:17
*/
Sasha-Body-Background = black
Sasha-Body-Foreground = darkorange

Sasha-Link = violet

Sasha-Cover-Text = white
Sasha-Bottom-Percent = 14%

Sasha-Left-Border = #ff5a00
Sasha-Left-Border-Foreground = #333333
Sasha-Left-Border-Background = #fcfcfc

// Different elements

Sasha-Selection-Foreground = #f0808077
Sasha-Selection-Mozilla-Background = moccasin
Sasha-Selection-Background = rgba(255 228 181 .99)

// Sasha-Begin-Cursive = lightcoral
// Sasha-End-Cursive = mediumvioletred
Sasha-Em = hotpink


/* Unverified For PurifyCSS
	========================================================================== */

// plum 60%
Sasha-Hover-Link = #dda0dd99
Sasha-Focus-Link = honeydew

Sasha-Image-Shadow = black

Sasha-KBD-foreground = navajowhite
Sasha-KBD-background = chocolate

Sasha-Inline-Code = darkslategrey

Sasha-Span-Foreground = Sasha-Body-Foreground
Sasha-Span-Background = Sasha-Body-Background

// AddToAny

Sasha-Add-To-Any = orange

@import "core-design.styl"
@import "../script-colors/Tooltipster/tooltipster-default.styl"
@import "../script-colors/Pygments/pygments-fruity.styl"
