/*
* @Author: Kristinita
* @Date:   2016-12-27 08:08:41
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 15:28:17
*/

SashaColor1 = #fff
SashaColor2 = rgb(212, 75, 56)
SashaColor3 = rgba(0, 0, 0, 0)
SashaColor4 = rgba(0, 0, 0, .5)
SashaColor5 = rgba(0, 0, 0, .09)
SashaColor6 = #333
SashaColor7 = #ff5a00
SashaColor8 = #fcfcfc

Sasha-Body-Background = black
Sasha-Body-Foreground = darkorange

Sasha-Icon = url("../../images/aside/Надутые-губки.jpg")

Sasha-Link = violet

Sasha-Cover-Text = white
Sasha-Bottom-Percent = 14%

Sasha-Left-Border = #ff5a00
Sasha-Left-Border-Foreground = #333
Sasha-Left-Border-Background = #fcfcfc

// Different elements

Sasha-Selection-Foreground = lightcoral
Sasha-Selection-Mozilla-Background = moccasin
Sasha-Selection-Background = rgba(255 228 181 .99)

Sasha-Begin-Cursive = lightcoral
Sasha-End-Cursive = mediumvioletred


/* Unverified For PurifyCSS
   ========================================================================== */

Sasha-Hover-Link = palegoldenrod
Sasha-Focus-Link = honeydew

Sasha-Image-Shadow = black

Sasha-KBD-foreground = seashell
Sasha-KBD-background = cornflowerblue

Sasha-Inline-Code = darkslategrey

Sasha-Span-Foreground = Sasha-Body-Foreground
Sasha-Span-Background = Sasha-Body-Background

Sasha-Tooltipster-Purple-Bottom = orange
Sasha-Tooltipster-Purple-Background = purple

Sasha-Tooltipster-Aquamarine-Bottom = hotpink
Sasha-Tooltipster-Aquamarine-Background = forestgreen

@import "core-design.styl"