/*
* @Author: Kristinita
* @Date:   2016-12-27 08:08:41
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 15:28:17
*/
/* Unverified For PurifyCSS
   ========================================================================== */
body {
  background: #000;
  color: #ff8c00;
}
a {
  color: #ee82ee;
}
a:hover {
  background-color: #eee8aa;
}
a:focus {
  background: #f0fff0;
}
.SashaDeadlink {
  color: Sasha-Dead-Link;
}
em {
  background-image: -webkit-gradient(linear, left top, right top, from(#f08080), to(#c71585));
  background-image: linear-gradient(to right, #f08080, #c71585);
  -webkit-background-clip: text;
  color: transparent;
}
dfn {
  color: Sasha-Dfn;
}
img {
  -webkit-box-shadow: 0 0 2rem #000;
          box-shadow: 0 0 2rem #000;
}
.SashaPageLoading {
  -webkit-box-shadow: none;
          box-shadow: none;
}
kbd {
  color: #fff5ee;
  background: #6495ed;
}
hr {
  color: Sasha-hr;
}
td,
th {
  border: 0.0625rem solid #ff8c00;
}
.SashaBottomAside {
  color: #fff;
  bottom: 14%;
}
aside {
  background-image: url("../../images/aside/Надутые-губки.jpg");
}
blockquote {
  border-left: solid #ff5a00 0.5rem;
  color: #333;
  background: #fcfcfc;
}
.SashaBlockquote {
  border-color: Sasha-Term-Blockquote-Border;
  background-color: Sasha-Term-Blockquote-Background;
  color: Sasha-Term-Blockquote-Foreground;
}
.SashaCitation {
  color: Sasha-Citation-Between-Quotes;
}
.SashaEpigraph {
  color: Sasha-Epigraph;
}
.SashaEpigraph >.SashaEpigraphAuthor {
  color: Sasha-Epigraph-Author;
}
.SashaEpigraph >em {
  color: Sasha-Epigraph-Em;
}
.SashaGingerinasExample {
  background-color: Sasha-Gingerinas-Example;
}
code {
  background-color: #2f4f4f;
}
pre >code {
  background-color: Sasha-Multiline-Code;
}
.SashaShadow {
  text-shadow: 0 0 0.625rem Sasha-Shadow, 0 0 1.25rem Sasha-Shadow, 0 0 1.875rem Sasha-Shadow, 0 0 2.5rem Sasha-Shadow, 0 0 3.125rem Sasha-Shadow, 0 0 3.75rem Sasha-Shadow;
}
.SashaDot {
  border-bottom: 0.0625rem dotted Sasha-Dot;
}
.SashaDotLight {
  border-bottom: 0.0625rem dotted Sasha-Dot-Light;
}
.SashaSpan {
  color: #ff8c00;
  background-color: #000;
}
::-moz-selection {
  color: #f08080;
  background: #ffe4b5;
}
::selection {
  color: #f08080;
  background: rgba(255,228,181,0.99);
}
::-moz-selection:window-inactive {
  color: #f08080;
  background: rgba(255,228,181,0.99);
}
::selection:window-inactive {
  color: #f08080;
  background: rgba(255,228,181,0.99);
}
.SashaEmNoColor {
  color: #ff8c00;
}
.SashaSign {
  border: 1px solid Sasha-Figure-Border;
  background: Sasha-Figure-Background;
}
.tooltipster-punk-purple .tooltipster-box {
  border-bottom: 3px solid #ffa500;
  background: #800080;
}
.tooltipster-punk-aquamarine .tooltipster-box {
  border-bottom: 3px solid #ff69b4;
  background: #228b22;
}
.progress {
  background-color: #000;
}
.progress-bar {
  background-color: Sasha-Progress-Bar;
}
.progress-label {
  color: Sasha-Progressbar-Text;
}
.progress-100plus .progress-bar {
  background-color: Sasha-Progressbar-100;
}
.progress-90plus .progress-bar {
  background-color: Sasha-Progressbar-90;
}
.progress-80plus .progress-bar {
  background-color: Sasha-Progressbar-80;
}
.progress-70plus .progress-bar {
  background-color: Sasha-Progressbar-70;
}
.progress-60plus .progress-bar {
  background-color: Sasha-Progressbar-60;
}
.progress-50plus .progress-bar {
  background-color: Sasha-Progressbar-50;
}
.progress-40plus .progress-bar {
  background-color: Sasha-Progressbar-40;
}
.progress-30plus .progress-bar {
  background-color: Sasha-Progressbar-30;
}
.progress-20plus .progress-bar {
  background-color: Sasha-Progressbar-20;
}
.progress-10plus .progress-bar {
  background-color: Sasha-Progressbar-10;
}
.progress-0plus .progress-bar {
  background-color: Sasha-Progressbar-0;
}
.SashaInlineHighlight,
.SashaBlockHighlight {
  background-color: Sasha-Pygments-Background;
  color: Sasha-Pygments-Foreground;
}
.SashaInlineHighlight .c,
.SashaBlockHighlight .c {
  background-color: Sasha-Pygments-Comment-Background;
  font-style: Sasha-Pygments-Comment-Font-Style;
  color: Sasha-Pygments-Comment;
}
.SashaInlineHighlight .err,
.SashaBlockHighlight .err {
  color: Sasha-Pygments-Error;
}
.SashaInlineHighlight .esc,
.SashaBlockHighlight .esc {
  color: Sasha-Pygments-Escape;
}
.SashaInlineHighlight .hll,
.SashaBlockHighlight .hll {
  background-color: Sasha-Pygments-Highlight-Line;
}
.SashaInlineHighlight .g,
.SashaBlockHighlight .g {
  color: Sasha-Pygments-Generic;
}
.SashaInlineHighlight .k,
.SashaBlockHighlight .k {
  color: Sasha-Pygments-Keyword;
  font-weight: Sasha-Pygments-Keyword-Font-Weight;
}
.SashaInlineHighlight .l,
.SashaBlockHighlight .l {
  color: Sasha-Pygments-Literal;
}
.SashaInlineHighlight .n,
.SashaBlockHighlight .n {
  color: Sasha-Pygments-Name;
}
.SashaInlineHighlight .o,
.SashaBlockHighlight .o {
  color: Sasha-Pygments-Operator;
}
.SashaInlineHighlight .x,
.SashaBlockHighlight .x {
  color: Sasha-Pygments-Other;
}
.SashaInlineHighlight .p,
.SashaBlockHighlight .p {
  color: Sasha-Pygments-Punctuation;
}
.SashaInlineHighlight .ch,
.SashaBlockHighlight .ch {
  color: Sasha-Pygments-Comment-Hashbang;
  background-color: Sasha-Pygments-Comment-Hashbang-Background;
  font-style: Sasha-Pygments-Comment-Hashbang-Font-Style;
}
.SashaInlineHighlight .cm,
.SashaBlockHighlight .cm {
  color: Sasha-Pygments-Comment-Multiline;
  background-color: Sasha-Pygments-Comment-Multiline-Background;
  font-style: Sasha-Pygments-Comment-Multiline-Font-Style;
}
.SashaInlineHighlight .cp,
.SashaBlockHighlight .cp {
  color: Sasha-Pygments-Comment-Preproc;
  background-color: Sasha-Pygments-Comment-Preproc-Background;
  font-weight: Sasha-Pygments-Comment-Preproc-Font-Weight;
}
.SashaInlineHighlight .cpf,
.SashaBlockHighlight .cpf {
  color: Sasha-Pygments-Comment-Preproc-File;
  background-color: Sasha-Pygments-Comment-Preproc-File-Background;
  font-style: Sasha-Pygments-Comment-Preproc-Font-Style;
  font-weight: Sasha-Pygments-Comment-Preproc-File-Font-Weight;
}
.SashaInlineHighlight .c1,
.SashaBlockHighlight .c1 {
  color: Sasha-Pygments-Comment-Single;
  background-color: Sasha-Pygments-Comment-Single-Background;
  font-style: Sasha-Pygments-Comment-Single-Font-Style;
}
.SashaInlineHighlight .cs,
.SashaBlockHighlight .cs {
  color: Sasha-Pygments-Comment-Special;
  background-color: Sasha-Pygments-Comment-Special-Background;
  font-style: Sasha-Pygments-Comment-Special-Font-Style;
}
.SashaInlineHighlight .gd,
.SashaBlockHighlight .gd {
  color: Sasha-Pygments-Generic-Deleted;
}
.SashaInlineHighlight .ge,
.SashaBlockHighlight .ge {
  color: Sasha-Pygments-Generic-Emph;
}
.SashaInlineHighlight .gr,
.SashaBlockHighlight .gr {
  color: Sasha-Pygments-Generic-Error;
}
.SashaInlineHighlight .gh,
.SashaBlockHighlight .gh {
  color: Sasha-Pygments-Generic-Heading;
  font-weight: Sasha-Pygments-Generic-Font-Weight;
}
.SashaInlineHighlight .gi,
.SashaBlockHighlight .gi {
  color: Sasha-Pygments-Generic-Inserted;
}
.SashaInlineHighlight .go,
.SashaBlockHighlight .go {
  color: Sasha-Pygments-Generic-Output;
  background-color: Sasha-Pygments-Generic-Output-Background;
}
.SashaInlineHighlight .gp,
.SashaBlockHighlight .gp {
  color: Sasha-Pygments-Generic-Prompt;
}
.SashaInlineHighlight .gs,
.SashaBlockHighlight .gs {
  color: Sasha-Pygments-Generic-Strong;
}
.SashaInlineHighlight .gu,
.SashaBlockHighlight .gu {
  color: Sasha-Pygments-Generic-Subheading;
  font-weight: Sasha-Pygments-Generic-Subheading-Font-Weight;
}
.SashaInlineHighlight .gt,
.SashaBlockHighlight .gt {
  color: Sasha-Pygments-Generic-Traceback;
}
.SashaInlineHighlight .kc,
.SashaBlockHighlight .kc {
  color: Sasha-Pygments-Keyword-Constant;
  font-weight: Sasha-Pygments-Keyword-Constant-Font-Weight;
}
.SashaInlineHighlight .kd,
.SashaBlockHighlight .kd {
  color: Sasha-Pygments-Keyword-Declaration;
  font-weight: Sasha-Pygments-Keyword-Declaration-Font-Weight;
}
.SashaInlineHighlight .kn,
.SashaBlockHighlight .kn {
  color: Sasha-Pygments-Keyword-Namespace;
  font-weight: Sasha-Pygments-Keyword-Namespace-Font-Weight;
}
.SashaInlineHighlight .kp,
.SashaBlockHighlight .kp {
  color: Sasha-Pygments-Keyword-Pseudo;
}
.SashaInlineHighlight .kr,
.SashaBlockHighlight .kr {
  color: Sasha-Pygments-Keyword-Reserved;
  font-weight: Sasha-Pygments-Keyword-Reserved-Font-Weight;
}
.SashaInlineHighlight .kt,
.SashaBlockHighlight .kt {
  color: Sasha-Pygments-Keyword-Type;
  font-weight: Sasha-Pygments-Keyword-Type-Font-Weight;
}
.SashaInlineHighlight .ld,
.SashaBlockHighlight .ld {
  color: Sasha-Pygments-Literal-Date;
}
.SashaInlineHighlight .m,
.SashaBlockHighlight .m {
  color: Sasha-Pygments-Literal-Number;
  font-weight: Sasha-Pygments-Literal-Number-Font-Weight;
}
.SashaInlineHighlight .s,
.SashaBlockHighlight .s {
  color: Sasha-Pygments-Literal-String;
}
.SashaInlineHighlight .na,
.SashaBlockHighlight .na {
  color: Sasha-Pygments-Name-Attribute;
  font-weight: Sasha-Pygments-Name-Attribute-Font-Weight;
}
.SashaInlineHighlight .nb,
.SashaBlockHighlight .nb {
  color: Sasha-Pygments-Name-Builtin;
}
.SashaInlineHighlight .nc,
.SashaBlockHighlight .nc {
  color: Sasha-Pygments-Name-Class;
}
.SashaInlineHighlight .no,
.SashaBlockHighlight .no {
  color: Sasha-Pygments-Name-Constant;
}
.SashaInlineHighlight .nd,
.SashaBlockHighlight .nd {
  color: Sasha-Pygments-Name-Decorator;
}
.SashaInlineHighlight .ni,
.SashaBlockHighlight .ni {
  color: Sasha-Pygments-Name-Entity;
}
.SashaInlineHighlight .ne,
.SashaBlockHighlight .ne {
  color: Sasha-Pygments-Name-Exception;
}
.SashaInlineHighlight .nf,
.SashaBlockHighlight .nf {
  color: Sasha-Pygments-Name-Function;
  font-weight: Sasha-Pygments-Name-Function-Font-Weight;
}
.SashaInlineHighlight .nl,
.SashaBlockHighlight .nl {
  color: Sasha-Pygments-Name-Label;
}
.SashaInlineHighlight .nn,
.SashaBlockHighlight .nn {
  color: Sasha-Pygments-Name-Namespace;
}
.SashaInlineHighlight .nx,
.SashaBlockHighlight .nx {
  color: Sasha-Pygments-Name-Other;
}
.SashaInlineHighlight .py,
.SashaBlockHighlight .py {
  color: Sasha-Pygments-Name-Property;
}
.SashaInlineHighlight .nt,
.SashaBlockHighlight .nt {
  color: Sasha-Pygments-Name-Tag;
  font-weight: Sasha-Pygments-Name-Tag-Font-Weight;
}
.SashaInlineHighlight .nv,
.SashaBlockHighlight .nv {
  color: Sasha-Pygments-Name-Variable;
}
.SashaInlineHighlight .ow,
.SashaBlockHighlight .ow {
  color: Sasha-Pygments-Operator-Word;
}
.SashaInlineHighlight .w,
.SashaBlockHighlight .w {
  color: Sasha-Pygments-Text-Whitespace;
}
.SashaInlineHighlight .mb,
.SashaBlockHighlight .mb {
  color: Sasha-Pygments-Literal-Number-Bin;
  font-weight: Sasha-Pygments-Literal-Number-Bin-Font-Weight;
}
.SashaInlineHighlight .mf,
.SashaBlockHighlight .mf {
  color: Sasha-Pygments-Literal-Number-Float;
  font-weight: Sasha-Pygments-Literal-Number-Float-Font-Weight;
}
.SashaInlineHighlight .mh,
.SashaBlockHighlight .mh {
  color: Sasha-Pygments-Literal-Number-Hex;
  font-weight: Sasha-Pygments-Literal-Number-Hex-Font-Weight;
}
.SashaInlineHighlight .mi,
.SashaBlockHighlight .mi {
  color: Sasha-Pygments-Literal-Number-Integer;
  font-weight: Sasha-Pygments-Literal-Number-Integer-Font-Weight;
}
.SashaInlineHighlight .mo,
.SashaBlockHighlight .mo {
  color: Sasha-Pygments-Literal-Number-Oct;
  font-weight: Sasha-Pygments-Literal-Number-Oct-Font-Weight;
}
.SashaInlineHighlight .sa,
.SashaBlockHighlight .sa {
  color: Sasha-Pygments-Literal-String-Affix;
}
.SashaInlineHighlight .sb,
.SashaBlockHighlight .sb {
  color: Sasha-Pygments-Literal-String-Backtick;
}
.SashaInlineHighlight .sc,
.SashaBlockHighlight .sc {
  color: Sasha-Pygments-Literal-String-Char;
}
.SashaInlineHighlight .dl,
.SashaBlockHighlight .dl {
  color: Sasha-Pygments-Literal-String-Delimeter;
}
.SashaInlineHighlight .sd,
.SashaBlockHighlight .sd {
  color: Sasha-Pygments-Literal-String-Doc;
}
.SashaInlineHighlight .s2,
.SashaBlockHighlight .s2 {
  color: Sasha-Pygments-Literal-String-Double;
}
.SashaInlineHighlight .se,
.SashaBlockHighlight .se {
  color: Sasha-Pygments-Literal-String-Escape;
}
.SashaInlineHighlight .sh,
.SashaBlockHighlight .sh {
  color: Sasha-Pygments-Literal-String-Heredoc;
}
.SashaInlineHighlight .si,
.SashaBlockHighlight .si {
  color: Sasha-Pygments-Literal-String-Interpol;
}
.SashaInlineHighlight .sx,
.SashaBlockHighlight .sx {
  color: Sasha-Pygments-Literal-String-Other;
}
.SashaInlineHighlight .sr,
.SashaBlockHighlight .sr {
  color: Sasha-Pygments-Literal-String-Regex;
}
.SashaInlineHighlight .s1,
.SashaBlockHighlight .s1 {
  color: Sasha-Pygments-Literal-String-Single;
}
.SashaInlineHighlight .ss,
.SashaBlockHighlight .ss {
  color: Sasha-Pygments-Literal-String-Symbol;
}
.SashaInlineHighlight .bp,
.SashaBlockHighlight .bp {
  color: Sasha-Pygments-Name-Builtin-Pseudo;
}
.SashaInlineHighlight .fm,
.SashaBlockHighlight .fm {
  color: Sasha-Pygments-Name-Function-Magic;
  font-weight: Sasha-Pygments-Name-Function-Magic-Font-Weight;
}
.SashaInlineHighlight .vc,
.SashaBlockHighlight .vc {
  color: Sasha-Pygments-Variable-Class;
}
.SashaInlineHighlight .vg,
.SashaBlockHighlight .vg {
  color: Sasha-Pygments-Name-Variable-Global;
}
.SashaInlineHighlight .vi,
.SashaBlockHighlight .vi {
  color: Sasha-Pygments-Name-Variable-Instance;
}
.SashaInlineHighlight .vm,
.SashaBlockHighlight .vm {
  color: Sasha-Pygments-Name-Variable-Magic;
}
.SashaInlineHighlight .il,
.SashaBlockHighlight .il {
  color: Sasha-Pygments-Literal-Number-Integer-Long;
  font-weight: Sasha-Pygments-Literal-Number-Integer-Long-Font-Weight;
}
