/*
* @Author: Kristinita
* @Date:   2016-12-27 08:08:41
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 15:28:17
*/

img
	margin 0 auto

a
	&:visited
		color pink

	&:active
		color pink

	&.SashaButtonCategory
		font-size 1.75rem
		text-decoration none
		color white
		border-style outset
		border-color bisque
		border-radius 0.875rem
		outline none
		background rgb(212, 75, 56)
		box-shadow 0 0 0 3.75rem rgba(0, 0, 0, 0) inset

		&:hover
			font-size 1.75rem
			text-decoration none
			color white
			border-style solid
			border-color white
			border-radius 0.875rem
			outline none
			background rgb(212, 75, 56)
			box-shadow 0 0 0.625rem rgba(0, 0, 0, .5)

		&:active
			font-size 1.75rem
			text-decoration none
			color white
			border-style solid
			border-color white
			border-radius 0.875rem
			outline none
			background rgb(212, 75, 56)
			box-shadow 0 0 0.625rem rgba(0, 0, 0, .5)
			box-shadow 0 0 0 12.5rem rgba(0, 0, 0, .09) inset

input
	font-weight bold
	height 1.3125rem
	color maroon
	border-radius 0.4375rem

.SashaCenter
.SashaReadHelp
.SashaOnlineScanners
.SashaDifferentUrl
.SashaBottom
	text-align center

.SashaOnlineScanners
	font-size 1.375rem
	color tomato

.SashaDifferentUrl
	font-size 1.4375rem

.SashaButtonCategory
	font-size 2rem

.SashaBorderInput
	border 0.25rem double black
	border-style outset
	border-color darkorange

.SashaCheckYourSite
	font-family 'Истина'
	font-size 3.125rem
	color tomato

.SashaReadHelp
	font-size 1.4375rem

.SashaBottom
	margin-bottom 2rem
