/*
* @Author: Kristinita
* @Date:   2017-03-15 17:06:35
* @Last Modified by:   Kristinita
* @Last Modified time: 2017-05-09 15:19:54
*/

Sasha-Body-Background = rgb(008, 005, 078)
Sasha-Body-Foreground = lavenderblush

Sasha-Link = plum

Sasha-Begin-Cursive = darkcyan
Sasha-End-Cursive = mediumslateblue

Sasha-Icon = url("../../images/aside/SashaNoseRings.jpg")

Sasha-Cover-Text = white

Sasha-Left-Border = lavender
Sasha-Left-Border-Foreground = slateblue
Sasha-Left-Border-Background = #fcfcfc

Sasha-Dot = mediumvioletred
Sasha-Dot-Light = cornsilk

Sasha-Term-Blockquote-Border = #ff5730
Sasha-Term-Blockquote-Background = peachpuff
Sasha-Term-Blockquote-Foreground = mediumvioletred

Sasha-Epigraph = bisque
Sasha-Epigraph-Author = lightpink

Sasha-Citation-Between-Quotes = lightgreen

Sasha-Span-Foreground = mediumvioletred
Sasha-Span-Background = bisque

Sasha-Shadow = rgba(255 0 222 1)

// Different elements

Sasha-Selection-Foreground = lightcoral
Sasha-Selection-Mozilla-Background = moccasin
Sasha-Selection-Background = rgba(255 228 181 .99)



/* Unverified For PurifyCSS
	========================================================================== */

Sasha-Hover-Link = palegoldenrod
Sasha-Focus-Link = honeydew

Sasha-Bottom-Percent = 8%

Sasha-Epigraph-Em = #ffdc33

Sasha-Image-Shadow = black

Sasha-KBD-foreground = seashell
Sasha-KBD-background = cornflowerblue

Sasha-Inline-Code = darkslategrey

Sasha-Span-Foreground = Sasha-Body-Foreground
Sasha-Span-Background = Sasha-Body-Background


@import "core-design.styl"
@import "../script-colors/Tooltipster/tooltipster-default.styl"
