/* >> Images with different width for Korvers Gingerinas article
	========================================================================== */

.SashaImageWidth140
	width 8.75rem

.SashaImageWidth280
	width 17.5rem

.SashaImageWidth470
	width 29.375rem
