/* >> Blockstyle blockquotes
	========================================================================== */

/* [INFO] Blockstyle blockquotes:
https://i.imgur.com/s9W2wzd.png */
.SashaBlockquoteBlockstyle
	padding .25rem
	border-width thick
	border-top-style ridge
	border-right-style groove
	border-bottom-style groove
	border-left-style ridge
