/* >> Pullquotes style blockquotes
	========================================================================== */

@import "../placeholders.styl"

/* [INFO] Pull quotes:
https://i.imgur.com/kYwG8Sd.png */
.SashaPullQuote
	display inline-block

.SashaPullQuoteTopQuote
	@extend $KiraCitationsQuotes
	margin 1.8rem 0 0
	vertical-align - .2rem

.SashaPullQuoteBottomQuote
	@extend $KiraCitationsQuotes
	vertical-align -2.5rem
