/* >> Leftborderstyle blockquotes
	========================================================================== */

/* [INFO] Left border style blockquotes:
https://i.imgur.com/CuqjmHJ.png */
blockquote
	font-size 1.1875rem
	font-style italic
	margin .625rem 1rem
	padding .9375rem
