// General

// [INFO] Color coniferous trees on the “NeliaChernivtsi” icon
Sasha-Body-Background = #596c68
Sasha-Body-Foreground = #ffe5a4


// Links

// [INFO] Nelia’s handbag color on the “NeliaChernivtsi” icon
Sasha-Link = lightpink
Sasha-Hover-Link = darkslategray
Sasha-Focus-Link = olive


// Selection

Sasha-Selection-Foreground = seagreen
Sasha-Selection-Background = beige


// AddToAny

Sasha-Add-To-Any = darkkhaki


// [REQUIRED]

Sasha-Image-Shadow = black

Sasha-Cover-Text = Sasha-Body-Foreground
Sasha-Bottom-Percent = 8%


// Imports
@import "nelican-themes-core-design.styl"
