// General

Sasha-Body-Background = #f3efd6
// [INFO] steelblue + Firefox color palette
Sasha-Body-Foreground = #37756e

Sasha-Link = indianred
Sasha-Hover-Link = palegoldenrod
Sasha-Focus-Link = honeydew
// Nt
Sasha-Dead-Link = #e52b50

// Sasha-Begin-Cursive = lightcoral
// Sasha-End-Cursive = mediumvioletred
Sasha-Em = blueviolet

// Nt
Sasha-Image-Shadow = black

// Nt
Sasha-KBD-foreground = seashell
// [INFO] cornflowerblue + Firefox color palette
Sasha-KBD-background = #4889fd

// Nt
Sasha-hr = mediumvioletred


// aside

Sasha-Cover-Text = white
Sasha-Bottom-Percent = 8%


// Blockquotes

Sasha-Left-Border = crimson
Sasha-Left-Border-Blockquote-Foreground = rebeccapurple
Sasha-Left-Border-Blockquote-Background = antiquewhite

Sasha-Term-Blockquote-Border = mediumslateblue
Sasha-Term-Blockquote-Background = peachpuff
Sasha-Term-Blockquote-Foreground = midnightblue

Sasha-Citation-Between-Quotes = maroon

Sasha-Epigraph = lightseagreen
Sasha-Epigraph-Author = mediumorchid
// Nt
Sasha-Epigraph-Em = palevioletred

Sasha-Gingerinas-Example = #d0f0c0
Sasha-Gingerinas-Example-Foreground = midnightblue
// Light coral
Sasha-Gingerinas-Bad-Example = #f0808091
Sasha-Gingerinas-Bad-Example-Foreground = crimson

// Code

// Nt
Sasha-Inline-Code = darkslategrey
// Nt
Sasha-Multiline-Code = black


// Different elements

// Nt
Sasha-Selection-Foreground = lightcoral
// Nt
Sasha-Selection-Background = rgba(255 228 181 .99)


// External plugins

// Tooltipster theme


/* [DEPRECATED] I no longer use Tooltipster

Sasha-Tooltipster-Purple-Bottom = orange
Sasha-Tooltipster-Purple-Background = purple
Sasha-Tooltipster-Aquamarine-Bottom = hotpink
Sasha-Tooltipster-Aquamarine-Background = forestgreen
*/


// AddToAny

Sasha-Add-To-Any = lightskyblue

// Wildfire

/* [DEPRECATED] Wildfire no longer functioning more

Sasha-Wildfire-Foreground = dodgerblue
Sasha-Wildfire-Broken-Heart = darkblue
Sasha-Wildfire-Heart = crimson
Sasha-Wildfire-Button-Background = aliceblue
*/


// Unverified

Sasha-Hr = mediumvioletred
Sasha-Blockquote-Em = Sasha-Em

Sasha-Blockquote-Link = Sasha-Link
Sasha-Term-Blockquote-Em = Sasha-Em
Sasha-Term-Blockquote-Link = Sasha-Link

// Imports
@import "nelican-themes-core-design.styl"
