/*
@Author: Kristinita
@Date:   2017-03-15 17:06:35
@Last Modified by:   Kristinita
@Last Modified time: 2017-05-09 15:19:54
*/

Sasha-Body-Background = #08054e
Sasha-Body-Foreground = lavenderblush

Sasha-Link = plum
Sasha-Hover-Link = indigo
Sasha-Focus-Link = darkolivegreen

// Sasha-Begin-Cursive = darkcyan
// Sasha-End-Cursive = mediumslateblue
Sasha-Em = cornflowerblue

Sasha-Cover-Text = white

Sasha-Left-Border = lavender
Sasha-Left-Border-Blockquote-Foreground = slateblue
Sasha-Left-Border-Blockquote-Background = #fcfcfc

// [INFO] mediumvioletred + Firefox color palette
Sasha-Dot = #bf0a7c
Sasha-Dot-Light = cornsilk

Sasha-Term-Blockquote-Border = #ff5730
Sasha-Term-Blockquote-Background = peachpuff
// [INFO] mediumvioletred + Firefox color palette
Sasha-Term-Blockquote-Foreground = #bf0a7c
Sasha-Term-Blockquote-Link = royalblue
// [INFO] sienna + Firefox color palette
Sasha-Term-Blockquote-Em = #9b4d28

Sasha-Epigraph = bisque
Sasha-Epigraph-Author = lightpink

Sasha-Citation-Between-Quotes = lightgreen

Sasha-Span-Foreground = mediumvioletred
Sasha-Span-Background = bisque

Sasha-Shadows-Neon-Around-Text = rgba(255 0 222 1)

// Different elements

Sasha-Selection-Foreground = lightcoral
Sasha-Selection-Background = rgba(255 228 181 .99)

// AddToAny

Sasha-Add-To-Any = deeppink


// Wildfire

/* [DEPRECATED] Wildfire no longer functioning more

Sasha-Wildfire-Foreground = chocolate
Sasha-Wildfire-Broken-Heart = mediumslateblue
Sasha-Wildfire-Heart = darkgoldenrod
Sasha-Wildfire-Button-Background = hsla(0 0 100 .2)
*/


// KBD
Sasha-KBD-foreground = seashell
Sasha-KBD-background = brown

/* Unverified For PurifyCSS
	========================================================================== */

Sasha-Bottom-Percent = 8%

Sasha-Epigraph-Em = #ffdc33

Sasha-Image-Shadow = black

Sasha-Inline-Code = darkslategrey

Sasha-Hr = mediumvioletred
Sasha-Blockquote-Em = Sasha-Em

@import "nelican-themes-core-design.styl"
