<!-- @Author: Kristinita -->
<!-- @Date:   2017-03-23 09:41:57 -->
<!-- @Last Modified time: 2017-03-23 10:39:42 -->
<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Титульная фраза -->
    <title> Наслаждайтесь ошибкой 404 </title>
    <!-- Описание страницы, изменение названия Эксплорера и адаптация для разных экранов -->
    <meta charset="utf-8" name="description" content="Ошибка 404 на страницах Поиска Кристиниты">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <!-- Иконочка Сашеньки -->
    <link rel="shortcut icon" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/icons/Sasha.ico" type="image/x-icon">
    <!-- Иконочка Сашеньки вставлена -->
    <!-- Стиль страницы -->
    <link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/general/basic.css">
    <link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/general/aside.css">
    <link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/sections/404.css">
</head>

<body>
    <!-- Ошибка 404 -->
    <div class="SashaCenter">
        <a href="https://ru.wikipedia.org/wiki/HTTP_404" target="_blank" class="SashaError404">Ошибка 404</a>
    </div><img src="http://2no.co/1sHR.jpg">
    <!-- Конец ошибки 404 -->
    <!-- Сообщение ошибки 404 -->
    <div class="Sasha404Message">Запрашиваемая страница отсутствует, удалена или перемещена. Если Вы попали сюда, скопировав либо вручную вписав URL в адресную строку, проверьте правильность ввода, попутно любуясь некоторыми избранными иконами <a href="http://people.novsu.ru/profiles/html/profileView.do?userid=s167163&lang=ru" target="_blank">совершеннейшего Создания всех времён и народов</a>. Ежели Вы здесь по ссылке с <i>kristinita.ru</i> или другого сайта автора Поиска Кристиниты, пожалуйста, сообщите об ошибке <script>
		eval(unescape('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%53%61%73%68%61%43%68%65%72%6e%79%6b%68%45%6d%70%72%65%73%73%4f%66%55%6e%69%76%65%72%73%65%40%6b%72%69%73%74%69%6e%69%74%61%2e%72%75%22%3e%53%61%73%68%61%43%68%65%72%6e%79%6b%68%45%6d%70%72%65%73%73%4f%66%55%6e%69%76%65%72%73%65%40%6b%72%69%73%74%69%6e%69%74%61%2e%72%75%3c%2f%61%3e%27%29%3b'))
		</script>
		<noscript>[Включите в браузере JavaScript для возможности связаться по электронной почте]</noscript>.</font>
        <!-- Конец сообщения ошибки 404 -->
        <!-- Конец центрирования скрипта -->
        <br />
        <br />
        <!-- Божьи иконы -->
        <center>
            <div id="slide-container">
                <div id="slideShowImages">
                    <img src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/С_голубочком.jpg" alt="Slide 1" class="SashaIcons" width="697" height="479" />
                    <img src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/У_реки.jpg" alt="Slide 2" class="SashaIcons" width="697" height="479" />
                    <img src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/Шимский_район_Новгорода.jpg" alt="Slide 3" class="SashaIcons" width="697" height="479" />
                    <img src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/Бантик.jpg" alt="Slide 4" class="SashaIcons" width="697" height="479" />
                    <img src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/Нос.jpg" alt="Slide 5" class="SashaIcons" width="697" height="479" />
                    <img src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/На_свадьбе_знакомых.jpg" alt="Slide 6" class="SashaIcons" width="697" height="479" />
                    <img src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/Синие_волосы_на_травке.jpg" alt="Slide 7" class="SashaIcons" width="697" height="479" />
                </div>
            </div>
        </center>
</body>
        <script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/slideShow.js"></script>

</html>
