<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="description" content="404 page for Kristinita's Search" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>
		404 error
	</title>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/gemini-scrollbar/index.js" defer></script>
	<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/Gemini/gemini-non-scrollbar.min.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js" defer></script>
	<script src="https://kristinita.ru/theme/js/Slick/slick.js" defer></script>
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/general/hide-scrollbar.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gemini-scrollbar/gemini-scrollbar.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css" />
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/sections/404.min.css" />
</head>

<body>
	<div class="Sasha404">
		404 Error
	</div>
	<img src="https://2no.co/1sHR.png" alt="Page loading, please, little wait" />
	<div class="Sasha404Description">
		I'm sorry, possibly, I share a link to this page, but I make I typo or move page. If yes, I try fix shared link soon.
	</div>
	<div class="Sasha404Description">
		Enjoy the icons of the
		<a href="https://vk.com/hair_in_the_wind">
				greatest Creature of all time
			</a> !
	</div>
	{# <section> tag require headers, replace <section> → <div>:
	https://stackoverflow.com/a/6941170/5951529
	https://stackoverflow.com/q/24155024/5951529 #}
	<div class="slider">
		<div class="SashaCenter">
			<img data-lazy="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/SashaNose.png" src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/interface-images/transparent-one-pixel.png" alt="SashaNose" />
		</div>
		<div class="SashaCenter">
			<img data-lazy="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/SashaRiver.png" src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/interface-images/transparent-one-pixel.png" alt="SashaRiver" />
		</div>
		<div class="SashaCenter">
			<img data-lazy="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/SashaBlueHairs.png" src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/interface-images/transparent-one-pixel.png" alt="SashaBlueHairs" />
		</div>
		<div class="SashaCenter">
			<img data-lazy="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/SashaBow.png" src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/interface-images/transparent-one-pixel.png" alt="SashaBow" />
		</div>
		<div class="SashaCenter">
			<img data-lazy="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/SashaPigeon.png" src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/interface-images/transparent-one-pixel.png" alt="SashaPigeon" />
		</div>
		<div class="SashaCenter">
			<img data-lazy="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/SashaShimskyNovgorodDestrict.png" src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/interface-images/transparent-one-pixel.png" alt="SashaShimskyNovgorodDestrict" />
		</div>
		<div class="SashaCenter">
			<img data-lazy="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/404/SashaWeddingOfFriends.png" src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/interface-images/transparent-one-pixel.png" alt="SashaWeddingOfFriends" />
		</div>
	</div>
</body>

</html>
