<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="description" content="404 page for Kristinita's Search" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>
		404 error
	</title>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/gemini-scrollbar/index.min.js" defer></script>
	<script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/Gemini/gemini-non-scrollbar{{MIN}}.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js" defer></script>
	<script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/Slick/slick{{MIN}}.js" defer></script>
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/general/hide-scrollbar{{MIN}}.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gemini-scrollbar/gemini-scrollbar.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.css" />
	<script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/Modernizr/modernizr-custom.min.js" defer></script>
	<style>
		.webp body {
			background: url("{{SITEURL}}/{{THEME_STATIC_DIR}}/images/backgrounds/SashaHangerBackground.webp") no-repeat center center/cover fixed
		}
		.no-webp body {
			background: url("{{SITEURL}}/{{THEME_STATIC_DIR}}/images/backgrounds/SashaHangerBackground.jpg") no-repeat center center/cover fixed
		}
	</style>
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/sections/404{{MIN}}.css" />
</head>

<body>
	<div class="Sasha404">
		404 Error
	</div>
	<img src="https://2no.co/1sHR.png" alt="Page loading, please, little wait" />
	<div class="Sasha404Description">
		I'm sorry, possibly, I share a link to this page, but I make I typo or move page. If yes, I try fix shared link soon.
	</div>
	<div class="Sasha404Description">
		Enjoy the icons of the <a href="https://vk.com/hair_in_the_wind">greatest Creature of all time</a> !
	</div>
	{# [LEARN][HTML][HTML-SEMANTIC] <section> tag require headers, replace <section> → <div>:
	https://stackoverflow.com/a/6941170/5951529
	https://stackoverflow.com/q/24155024/5951529 #}
	<div class="KiraSlider">
		{# [LEARN][JINJA] Loop for each list element:
		https://overiq.com/flask-101/basics-of-jinja-template-language/#for-loop #}
		{% set kira_404_icons = ['SashaNose', 'SashaRiver', 'SashaBlueHairs', 'SashaBow', 'SashaPigeon', 'SashaShimskyNovgorodDestrict', 'SashaWeddingOfFriends'] %}
		{% for icon in kira_404_icons %}
			<picture>
				{# [FIXME][WARNING] “srcset” transparent pixel required:
				"Element “source” is missing required attribute “srcset”."
				https://github.com/whatwg/html/issues/4649
				#}
				<source srcset="{{SITEURL}}/{{THEME_STATIC_DIR}}/images/interface-images/transparent-one-pixel.png" data-lazy-srcset="{{SITEURL}}/{{THEME_STATIC_DIR}}/images/404/{{icon}}.webp" type="image/webp">
				<img data-lazy="{{SITEURL}}/{{THEME_STATIC_DIR}}/images/404/{{icon}}.png" src="{{SITEURL}}/{{THEME_STATIC_DIR}}/images/interface-images/transparent-one-pixel.png" alt="KiraIcon" />
			</picture>
		{% endfor %}
	</div>
</body>

</html>
