<!-- @Author: Kristinita -->
<!-- @Date:   2017-04-15 17:42:59 -->
<!-- @Last Modified time: 2019-02-05 08:10:12 -->
{% extends 'base.html' %}

<!--==========================
=            Head            =
===========================-->


{% block base_language %}{{ article.lang }}{% endblock %}
<!-- Title phrase -->
{% block base_pagetitle %}{{ article.pagetitle }}{% endblock %}
<!-- Content of attribute <meta content="|"> -->
{% block base_summary_striptags %}{{ article.summary|striptags}}{% endblock %}
<!-- Open Graph image -->
{% block base_opengraphimage %}{{ article.opengraphimage }}{% endblock %}
{# JSON-LD #}
{% block base_json_ld %}{% include 'includes/json-ld-articles.html' %}{% endblock %}

<!--=============================
=            Scripts            =
==============================-->

<!-- typo-reporter -->
{% block base_typoreporter -%}
	<script src="https://npmcdn.com/typo-reporter/lib/TypoReporter.min.js" defer></script>
	{%- if article.lang == 'ru' -%}
		<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/typo-reporter/typo-reporter-ru.min.js" defer></script>
	{% else %}
		<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/typo-reporter/typo-reporter-en.min.js" defer></script>
	{%- endif -%}
{%- endblock %}

<!-- Tooltipster -->
{% block base_tooltipster -%}
	{%- if article.tooltipster == 'true' -%}
		<script src="https://cdn.jsdelivr.net/jquery.tooltipster/latest/js/tooltipster.bundle.min.js" defer></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.tooltipster/latest/css/tooltipster.bundle.min.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-punk.min.css" />
		<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/Tooltipster/tooltip.min.js" defer></script>
	{%- endif -%}
{%- endblock %}

<!-- Clipboard.js -->
{% block base_clipboardjs -%}
	{%- if article.clipboardjs == 'true' -%}
		<script src="https://cdn.jsdelivr.net/clipboard.js/latest/clipboard.min.js" defer></script>
		<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/Clipboard-js/Clipboard.min.js" defer></script>
	{%- endif -%}
{%- endblock %}

<!-- Visualize -->
{# JavaScript pie and bar charts:
http://www.kellyking.me/projects/visualize/
https://github.com/kellyk/visualize #}
{% block base_visualize -%}
	{%- if article.visualize == 'true' -%}
		<script src="https://gitcdn.xyz/repo/kellyk/visualize/master/visualize.js" defer></script>
		<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/Visualize/visualize-bar-chart.min.js" defer></script>
		<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/Visualize/visualize-pie-chart.min.js" defer></script>
	{%- endif -%}
{%- endblock %}

<!-- [DEPRECATED] Modern browsers support “details/summary”: -->
<!-- https://caniuse.com/#search=details -->
{# <!-- Details-Polyfill -->
<!-- http://ru.stackoverflow.com/a/498984/199934 -->
{% block base_detailspolyfill -%}
	{%- if article.detailspolyfill == 'true' -%}
		<script src="{{SITEURL}}/js/Details-Polyfill/details1.js" defer></script>
		<script src="{{SITEURL}}/js/Details-Polyfill/details2.js" defer></script>
	{%- endif -%}
{%- endblock %} #}

<!-- Custom JavaScript, specific for article
Metadata variable -->
{% block base_customjs -%}
	{%- if article.customjs == 'true' -%}
		<script src="{{SITEURL}}/js/personal/{{article.customjs1}}.min.js" defer></script>
	{%- endif -%}
{%- endblock %}


<!--=========================
=            CSS            =
==========================-->

<!-- Right or left Sasha icon -->
{% block base_iconleftorright %}{{ article.iconleftorright }}{% endblock %}
<!-- CSS of pages -->
{% block base_pagecolors %}{{ article.pagecolors }}{% endblock %}
<!-- Aside image -->
{% block base_asideimage %}{{ article.asideimage }}{% endblock %}

{% block base_progressbar -%}
	{%- if article.progressbar == 'true' -%}
		<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/script-colors/ProgressBar/progressbar.min.css">
	{%- endif -%}
{%- endblock %}

<!-- Custom CSS, specific for article -->
{% block base_customcss -%}
	{%- if article.customcss == 'true' -%}
		<link rel="stylesheet" href="{{SITEURL}}/css/personal/{{article.customcss1}}.min.css">
	{%- endif -%}
{%- endblock %}

{% block galleryblock -%}
	{% if article.photo_image %}<img src="{{ SITEURL }}/{{ article.photo_image[1] }}" />{% endif %}
{%- endblock %}

<!--=========================
=            Feed           =
==========================-->

<!-- Add Atom Feed
https://stackoverflow.com/a/440454/5951529
%s variable from pelicanconf.py file transform to format(category.slug)
https://github.com/search?q=CATEGORY_FEED_ATOM&type=Code , https://github.com/satyamyadav/blog/blob/892083f531be87a274a5c13a90246db319b0201a/v0.3.0/blog/theme/templates/category.html
https://webref.ru/html/link/rel
-->
{% block base_atom_feed -%}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" rel="alternate" type="application/atom+xml">
	<!-- [BUG] For Pelican 4.0+ we need to replace CATEGORY_FEED_ATOM|format(category.slug) to CATEGORY_FEED_ATOM|format(slug=category.slug):
	https://github.com/getpelican/pelican/blob/master/docs/changelog.rst#401-2018-11-30  -->
	{# Use dot, no pipe:
	https://github.com/getpelican/pelican/issues/2442#issuecomment-449426117 #}
	<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}" rel="alternate" type="application/atom+xml">
{%- endblock %}

<!--=============================
=            Content            =
==============================-->

<!-- Text in aside block -->
{% block base_asidetitle %}{{ article.pagetitle }}{% endblock %}

<!-- Content header -->
{% block base_h1 %}{{ article.pagetitle }}{% endblock %}
{% block base_noco %}{{ article.noco }}{% endblock %}
{% block base_version %}{{ article.version }}{% endblock %}
{# “locale_date” and “locale_modified” variables as in notmyidea theme #}
{% block base_date %}{{ article.locale_date }}{% endblock %}
{% block base_date_modified %}{{ article.locale_modified }}{% endblock %}

<!-- Epigraph -->
{% block base_epigraph -%}
	{%- if article.epigraph == 'true' -%}
	<div class="SashaEpigraph">
		<em>{{ article.epigraphtext }}</em>
	</div>
	{% endif %}
{%- endblock %}

<!-- Title image -->
{% block base_titleimage -%}
	{%- if article.titleimage == 'true' -%}
		<p><img alt="Header image" src="{{SITEURL}}/images/header/{{ article.titleimagename }}.jpg"></p>
	{% endif %}
{%- endblock %}

<!-- Site content -->
{% block base_content %}{{ article.content }}{% endblock %}

<!-- Neighbors: add pagination
https://github.com/getpelican/pelican-plugins/tree/master/neighbors
See example in https://github.com/whatifrussian/website/blob/9e29831dcf61c85e711a392709aaf711212ba7c9/themes/whatif/templates/includes/article_content.html -->
{% block base_neighbors -%}
	{%- if article.lang == 'ru' -%}
		{% include 'includes/neighbors-ru.html' %}
	{% else %}
		{% include 'includes/neighbors-en.html' %}
	{% endif %}
{%- endblock %}

<!-- Footer: new disgruntled Russian and sign
E-Mail obfuscate: http://rot13.florianbersier.com/
Get relative source path like https://github.com/kura/kura.io/blob/e8f2c6801a0013201d734aa1ac48d9ac92a40b96/ghastly/templates/article.html#L10 -->
{% block base_new_russian %}
	{%- if article.lang == 'ru' -%}
		{% include 'includes/footer-ru.html' %}
	{% else %}
		{% include 'includes/footer-en.html' %}
	{% endif %}
{% endblock %}

{% block base_noscript %}
	{% include 'includes/noscript-articles.html' %}
{% endblock %}
