<!DOCTYPE html>
<html lang="ru">

<head>
	<!-- Title phrase -->
	<title>Поиск Кристиниты</title>
	<!-- Encoding -->
	<meta charset="utf-8">
	<!-- Description, EDGE-compatible, different screens -->
	<meta name="description" content="Поисковая система по энциклопедическому содержимому. Поисковик, который ищет авторитетную энциклопедическую информацию по любой тематике. Впитывайте знания, не всякую информацию!">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Open Graph, http://ruogp.me/ -->
	<meta property="og:title" content="{{SITENAME}}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{SITEURL}}" />
	<meta property="og:image" content="{{SITEURL}}/images/logo/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF_%D0%B1%D0%B5%D0%B7_%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D0%BE%D0%B3%D0%BE.jpeg" />
	<meta property="og:description" content="Поисковик, который ищет авторитетную энциклопедическую информацию по любой тематике. Впитывайте знания, не всякую информацию!" />
	<meta property="og:site_name" content="{{SITENAME}}" />
	{# JSON-LD:
	[INFO] Generate by JSON-LD Generator
	https://www.schemaapp.com/tools/jsonld-schema-generator/ #}
	<script type="application/ld+json">
	{
		"@context": "https://schema.org/",
		"@type": "WebSite",
		"alternateName": "Kristinita's Search",
		"description": "Поисковая система по энциклопедическому содержимому. Поисковик, который ищет авторитетную энциклопедическую информацию по любой тематике. Впитывайте знания, не всякую информацию!",
		"name": "{{SITENAME}}"
	}
	</script>
	<!-- Verification -->
	<meta name="wot-verification" content="6389203cb8057dd1b8e6" />
	<meta name="wmail-verification" content="eed58073a052abeca0167609b80c6e55" />
	<meta name="yandex-verification" content="5effdd88ab8a818d" />
	{# [INFO] Ostr.io analytics:
	https://ostr.io/service/analytics
	#}
	<meta name="ostrio-domain" content="i15vSwmOkMGdMZSuuv6HUO1cUfz-iO-RegiFVZ_6Zdi">
	{# [NOTE] Needs separate sites for using https:
	https://webmasters.stackexchange.com/a/79684/71131 #}
	<meta name="google-site-verification" content="Xf6irQ5R_zWQGfvB6LMlFqkCEKLmCVN7P5uL2prCs_A" />
	<!-- OpenSearch -->
	<link rel="search" type="application/opensearchdescription+xml" title="Поиск Кристиниты" href="{{SITEURL}}/opensearch.xml">
	<!-- Open links in new tabs -->
	<base target="_blank">
	<!-- JQuery -->
	<!-- Google Custom Search Engine -->
	<script src="{{SITEURL}}/js/personal/Kristinita/gcse{{MIN}}.js" defer></script>
	<!-- Don't use latest JQuery version, http://stackoverflow.com/a/12608285/5951529 -->
	{# [NOTE] Don't use protocol-relative URLs:
	https://stackoverflow.com/a/54386928/5951529 #}
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" defer></script>
	<!-- Gemini -->
	<script src="https://cdn.jsdelivr.net/npm/gemini-scrollbar/index.min.js" defer></script>
	<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/Gemini/gemini-non-scrollbar{{MIN}}.js" defer></script>
	<!-- Bowser
	http://ru.stackoverflow.com/a/611507/199934 -->
	<script src="https://cdn.jsdelivr.net/npm/bowser/es5.min.js" defer></script>
	<script src="{{SITEURL}}/js/personal/Kristinita/bowser{{MIN}}.js" defer></script>
	<!-- Accesskeys, see: http://ru.stackoverflow.com/a/560571/199934 -->
	<script src="{{SITEURL}}/js/personal/Kristinita/accesskeys{{MIN}}.js" defer></script>
	<!-- Styles -->
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/general/hide-scrollbar{{MIN}}.css">
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/sections/kristinita{{MIN}}.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gemini-scrollbar/gemini-scrollbar.min.css">
	{# Modernizr #}
	<script src="{{SITEURL}}/{{THEME_STATIC_DIR}}/js/Modernizr/modernizr-custom.min.js" defer></script>
	{# [INFO] Ostr.io — ethical analythics:
	https://github.com/VeliovGroup/ostrio-analytics#why-ostrio-analytics #}
	<script src="https://analytics.ostr.io/P9KT8uEk3KHYs7PnY.js" async></script>
	{# [NOTE] Use “center/cover”, that set “background-size: cover” for “background” property:
	https://webref.ru/css/background
	https://stackoverflow.com/a/17093346/5951529
	https://stackoverflow.com/q/45575802/5951529
	#}
	<style>
		.webp body {
			background: url("{{SITEURL}}/{{THEME_STATIC_DIR}}/images/backgrounds/SashaRedLeavesBackground.webp") no-repeat center center/cover fixed
		}
		.no-webp body {
			background: url("{{SITEURL}}/{{THEME_STATIC_DIR}}/images/backgrounds/SashaRedLeavesBackground.jpg") no-repeat center center/cover fixed
		}
	</style>
	<!-- Favicons
	Generated by Real Favicon Generator: https://realfavicongenerator.net/favicon/grunt -->
</head>

<body>
	<!-- Menu buttons -->
	<nav>
	<a href="http://cyclowiki.org/wiki/%D0%A3%D1%87%D0%B0%D1%81%D1%82%D0%BD%D0%B8%D0%BA%3A%D0%A1%D0%B0%D1%88%D0%B0_%D0%A7%D0%B5%D1%80%D0%BD%D1%8B%D1%85%2F%D0%9F%D0%BE%D0%B8%D1%81%D0%BA_%D0%9A%D1%80%D0%B8%D1%81%D1%82%D0%B8%D0%BD%D0%B8%D1%82%D1%8B%2F%D0%9A%D0%B0%D1%82%D0%B0%D0%BB%D0%BE%D0%B3_%D0%9A%D1%80%D0%B8%D1%81%D1%82%D0%B8%D0%BD%D0%B8%D1%82%D1%8B" class="Empress" title="Каталог Кристиниты. Полный список включённых сайтов и некоторые не вошедшие в него.">Каталог</a>
	<a href="http://cyclowiki.org/wiki/%D0%A3%D1%87%D0%B0%D1%81%D1%82%D0%BD%D0%B8%D0%BA%3A%D0%A1%D0%B0%D1%88%D0%B0_%D0%A7%D0%B5%D1%80%D0%BD%D1%8B%D1%85%2F%D0%9F%D0%BE%D0%B8%D1%81%D0%BA_%D0%9A%D1%80%D0%B8%D1%81%D1%82%D0%B8%D0%BD%D0%B8%D1%82%D1%8B%2F%D0%9F%D1%80%D0%B8%D0%BC%D0%B5%D1%80%D1%8B" class="Chernykh" title="Обзор сервисов поиска энциклопедической информации и сравнение с ними Поиска Кристиниты">Примеры</a>
	<a href="http://cyclowiki.org/wiki/%D0%A3%D1%87%D0%B0%D1%81%D1%82%D0%BD%D0%B8%D0%BA%3A%D0%A1%D0%B0%D1%88%D0%B0_%D0%A7%D0%B5%D1%80%D0%BD%D1%8B%D1%85%2F%D0%9F%D0%BE%D0%B8%D1%81%D0%BA_%D0%9A%D1%80%D0%B8%D1%81%D1%82%D0%B8%D0%BD%D0%B8%D1%82%D1%8B" class="Sasha" title="Подробный рассказ о Поиске Кристиниты">Описание</a>
	</nav>
	<img src="https://2no.co/18mR.png" alt="Page loading, please, little wait">
	<br>
	<!-- “Kristinita's Search” words -->
	{# Status role:
	http://html5ru.com/aria-roli.html #}
	<div class="SashaCenter" role="status">
		<div class="SashaKristinita">Поиск Кристиниты&nbsp;</div>
		<div class="SashaBeta"><sup>beta</sup></div>
	</div>
	<br />
	<!-- HTML5 validation, see:
	https://productforums.google.com/d/msg/customsearch/XE-cs3_oVuY/ohwVpwEUAgAJ and https://developers.google.com/custom-search/docs/element#html5 -->
	<div class="gcse-search" data-enableHistory="true" data-enableAutoComplete="true" data-autoCompleteMaxCompletions="10" data-enableOrderBy="false"></div>
	<br />
	<!-- Motto -->
	<div class="SashaMotto"><em><strong>Впитывайте знания,<br />не всякую информацию!</strong></em></div>
	<link href="https://fonts.googleapis.com/css?family=Lora&amp;subset=cyrillic&amp;display=swap" data-generated="http://enjoycss.com" rel="stylesheet" />
	<br />
	<!-- Footer -->
	<footer>
		<div class="SashaCopyright"> © <a class="SashaVKontakte" href="https://vk.com/psychologist_kira_k">Саша Черных</a>, 2016—20, <a class="SashaVKontakte" href="{{SITEURL}}/Pages/Terms-and-Conditions-and-Privacy-Policy.html"><em>Условия использования и политика конфиденциальности</em></a></div>
	</footer>
	<div>
		<div class="SashaBowserFirefox"></div>
		<div class="SashaBowserExplorer"></div>
	</div>
</body>

</html>
