<!DOCTYPE html>
<html lang="ru">

<head>
	<!-- Титульная фраза -->
	<title>
		Sasha Black — проверка репутации сайта
	</title>
	<!-- Описание страницы, изменение названия Эксплорера и адаптация для разных экранов -->
	<meta charset="utf-8" />
	<meta name="description" content="Sasha_Black — сервис проверки сайта на возможно вредоносное содержимое, наличие в вирусных и спам-базах, репутации на основе пользовательских оценок" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:title" content="Sasha Black" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{SITEURL}}/Sasha-Black" />
	<meta property="og:image" content="{{SITEURL}}/images/logo/SashaBlackLogo.jpg" />
	<meta property="og:description" content="Sasha_Black — сервис проверки сайта на возможно вредоносное содержимое, наличие в вирусных и спам-базах, репутации на основе пользовательских оценок" />
	<meta property="og:site_name" content="{{SITENAME}}" />
	{# [INFO] JSON-LD for Web Applications:
	https://www.darrenlester.com/blog/json-ld-structured-data-for-web-applications
	[WARNING] Google required “aggregateRating” and “offers” keys:
	https://search.google.com/structured-data/testing-tool #}
	<script type="application/ld+json">
	{
		"@context": "http://schema.org/",
		"@type": "WebApplication",
		"applicationCategory": "Validator",
		"applicationSubCategory": "Site checker",
		"browserRequirements": "Requires HTML5, JavaScript",
		"screenshot": "{{SITEURL}}/images/logo/SashaBlackLogo.jpg",
		"description": "Sasha_Black — сервис проверки сайта на возможно вредоносное содержимое, наличие в вирусных и спам-базах, репутации на основе пользовательских оценок",
		"name": "Sasha Black",
		"operatingSystem": "All"
	}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/gemini-scrollbar/index.js" defer></script>
	<script src="{{SITEURL}}/{{ THEME_STATIC_DIR }}/js/Gemini/gemini-non-scrollbar.min.js" defer></script>
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/general/hide-scrollbar.min.css" />
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/sections/sasha-black.min.css" />
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/sections/sasha-black-description.min.css" />
	<!-- Шрифты -->
	<link rel="stylesheet" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/general/fonts.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gemini-scrollbar/gemini-scrollbar.css" />
	<!-- Конец полей, отступов, оптимизации для мобильных устройств, растягивания бэкграунда и ширины картинок, не превышающей ширину экрана-->
	<!-- Иконочка Сашеньки -->
	<link rel="icon" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/icons/SashaBlack.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="{{SITEURL}}/{{ THEME_STATIC_DIR }}/images/icons/SashaBlack.ico" type="image/x-icon" />
	{# Xolonium font #}
	<link rel="stylesheet" href="https://fontlibrary.org/face/xolonium">
	<!-- Иконочка Сашеньки вставлена -->
	<script src="{{SITEURL}}/js/personal/Sasha-Black/Sasha-Black.min.js" defer></script>
	<!-- Бэкграунд -->
	</head>

	<body>
		<!-- Конец бэкграунда -->
		<!-- Логотип -->
		<p class="SashaCenter">
			<picture>
				<source srcset="{{SITEURL}}/images/logo/SashaBlackLogo.webp" type="image/webp">
			  	<img src="{{SITEURL}}/images/logo/SashaBlackLogo.jpg" alt="Sasha Black logo">
			</picture>
		</p>
		<br/>
		<img src="https://2no.co/1QBY.png" alt="Page loading, please, little wait" />
		<br/>
		<!-- Поле ввода -->
		<p class="SashaCenter">
			<input class="SashaBorderInput" name="sitename" id="sitename" placeholder="Введите URL сайта" autofocus/>
		</p>
		<!-- Кнопки-->
		<br/>
		<br/>
		{# [LEARN][JINJA] Replace multiple values in single template:
		http://jinja.pocoo.org/docs/latest/tricks/#highlighting-active-menu-items
		Use tuples in list:
		https://realpython.com/python-lists-tuples/#python-tuples
		[LEARN][JINJA] Use macros for nested variables:
		http://jinja.pocoo.org/docs/latest/templates/#macros
		https://stackoverflow.com/a/54695689/5951529
		[LEARN][JINJA] If minus sign, blank lines will removed:
		http://jinja.pocoo.org/docs/latest/templates/#whitespace-control
		#}
		{% macro kira_site_type(type) -%}
		    <span class="SashaCategory">{{type}}:</span>
		{%- endmacro %}
		{{ kira_site_type('Онлайн-сканеры') }}
		{% macro kira_checker(url, color, sitename) -%}
			<a onclick="KiraFunction(document.all.sitename.value, '{{url}}');" class="SashaButtonCategory {{color}}">&nbsp;{{sitename}}&nbsp;</a>
		{%- endmacro %}
		{% set kira_online_scaners = [
		    ('http://quttera.com/sitescan/', 'SashaButtonLightSkyBlue', 'Quttera'),
		    ('http://sitecheck.sucuri.net/results/', 'SashaButtonLimeGreen', 'Sucuri'),
		    ('http://www.isithacked.com/check/', 'SashaButtonPlum', 'Is&nbsp;It&nbsp;Hacked?'),
		    ('https://www.virustotal.com/ru/', 'SashaButtonSnow', 'VirusTotal')
		] %}
		{% for url, color, sitename in kira_online_scaners %}
		    {{ kira_checker(url, color, sitename) }}
		{% endfor %}
		<br>
		{{ kira_site_type('Блэклисты') }}
		{% set kira_blacklists = [
		    ('https://www.robtex.com/dns-lookup/', 'SashaButtonBisque', 'Robtex'),
		    ('http://mxtoolbox.com/SuperTool.aspx?action=blacklist%3a', 'SashaButtonOrange', 'MX&nbsp;Toolbox'),
		    ('http://rosinstrument.com/cgi-bin/blqw.pl?key=', 'SashaButtonYellow', 'Rosinstrument'),
		    ('http://www.urlvoid.com/scan/', 'SashaButtonDarkOrange', 'URL&nbsp;Void'),
		    ('http://vurl.mysteryfcm.co.uk/default.asp?btnvURL=Dissect&amp;selUAStr=1&amp;selServer=0&amp;ref=&amp;cbxSource=on&amp;cbxBlacklist=on&amp;url=http%3A%2F%2F', 'SashaButtonSilver', 'vURL')
		] %}
		{% for url, color, sitename in kira_blacklists %}
		    {{ kira_checker(url, color, sitename) }}
		{% endfor %}
		<br/>
		{{ kira_site_type('Пользовательские оценки') }}
		{% set kira_user_ratings = [
		    ('http://www.mywot.com/en/scorecard/', 'SashaButtonTomato', 'Web&nbsp;of&nbsp;Trust'),
		    ('http://www.webutations.net/go/review/', 'SashaButtonSeagreen', 'Webutation'),
		    ('https://ru.trustpilot.com/review/', 'SashaButtonChocolate', 'Trustpilot')
		] %}
		{% for url, color, sitename in kira_user_ratings %}
		    {{ kira_checker(url, color, sitename) }}
		{% endfor %}
		<br/>
		<br/>
		<br/>
		<!-- Текст -->
		<div class="SashaBottom">
			<div class="SashaCheckYourSite">
				Sasha Black — проверьте свой сайт
			</div>
			<span class="SashaOnlineScanners">
					на онлайн-сканерах, наличие в антивирусных базах, DNSBL и прочих чёрных списках, негативной репутации
				</span>
			<br/>
			<br/>
			<span class="SashaDifferentUrl">
					1. Введите URL заглавной страницы. Неважно, в каком виде: kristinita.ru , https://kristinita.ru , kristinita.ru/ или www.kristinita.ru .
					<br/>
					2. Нажимайте на кнопки, и по ссылкам всё должно быть понятно. Если нет, читайте
					{# [LEARN][HTML] Use “rel="noopener"” for “target="_blank"”:
					https://mathiasbynens.github.io/rel-noopener/
					Htmllint require it:
					https://github.com/htmllint/htmllint/issues/232
					[WARNING] Edge not support it:
					https://caniuse.com/#search=noopener
					https://github.com/MicrosoftEdge/Status/issues/450 #}
					<a href="{{SITEURL}}/Sasha-Black/Sasha-Black-description" target="_blank" rel="noopener" class="SashaReadHelp" title="Описание Sasha Black">
						справку</a>.
				</span>
		</div>
	</body>

</html>
