// Progressbar

Sasha-Body-Background = #f3efd6
Sasha-Progress-Bar = black
Sasha-Progressbar-Text = purple
Sasha-Progressbar-0 = olive
Sasha-Progressbar-10 = mediumpurple
Sasha-Progressbar-20 = peru
Sasha-Progressbar-30 = palevioletred
Sasha-Progressbar-40 = mediumaquamarine
Sasha-Progressbar-50 = sandybrown
Sasha-Progressbar-60 = lightgreen
Sasha-Progressbar-70 = powderblue
Sasha-Progressbar-80 = lightsalmon
Sasha-Progressbar-90 = pink
Sasha-Progressbar-100 = silver

@import "progressbar-core.styl"
